public/flow/controler.json
[{"id":"2767f0a.adf941","type":"switch","z":"115ba4e6.e111fb","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","outputs":2,"x":175.01734924316406,"y":150.64379119873047,"wires":[["4e89c013.b9ea9"],["f93535e6.c27178"]]},{"id":"f93535e6.c27178","type":"file in","z":"115ba4e6.e111fb","name":"","filename":"controlSetting.json","format":"utf8","x":210.8925323486328,"y":211.39426708221436,"wires":[["a808f85a.54d7d8","a88a6ee4.72ef4"]]},{"id":"a808f85a.54d7d8","type":"json","z":"115ba4e6.e111fb","name":"","x":195.89259719848633,"y":274.5608730316162,"wires":[["4cd2b334.7ea4cc","882c61b8.9a0c5"]]},{"id":"4cd2b334.7ea4cc","type":"debug","z":"115ba4e6.e111fb","name":"","active":false,"console":"false","complete":"false","x":229.64260864257812,"y":325.8942708969116,"wires":[]},{"id":"882c61b8.9a0c5","type":"function","z":"115ba4e6.e111fb","name":"set setting to flow ","func":"let setting = msg.payload;\nif (setting !== undefined) {\n    node.warn(JSON.stringify(setting));\n    context.global.setting = setting;\n    msg.payload = setting;\n    return msg;\n}\n","outputs":1,"noerr":0,"x":461.7675018310547,"y":273.22754287719727,"wires":[["4e89c013.b9ea9"]]},{"id":"a88a6ee4.72ef4","type":"debug","z":"115ba4e6.e111fb","name":"","active":false,"console":"false","complete":"false","x":412.3925018310547,"y":183.39424896240234,"wires":[]},{"id":"4e89c013.b9ea9","type":"function","z":"115ba4e6.e111fb","name":"","func":"let setting = context.global.setting;\nif (setting) {\n    let msg1 = {\"payload\": setting.mac};\n    let msg2 = {\"payload\": setting.gwId};\n    return [msg1, msg2];\n}\n","outputs":"2","noerr":0,"x":614.7673759460449,"y":146.44440841674805,"wires":[["eef2de0d.1b0a","42b88119.49ca9"],["4091f328.54ac5c","797f56b4.9e0cb8"]]},{"id":"42b88119.49ca9","type":"debug","z":"115ba4e6.e111fb","name":"","active":false,"console":"false","complete":"false","x":784.7673721313477,"y":86.37743759155273,"wires":[]},{"id":"eef2de0d.1b0a","type":"ui_text_input","z":"115ba4e6.e111fb","name":"","label":"","group":"8a67f12f.aa09f","order":0,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":776.7673377990723,"y":126.04424095153809,"wires":[["c1b2e814.3f2ed8"]]},{"id":"4091f328.54ac5c","type":"ui_text_input","z":"115ba4e6.e111fb","name":"","label":"","group":"d6c0faca.16aee8","order":0,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":777.4673042297363,"y":177.24410820007324,"wires":[["1d3595f4.468fca"]]},{"id":"797f56b4.9e0cb8","type":"debug","z":"115ba4e6.e111fb","name":"","active":false,"console":"false","complete":"false","x":782.4672889709473,"y":221.24408531188965,"wires":[]},{"id":"613a57b9.9f0028","type":"inject","z":"115ba4e6.e111fb","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":126.91109466552734,"y":84.00003814697266,"wires":[["2ba21593.789baa"]]},{"id":"2ba21593.789baa","type":"function","z":"115ba4e6.e111fb","name":"check setting","func":"let setting = context.global.setting;\ncontext.global.serialNum = 0x00;\n// node.warn(JSON.stringify(setting));\nif (setting) {\n    msg.payload = true;\n} else {\n    msg.payload = false;\n}\nreturn msg;","outputs":1,"noerr":0,"x":369.01737213134766,"y":84.64379501342773,"wires":[["2767f0a.adf941"]]},{"id":"c1b2e814.3f2ed8","type":"function","z":"115ba4e6.e111fb","name":"","func":"context.global.testMac = msg.payload;\nreturn;","outputs":1,"noerr":0,"x":922.117301940918,"y":126.3000259399414,"wires":[[]]},{"id":"1d3595f4.468fca","type":"function","z":"115ba4e6.e111fb","name":"","func":"context.global.testGWID = msg.payload;\nreturn;","outputs":1,"noerr":0,"x":919.2173385620117,"y":176.643798828125,"wires":[[]]},{"id":"cefff932.f8b468","type":"ui_button","z":"115ba4e6.e111fb","name":"","group":"c9970cff.5cfd9","order":2,"width":0,"height":0,"passthru":false,"label":"開始測試","color":"","bgcolor":"","icon":"","payload":"AA0302058E","payloadType":"str","topic":"","x":154.01732635498047,"y":392.6437568664551,"wires":[["7da317fb.969b38","82f1999e.e7ef78","81207d16.02928","81b52897.1f7e38","92572b30.f81ae8","c4258f32.489b","ce85da4e.76ebc8","7a08e269.6bdc5c","ffa787ec.5d0828"]]},{"id":"97517fbe.52d9e","type":"ui_template","z":"115ba4e6.e111fb","group":"58801ec4.f1f5b","name":"Command","order":0,"width":0,"height":0,"format":" <style type=\"text/css\">\n    label {\n        font: normal 18px courier !important;\n    }\n</style>\n<div style=\"height:200px\">\n    <label>說明: 每個測試間隔6秒</label>\n    <p></p>\n    <hr>\n    <label>測試: {{msg.payload.title}}</label>\n    <p></p>\n    <label>{{msg.payload.txt}}</label>\n    <br>\n    \n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":698.9173126220703,"y":1262.5938053131104,"wires":[[]]},{"id":"b6c63bd5.d9d728","type":"mqtt in","z":"115ba4e6.e111fb","name":"UL subscribe","topic":"GIOT-GW/UL/+","qos":"2","broker":"b67b5c02.dd3d","x":158.01734924316406,"y":863.643780708313,"wires":[["7d320341.20decc","8fe2e034.92504"]]},{"id":"7d320341.20decc","type":"debug","z":"115ba4e6.e111fb","name":"","active":false,"console":"false","complete":"false","x":369.3923797607422,"y":863.1603326797485,"wires":[]},{"id":"63afe4cf.6be1bc","type":"function","z":"115ba4e6.e111fb","name":"開關燈測試","func":"//控制開關燈＆調光\tHeader\tSerial Number\tCommand\tCode\tPL\tParameter\tChecksum\tEnd\n//關燈              AA\t    00             \t01    \t01    \t01\t00\t        03\t        8E\n//開燈\t            AA    \t00\t           \t01\t    01\t  \t01\tE4\t        E7\t        8E\n//調光10%\t        AA\t    00\t           \t01\t    01\t  \t01\t8A\t        8D\t        8E\n\nlet setting = context.global.setting;\n// node.warn(JSON.stringify(setting));\nlet switchFlag = msg.payload;\nif(switchFlag) {\n    context.global.ul = {\"cmd\": \"Switch_ON\", \"title\": \"1 開燈測試\", \"txt\" : \"請檢查燈具是否開啟\"};\n    context.global.ulObj = {};\n} else {\n    context.global.ul = {\"cmd\": \"Switch_OFF\", \"title\": \"2 關燈測試\", \"txt\" : \"請檢查燈具是否關閉\"};\n}\nlet ulObj =  context.global.ulObj;\nulObj[context.global.ul.cmd] = context.global.ul.title;\ncontext.global.ulOb = ulObj;\nlet data = getData(msg.payload);\n\ncontext.global.selectData = data;\nreturn msg;\n\nfunction getData(flag) {\n    let serialNum = context.global.serialNum + 1;\n    if (serialNum > 0xEF || context.global.enableSerialNum === false) {\n        serialNum = 0x00;\n    }\n    context.global.serialNum = serialNum;\n    let a0 = 0xAA; // Header\n    let a1 = serialNum; // Serial number\n    //a1 = 0x00;\n    let a2 = 0x01;//Command\n    let a3 = 0x01;//Code\n    let a4 = 0x01;//PL\n    let a5 = 0x00;//Praraeter 1 : 關燈\n    if(flag) {\n        a5 = 0xE4;//Praraeter 1 : 開燈\n    } \n    \n    let a6 = a2 + a3 + a4 + a5 ; //Checksum\n    // node.warn('before a7 :' + a7);\n    a6 = a6 & 0xFF;\n    // node.warn('after a7 :' + a7);\n    let a7 = 0x8E;//End\n\n    let test = toStr(a0) + toStr(a1) + toStr(a2) + toStr(a3) + toStr(a4) + toStr(a5);\n    test = test + toStr(a6) + toStr(a7);\n    return test;\n}\n\nfunction toStr(value) {\n    let str = '';\n    if (value < 0x10) {\n        str = '0' + value.toString(16);\n    } else {\n        str = value.toString(16);\n    }\n    // node.warn(str);\n    return str.toUpperCase();\n}","outputs":1,"noerr":0,"x":661.0173110961914,"y":394.6435956954956,"wires":[["4e3be33f.21cacc"]]},{"id":"4a06e3ad.49971c","type":"function","z":"115ba4e6.e111fb","name":"DL command","func":"// node.warn(msg.payload);\nlet setting =context.global.setting;\nlet msg1 = {\"topic\": msg.topic};\n// node.warn(JSON.stringify(setting));\nlet selectData = context.global.selectData;\nmsg.topic = 'GIOT-GW/DL/' + setting.gwId;\nlet mac = setting.mac;\nif (selectData === undefined) {\n    selectData = 'AA01010100038E';\n}\n\nlet tmp = {\"macAddr\": mac,\"data\": selectData,\"id\":\"1111111111\",\"extra\":{\"port\":1,\"txpara\":\"22\"}};\nmsg.payload = JSON.stringify([tmp]);\nreturn msg;","outputs":"1","noerr":0,"x":302.01734924316406,"y":1150.6438255310059,"wires":[["b4b5a92.9407658","e26a3b20.171f48","9a91cde8.db1b"]]},{"id":"b4b5a92.9407658","type":"mqtt out","z":"115ba4e6.e111fb","name":"","topic":"","qos":"","retain":"","broker":"b67b5c02.dd3d","x":522.0674667358398,"y":1151.443790435791,"wires":[]},{"id":"fa048947.aa8058","type":"link in","z":"115ba4e6.e111fb","name":"","links":["4e3be33f.21cacc"],"x":106.9110918045044,"y":1150.918888092041,"wires":[["4a06e3ad.49971c"]]},{"id":"4e3be33f.21cacc","type":"link out","z":"115ba4e6.e111fb","name":"","links":["fa048947.aa8058"],"x":861.9233493804932,"y":395.08112144470215,"wires":[]},{"id":"e26a3b20.171f48","type":"function","z":"115ba4e6.e111fb","name":"","func":"//msg.payload = (context.global.selectData).toLowerCase();\nmsg.payload = context.global.ul;\nreturn msg;\n","outputs":1,"noerr":0,"x":428.91732025146484,"y":1266.2999801635742,"wires":[["97517fbe.52d9e"]]},{"id":"9a91cde8.db1b","type":"debug","z":"115ba4e6.e111fb","name":"","active":true,"console":"false","complete":"false","x":553.9234619140625,"y":1215.1124019622803,"wires":[]},{"id":"8fe2e034.92504","type":"json","z":"115ba4e6.e111fb","name":"","x":161.01734161376953,"y":927.6438093185425,"wires":[["4bcf9795.65c9c8"]]},{"id":"4bcf9795.65c9c8","type":"function","z":"115ba4e6.e111fb","name":"Command type","func":"let arr = msg.payload;\nlet obj = arr[0];\nlet data = obj.data;\nlet mac = obj.macAddr;\nlet setting =context.global.setting;\nif (setting.mac !== mac) {\n    return;\n}\n\ncontext.global.responseMsg = obj;\nlet buff = new Buffer(data, 'hex');\nlet command = buff[2];\n// node.warn(command); \n\nmsg.payload = command;\nreturn msg;","outputs":1,"noerr":0,"x":320.0173797607422,"y":927.7771100997925,"wires":[["9a85e9b.6a59c18"]]},{"id":"9a85e9b.6a59c18","type":"function","z":"115ba4e6.e111fb","name":"*response control result","func":"//\n//Reply\t                Header\tSerial Number\tCommand\tCode\tResult\tChecksum\tEnd\n//控制開關燈＆調光回應\tAA\t    00\t            81\t    01\t    00\t    82\t        8E\n\n\nlet obj = context.global.responseMsg;\n// node.warn('Node response data : ' + obj.data);\nlet data = obj.data;\nlet serialNum = data.substring(2,4);\nlet command = data.substring(4,6);\nlet code = data.substring(6,8);\nlet type = context.global.ul.cmd;\nlet title = context.global.ul.title;\n// node.warn(typeof(command) + command);\n// node.warn(typeof(code) + code);\n/*if (command === '81') { // 控制開關燈＆調光回應\n    // type = 'Manual switch light or set dimming';\n    type = context.global.ul.cmd;\n    node.warn(type);\n} else if (command === '82') {\n    if (code === '01') {\n        type = 'Set or disable keep-Alive interval';\n    } else if (code === '02') {\n        type = 'Set controler time';\n    } else if (code === '03') {\n        type = 'Set automatic lighting';\n    } else if (code === '04') {\n        type = 'Set automatic light dimming value';\n    } else if (code === '05') {\n        type = 'Reset settings or records';\n    }\n} else if (command === '83') {\n    if (code === '01') {\n        type = 'Query controler status ';\n    } else if (code === '02') {\n        type = 'Query controller time';\n    } else if (code === '03') {\n        type = 'Query controller automatic lighting settings';\n    } else if (code === '04') {\n        type = 'Query Keep-Alive Interval';\n    } \n} else if (command === 'f1') {\n    type = 'Notify';\n}*/\n\nvar n = type.indexOf(\"Query\");\n// node.warn('Query : ' + n);\nlet resultCode = data.substring(8,10).toUpperCase();\n// node.warn('resultCode : ' + resultCode);\nlet result = '';\nif (n !== -1) {\n    result = '';\n} else if (resultCode === '00') {\n   result = 'OK'; \n}  else if (resultCode === 'E!') {\n   result = 'E1 : Invalid Code'; \n}  else if (resultCode === 'E2') {\n   result = 'E2 : Incorrect PL'; \n}  else if (resultCode === 'E3') {\n   result = 'E3 : Invalid Parameter'; \n}  else if (resultCode === 'E4') {\n   result = 'E4 : Incorrect Checksum'; \n}  else if (resultCode === 'E5') {\n   result = 'E5 : Without End'; \n} else if (resultCode === 'EF') {\n   result = 'E5 : Others'; \n}\nmsg.payload = {};\nmsg.payload.time = obj.time;\nmsg.payload.command  = command ;\nmsg.payload.code  = code ;\nmsg.payload.type = type;\nmsg.payload.title = title;\nmsg.payload.data = obj.data;\nmsg.payload.result = result;\n// node.warn(msg.payload);\n\nreturn msg;","outputs":"1","noerr":0,"x":550.0172653198242,"y":928.6438598632812,"wires":[["b63f6eae.c75b4","26ada83e.e28eb8","969d1048.d3f08","75870e83.b57e7"]]},{"id":"969d1048.d3f08","type":"ui_template","z":"115ba4e6.e111fb","group":"ba25d02e.ab28a","name":"Result","order":0,"width":0,"height":0,"format":" <style type=\"text/css\">\n    label {\n        font: normal 18px courier !important;\n    }\n</style>\n<div style=\"height:130px\">\n    <label>time: {{msg.payload.time}}</label>\n    <br>\n    <label>command: {{msg.payload.command}}</label>\n    <br>\n    <label>type: {{msg.payload.type}}</label>\n     <br>\n    <label>data: {{msg.payload.data}}</label>\n    <br>\n    <label>result: {{msg.payload.result}}</label>\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":773.017204284668,"y":880.4437446594238,"wires":[[]]},{"id":"26ada83e.e28eb8","type":"debug","z":"115ba4e6.e111fb","name":"","active":true,"console":"false","complete":"false","x":788.9172515869141,"y":798.9124984741211,"wires":[]},{"id":"4216d770.a447d8","type":"comment","z":"115ba4e6.e111fb","name":"接收上傳","info":"","x":148.91109466552734,"y":813.2062301635742,"wires":[]},{"id":"d55ecc6a.8d2f7","type":"comment","z":"115ba4e6.e111fb","name":"下發命令","info":"","x":153.91735076904297,"y":1113.206199645996,"wires":[]},{"id":"b07fef3a.f51c7","type":"trigger","z":"115ba4e6.e111fb","op1":"true","op2":"false","op1type":"bool","op2type":"bool","duration":"6","extend":false,"units":"s","reset":"","name":"開關","x":511.9110984802246,"y":395.43119716644287,"wires":[["63afe4cf.6be1bc"]]},{"id":"256e029b.cc51be","type":"inject","z":"115ba4e6.e111fb","name":"","topic":"","payload":"[{\"channel\":924125000, \"sf\":10, \"time\":\"2018-08-09T04:57:52\", \"gwip\":\"10.8.20.3\", \"gwid\":\"00001c497b48dc21\", \"repeater\":\"00000000ffffffff\", \"systype\":5, \"rssi\":-47.0, \"snr\":30.8, \"snr_max\":40.0, \"snr_min\":26.3, \"macAddr\":\"0000000005010bb6\", \"data\":\"fb0106d20ad4060530bb0000000000\", \"frameCnt\":3134, \"fport\":34}]","payloadType":"str","repeat":"","crontab":"","once":false,"x":168.9110870361328,"y":1039.993766784668,"wires":[["9c1d9e12.ddfd5"]]},{"id":"9c1d9e12.ddfd5","type":"function","z":"115ba4e6.e111fb","name":"DL command","func":"// node.warn(msg.payload);\nlet setting =context.global.setting;\nlet msg1 = {\"topic\": msg.topic};\n// node.warn(JSON.stringify(setting));\nlet selectData = context.global.selectData;\nmsg.topic = 'GIOT-GW/DL/' + setting.gwId;\n\nreturn msg;","outputs":"1","noerr":0,"x":326.0173873901367,"y":1041.6437892913818,"wires":[["b4b5a92.9407658"]]},{"id":"7da317fb.969b38","type":"delay","z":"115ba4e6.e111fb","name":"","pauseType":"delay","timeout":"18","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":342.91107177734375,"y":439.2624683380127,"wires":[["74238c63.bf7f04"]]},{"id":"32e3295e.25fba6","type":"function","z":"115ba4e6.e111fb","name":"調光測試","func":"//控制開關燈＆調光\tHeader\tSerial Number\tCommand\tCode\tPL\tParameter\tChecksum\tEnd\n//關燈              AA\t    00             \t01    \t01    \t01\t00\t        03\t        8E\n//開燈\t            AA    \t00\t           \t01\t    01\t  \t01\tE4\t        E7\t        8E\n//調光10%\t        AA\t    00\t           \t01\t    01\t  \t01\t8A\t        8D\t        8E\nlet lighting = msg.payload; \n// node.warn('lighting->' + lighting);\nlet cmd1 = 'Set_Dimming_' + lighting;\nvar title1 = '3 設定調光' + lighting + '%';\n if (lighting === 50) {\n    title1 = '4 設定調光' + lighting + '%';\n} else if (lighting === 10) {\n   title1 = '5 設定調光' + lighting + '%';\n}\nlet ulObj =  context.global.ulObj;\nulObj[context.global.ul.cmd] = context.global.ul.title;\ncontext.global.ulOb = ulObj;\nlet data = getData(msg.payload);\n\nlet txt1 = '請檢查電壓是否為:' + lighting/10 + 'V';\ncontext.global.ul = {\"cmd\": cmd1, \"title\": title1, \"txt\" : txt1};\nlet mdata = getData(lighting);\n// node.warn('data : ' + mdata);\nmsg.payload = mdata;\ncontext.global.selectData = mdata;\nreturn msg;\n\n\nfunction getData(num) {\n    let serialNum = context.global.serialNum + 1;\n    if (serialNum > 0xEF || context.global.enableSerialNum === false) {\n        serialNum = 0x00;\n    }\n    context.global.serialNum = serialNum;\n    let a0 = 0xAA; // Header\n    let a1 = serialNum; // Serial number\n    let a2 = 0x01;//Command\n    let a3 = 0x01;//Code\n    let a4 = 0x01;//PL\n    let a5 = num | 0x80;//Praraeter 1 : 調光\n    let a6 = a2 + a3 + a4 + a5 ; //Checksum\n    // node.warn('before a7 :' + a7);\n    a6 = a6 & 0xFF;\n    // node.warn('after a7 :' + a7);\n    let a7 = 0x8E;//End\n\n    let test = toStr(a0) + toStr(a1) + toStr(a2) + toStr(a3) + toStr(a4) + toStr(a5);\n    test = test + toStr(a6) + toStr(a7);\n    return test;\n}\n\nfunction toStr(value) {\n    let str = '';\n    if (value < 0x10) {\n        str = '0' + value.toString(16);\n    } else {\n        str = value.toString(16);\n    }\n    return str.toUpperCase();\n}","outputs":1,"noerr":0,"x":629.0173110961914,"y":460.6437873840332,"wires":[["4e3be33f.21cacc"]]},{"id":"82f1999e.e7ef78","type":"delay","z":"115ba4e6.e111fb","name":"","pauseType":"delay","timeout":"24","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":349.0173568725586,"y":481.643762588501,"wires":[["7113cfc0.3a2cf"]]},{"id":"7113cfc0.3a2cf","type":"trigger","z":"115ba4e6.e111fb","op1":"50","op2":"10","op1type":"num","op2type":"num","duration":"6","extend":false,"units":"s","reset":"","name":"調光","x":489.0173225402832,"y":480.6437520980835,"wires":[["32e3295e.25fba6"]]},{"id":"81207d16.02928","type":"function","z":"115ba4e6.e111fb","name":"#set  disable command","func":"context.global.selectData = getData();\ncontext.global.ul = {\"cmd\": \"Disable_KeepAlive\", \"title\": \"停止KeepAlive功\", \"txt\" : \"停止KeepAlive功能\"};\n// AA0201020000058E\nreturn msg;\n\nfunction getData() {\n    let serialNum = context.global.serialNum + 1;\n   if (serialNum > 0xEF || context.global.enableSerialNum === false) {\n        serialNum = 0x00;\n    }\n    context.global.serialNum = serialNum;\n    let a0 = 0xAA; // Header\n    let a1 = serialNum; // Serial number\n    let a2 = 0x02;\n    let a3 = 0x01;\n    let a4 = 0x03;\n    let a5 = 0x00;\n    let a6 = 0x00;\n    let a7 = 0x00;\n    let a8 = a2 + a3 + a4 + a5 + a6 + a7;\n    let a9 = 0x8E;\n    \n\n    let test = toStr(a0) + toStr(a1) + toStr(a2) + toStr(a3) + toStr(a4);\n    test = test + toStr(a5) + toStr(a6) + toStr(a7) + toStr(a8) + toStr(a9);\n    // node.warn(test);\n    return test;\n}\n\nfunction toStr(value) {\n    let str = '';\n    if (value < 0x10) {\n        str = '0' + value.toString(16);\n    } else {\n        str = value.toString(16);\n    }\n    return str.toUpperCase();\n}","outputs":1,"noerr":0,"x":659.0173110961914,"y":332.6437683105469,"wires":[["4e3be33f.21cacc"]]},{"id":"b63f6eae.c75b4","type":"function","z":"115ba4e6.e111fb","name":"Record log","func":"let record = context.global.record;\n// node.warn('record ' + typeof record + ' : ' + record);\n\nif(record === undefined) {\n   record = getInitRec();\n}\n\nlet obj = msg.payload;\n\nif (obj.type === 'Switch_ON') {\n    // node.warn('Init record');\n    record  = getInitRec();\n    context.global.fail = '';\n} \n\nif (obj.result === 'OK' || obj.result === '') {\n    record[obj.type] = true ;\n}\n\n// node.warn(JSON.stringify(record));\ncontext.global.record = record;\n\n\nreturn;\n\nfunction getInitRec() {\n    var rec = {};\n    log = '';\n    rec.Switch_ON = false;\n    rec.Switch_OFF = false;\n    rec.Set_Dimming_100 = false;\n    rec.Set_Dimming_50 = false;\n    rec.Set_Dimming_10 = false;\n    rec.Power_State = false;\n    rec.Set_Time = false;\n    rec.Queryt_Time = false;\n    return rec;\n}","outputs":1,"noerr":0,"x":790.9172782897949,"y":837.3060455322266,"wires":[[]]},{"id":"81b52897.1f7e38","type":"delay","z":"115ba4e6.e111fb","name":"","pauseType":"delay","timeout":"6","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":372.9111022949219,"y":398.2437343597412,"wires":[["b07fef3a.f51c7"]]},{"id":"9646b878.8e71f8","type":"ui_template","z":"115ba4e6.e111fb","group":"9e8f86b3.a437d8","name":"Log","order":0,"width":0,"height":0,"format":" <style type=\"text/css\">\n    label {\n        font: normal 18px courier !important;\n    }\n</style>\n<div style=\"height:200px\">\n    <label>控制器回應結果 : {{msg.payload.check}}</label>\n    <hr>\n    <label>未回應測試如下 : </label>\n    <hr>\n    <textarea id=\"myTextarea\" cols=\"40\">{{msg.payload.fail}}</textarea>\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":580.0171432495117,"y":736.6437282562256,"wires":[[]]},{"id":"ce85da4e.76ebc8","type":"delay","z":"115ba4e6.e111fb","name":"","pauseType":"delay","timeout":"56","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":228.91731643676758,"y":710.2563247680664,"wires":[["f7b20b76.dd9778"]]},{"id":"f7b20b76.dd9778","type":"function","z":"115ba4e6.e111fb","name":"","func":"let record = context.global.record;\nnode.warn(record);\nvar fail = '';\n\n\nlet ulObj =  context.global.ulObj;\n// node.warn(ulObj);\nlet keys = Object.keys(record);\nlet check = '全部測項都有回應';\nfor(let i in keys) {\n    \n    if(record[keys[i]] === false) {\n        node.warn(keys[i] + ' : ' + record[keys[i]]);\n        check = '部份測項沒有回應';\n        fail = fail + ulObj[keys[i]]  + '  ';\n    }\n}\nmsg.payload = {\"check\": check, \"fail\": fail};\n\nreturn msg;","outputs":1,"noerr":0,"x":393.9173240661621,"y":712.3063201904297,"wires":[["9646b878.8e71f8","e30054eb.d44e08"]]},{"id":"e30054eb.d44e08","type":"debug","z":"115ba4e6.e111fb","name":"","active":true,"console":"false","complete":"false","x":602.9172821044922,"y":670.1063270568848,"wires":[]},{"id":"156f464.1063cba","type":"inject","z":"115ba4e6.e111fb","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":224.92357635498047,"y":755.9999465942383,"wires":[["f7b20b76.dd9778"]]},{"id":"de960e84.e2092","type":"function","z":"115ba4e6.e111fb","name":"6 查詢負載狀態","func":"//Header Serial Number\tCommand\tCode\tChecksum\tEnd\n//AA\t 00  \t        03\t    01\t    04\t        8E\n\ncontext.global.selectData =  getData();\ncontext.global.ul = {\"cmd\": \"Power_State\", \"title\": \"6 查詢負載狀態\", \"txt\" : \"請檢查電壓電流狀態\"};\nlet ulObj =  context.global.ulObj;\nulObj[context.global.ul.cmd] = context.global.ul.title;\ncontext.global.ulOb = ulObj;\n// node.warn(context.global.selectData);\nreturn msg;\n\nfunction getData() {\n    let serialNum = context.global.serialNum + 1;\n    if (serialNum > 0xEF || context.global.enableSerialNum === false) {\n        serialNum = 0x00;\n    }\n    \n    context.global.serialNum = serialNum;\n    let a0 = 0xAA; // Header\n    let a1 = serialNum; // Serial number\n    let a2 = 0x03;//Command\n    let a3 = 0x01;//Code (查詢路燈狀態)\n    \n    let a4 = a2 + a3; //Checksum\n    // node.warn('before a6 :' + a6);\n    a4 = a4 & 0xFF;\n    let a5 = 0x8E;\n    \n    // node.warn('after a6 :' + a6);\n    let test = toStr(a0) + toStr(a1) + toStr(a2) + toStr(a3) + toStr(a4) + toStr(a5);\n    return test;\n}\n\nfunction toStr(value) {\n    let str = '';\n    if (value < 0x10) {\n        str = '0' + value.toString(16);\n    } else {\n        str = value.toString(16);\n    }\n    // node.warn(str);\n    return str.toUpperCase();\n}\n","outputs":1,"noerr":0,"x":637.9234924316406,"y":524.306224822998,"wires":[["4e3be33f.21cacc"]]},{"id":"92572b30.f81ae8","type":"delay","z":"115ba4e6.e111fb","name":"","pauseType":"delay","timeout":"36","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":348.0173568725586,"y":524.6438083648682,"wires":[["de960e84.e2092"]]},{"id":"75870e83.b57e7","type":"switch","z":"115ba4e6.e111fb","name":"","property":"payload.command","propertyType":"msg","rules":[{"t":"eq","v":"83","vt":"str"}],"checkall":"true","outputs":1,"x":795.923454284668,"y":933.1250171661377,"wires":[["157d205e.81e5a"]]},{"id":"157d205e.81e5a","type":"switch","z":"115ba4e6.e111fb","name":"Query code","property":"payload.code","propertyType":"msg","rules":[{"t":"eq","v":"01","vt":"str"},{"t":"eq","v":"02","vt":"str"},{"t":"eq","v":"03","vt":"str"},{"t":"eq","v":"04","vt":"str"}],"checkall":"true","outputs":4,"x":972.0172653198242,"y":931.6436939239502,"wires":[["99c39472.9773b8"],["b9e89c08.9169e"],[],[]]},{"id":"99c39472.9773b8","type":"function","z":"115ba4e6.e111fb","name":"Query code 01 負載狀態","func":"/*\n回傳路燈狀態\n            Header   Serial Notify Code DL light v1  c1  c2  p1  p2  p3   checksum End   \n                AA\t 00\t    83\t   01\t07\tE4\t 12\t 00\t 64\t 00\t 03\t E8\t   D0\t    8E\n            buff 0   1      2      3    4   5     6   7   8   9   10  11   12       13\n主動通知: Header   Serial Notify Code  DL  light v1  c1  c2  p1  p2  p3  時  分  秒  checksum End  \nKeep-Alive    AA\t00\t    F1\t   01\t0A\tE4\t 12\t 00\t 64\t 00\t 03\t E8\t 08\t 00\t 00\t 49\t      8E\nBoot Up       AA    00\t    F1\t   00\t0A  E4\t 12  00  64  00  03  E8  08  00  00  48\t      8E\nbuff           0     1      2      3    4   5    6   7   8   9   10  11  12  13  14  15       1\n*/\nlet obj = context.global.responseMsg;\nlet data = obj.data;\nlet buff = new Buffer(data, 'hex');\nlet lightSwitch = (buff[5] & 0x80) ? \"ON\" : \"OFF\";\nlet light = (buff[5] & 0x7F);\nlet voltage = \"電壓 : \" + buff[6];\nlet currentStr = data.substring(14,18); //buff7~8\nlet current = \"電流 : \" + parseInt(currentStr,16) / 100;\nlet powerStr = data.substring(18,24);   //buff9~11\nlet power = parseInt(powerStr,16) / 100;\nlet timeStr = data.substring(24,30);   //buff12~14\n\nmsg.payload = {\"voltage\" : voltage, \"current\": current};\n\nreturn msg;\n\nfunction getDateStr(mDate) {\n    let year = mDate.getFullYear();\n    let month =  getData(mDate.getMonth() + 1);\n    let day = getData(mDate.getDate());\n    let hour = getData(mDate.getHours());\n    let minute = getData(mDate.getMinutes());\n    let second = getData(mDate.getSeconds());\n    /*node.warn(year);\n    node.warn(month);\n    node.warn(day);\n    node.warn(hour);\n    node.warn(minute);\n    node.warn(second);*/\n    let str = year + '-' + month + '-' + day + ' ';\n    str = str + hour + ':' + minute + ':' + second;\n    return str;\n}\n\nfunction getData(data) {\n    if (data < 10) {\n        return '0' + data;\n    } else {\n        return data;\n    }\n}","outputs":"1","noerr":0,"x":1192.4676666259766,"y":866.9646425247192,"wires":[["52e030e.e3754d","90fe3bbc.643738"]]},{"id":"52e030e.e3754d","type":"debug","z":"115ba4e6.e111fb","name":"","active":true,"console":"false","complete":"false","x":1509.5109939575195,"y":863.112494468689,"wires":[]},{"id":"90fe3bbc.643738","type":"ui_template","z":"115ba4e6.e111fb","group":"ba25d02e.ab28a","name":"Result","order":0,"width":0,"height":0,"format":" <style type=\"text/css\">\n    label {\n        font: normal 18px courier !important;\n    }\n</style>\n<div style=\"height:70px\">\n    <label>{{msg.payload.voltage}}</label>\n    <br>\n    <label>{{msg.payload.current}}</label>\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1347.2172584533691,"y":311.6436996459961,"wires":[[]]},{"id":"eb02a0c0.471e4","type":"function","z":"115ba4e6.e111fb","name":"清除顯示","func":"msg.payload = {\"voltage\" : \"\", \"current\": \"\"};\n\nreturn msg;","outputs":1,"noerr":0,"x":1111.5234985351562,"y":434.30627632141113,"wires":[["90fe3bbc.643738"]]},{"id":"8b0e215f.f69c8","type":"function","z":"115ba4e6.e111fb","name":"7 設定時間","func":"context.global.selectData =  getData();\ncontext.global.ul = {\"cmd\": \"Set_Time\", \"title\": \"7 設定時間\", \"txt\" : \"設定目前系統時間到控制器\"};\nlet ulObj =  context.global.ulObj;\nulObj[context.global.ul.cmd] = context.global.ul.title;\ncontext.global.ulOb = ulObj;\nreturn msg;\n\nfunction getData() {\n    let serialNum = context.global.serialNum + 1;\n    if (serialNum > 0xEF || context.global.enableSerialNum === false) {\n        serialNum = 0x00;\n    }\n    context.global.serialNum = serialNum;\n    let a = new Date();\n    let a0 = 0xAA; // Header\n    let a1 = serialNum; // Serial number\n    let a2 = 0x02;//Command\n    let a3 = 0x02;//Code\n    let a4 = 0x06;//PL\n    let a5 = a.getFullYear() - 2000; //Parameter1\n    let a6 = a.getMonth()+1;       //Parameter2\n    let a7 = a.getDate();               //Parameter3\n    let a8 = a.getHours();        //Parameter4\n    let a9 = a.getMinutes();      //Parameter5\n    let a10 = a.getSeconds();      //Parameter6\n   \n    let a11 = a2 + a3 + a4 + a5;\n    a11 = a11 + a6 + a7 + a8 + a9 + a10;\n    // node.warn('before a10 :' + a10);\n    a11 = a11 & 0xFF; //Checksum\n    // node.warn('after a10 :' + a10);\n    let a12 = 0x8E;\n    // let test ='';\n    let test = toStr(a0) + toStr(a1) + toStr(a2) + toStr(a3) + toStr(a4) + toStr(a5) + toStr(a6);\n    test = test + toStr(a7) + toStr(a8) + toStr(a9) + toStr(a10) + toStr(a11)  + toStr(a12) ;\n    return test;\n}\n\nfunction toStr(value) {\n    let str = '';\n    if (value < 0x10) {\n        str = '0' + value.toString(16);\n    } else {\n        str = value.toString(16);\n    }\n    // node.warn(str);\n    return str.toUpperCase();\n}\n\n","outputs":1,"noerr":0,"x":639.9234924316406,"y":568.3062858581543,"wires":[["4e3be33f.21cacc"]]},{"id":"c4258f32.489b","type":"delay","z":"115ba4e6.e111fb","name":"","pauseType":"delay","timeout":"42","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":353.01737213134766,"y":565.4437990188599,"wires":[["8b0e215f.f69c8"]]},{"id":"794b687c.5f5248","type":"function","z":"115ba4e6.e111fb","name":"8 查詢時間","func":"// AA                   03      02   05        8E\n// Header Serial Number\tCommand\tCode Checksum  End\n// AA\t  00\t        03\t    02\t 05\t       8E\n\ncontext.global.selectData =  getData();\ncontext.global.ul = {\"cmd\": \"Queryt_Time\", \"title\": \"8 查詢時間\", \"txt\" : \"請檢查結果欄位時間值\"};\nlet ulObj =  context.global.ulObj;\nulObj[context.global.ul.cmd] = context.global.ul.title;\ncontext.global.ulOb = ulObj;\nreturn msg;\n\nfunction getData() {\n    let serialNum = context.global.serialNum + 1;\n    if (serialNum > 0xEF || context.global.enableSerialNum === false) {\n        serialNum = 0x00;\n    }\n    context.global.serialNum = serialNum;\n    let a0 = 0xAA; // Header\n    let a1 = serialNum; // Serial number\n    let a2 = 0x03;//Command\n    let a3 = 0x02;//Code (查詢控制器目前時間)\n    \n    let a4 = a2 + a3; //Checksum\n    a4 = a4 & 0xFF;\n    let a5 = 0x8E;\n    \n    let test = toStr(a0) + toStr(a1) + toStr(a2) + toStr(a3) + toStr(a4) + toStr(a5);\n    return test;\n}\n\nfunction toStr(value) {\n    let str = '';\n    if (value < 0x10) {\n        str = '0' + value.toString(16);\n    } else {\n        str = value.toString(16);\n    }\n    // node.warn(str);\n    return str.toUpperCase();\n}","outputs":1,"noerr":0,"x":638.8173217773438,"y":611.6438140869141,"wires":[["4e3be33f.21cacc"]]},{"id":"b9e89c08.9169e","type":"function","z":"115ba4e6.e111fb","name":"Query code 02 目前時間","func":"//Reply\tHeader Serial Command Code DL 年  月  日  時  分  秒  Checksum End\n//    \tAA\t   00\t  83\t  02   06 12  03  01  08  00  00  A9\t    8E\n\nlet obj = context.global.responseMsg;\nlet data = obj.data;\n// node.warn('Node response data : ' + data);\nlet buff = new Buffer(data, 'hex');\nlet year = (buff[5]+2000);\nlet month = (buff[6]);\nlet day = (buff[7]) ;\nlet hour = (buff[8]) ;\nlet minute = (buff[9]) ;\nlet second = (buff[10]) ;\nlet timeStr = data.substring(10, 22);\nlet time = year + '-' + toStr(month) + '-' + toStr(day) + ' ';\ntime = time + toStr(hour) + ':' + toStr(minute) + ':' + toStr(second);\n// let message =timeStr + ' -> ' + time;\nlet message = '控制器目前時間 : ' + time;\nmsg.payload = {\"time\": message};\n\nreturn msg;\n\nfunction toStr(value) {\n    let str = '';\n    if (value < 10) {\n        str = '0' + value;\n    } else {\n        str = value;\n    }\n    // node.warn(str);\n    return str;\n}","outputs":"1","noerr":0,"x":1237.4172973632812,"y":915.6438140869141,"wires":[["52e030e.e3754d","57a8b8c2.9f25c8"]]},{"id":"7a08e269.6bdc5c","type":"delay","z":"115ba4e6.e111fb","name":"","pauseType":"delay","timeout":"48","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":349.0173645019531,"y":616.6438140869141,"wires":[["794b687c.5f5248"]]},{"id":"74238c63.bf7f04","type":"function","z":"115ba4e6.e111fb","name":"100","func":"msg.payload = 100;\nreturn msg;","outputs":1,"noerr":0,"x":488.9172897338867,"y":439.3062267303467,"wires":[["32e3295e.25fba6"]]},{"id":"57a8b8c2.9f25c8","type":"ui_template","z":"115ba4e6.e111fb","group":"ba25d02e.ab28a","name":"Result","order":0,"width":0,"height":0,"format":" <style type=\"text/css\">\n    label {\n        font: normal 18px courier !important;\n    }\n</style>\n<div style=\"height:30px\">\n    <label>{{msg.payload.time}}</label>\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1467.2173461914062,"y":945.6438140869141,"wires":[[]]},{"id":"ffa787ec.5d0828","type":"function","z":"115ba4e6.e111fb","name":"清除顯示","func":"msg.payload = {\"check\": '', \"fail\": ''};\nreturn msg;","outputs":1,"noerr":0,"x":410.51732635498047,"y":780.2999801635742,"wires":[["9646b878.8e71f8","eb02a0c0.471e4","13637137.940c4f"]]},{"id":"13637137.940c4f","type":"function","z":"115ba4e6.e111fb","name":"清除顯示","func":"msg.payload = {\"time\": ''};\n\nreturn msg;","outputs":1,"noerr":0,"x":1174.1109924316406,"y":1030.2937545776367,"wires":[["57a8b8c2.9f25c8"]]},{"id":"8a67f12f.aa09f","type":"ui_group","z":"","name":"MAC","tab":"1cb2ff72.46b3b1","order":2,"disp":true,"width":"6","collapse":false},{"id":"d6c0faca.16aee8","type":"ui_group","z":"","name":"GWID","tab":"1cb2ff72.46b3b1","order":3,"disp":true,"width":"6","collapse":false},{"id":"c9970cff.5cfd9","type":"ui_group","z":"","name":"Test","tab":"1cb2ff72.46b3b1","order":1,"disp":true,"width":"6","collapse":false},{"id":"58801ec4.f1f5b","type":"ui_group","z":"","name":"Command","tab":"1cb2ff72.46b3b1","order":4,"disp":true,"width":"6","collapse":false},{"id":"b67b5c02.dd3d","type":"mqtt-broker","z":"","broker":"192.168.88.110","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"ba25d02e.ab28a","type":"ui_group","z":"","name":"Result","tab":"1cb2ff72.46b3b1","order":6,"disp":true,"width":"6","collapse":false},{"id":"9e8f86b3.a437d8","type":"ui_group","z":"","name":"Log","tab":"1cb2ff72.46b3b1","order":5,"disp":true,"width":"6","collapse":false},{"id":"1cb2ff72.46b3b1","type":"ui_tab","z":"","name":"控制器測試","icon":"dashboard","order":4}]