public/flow/light1.json
[{"id":"6f227cc6.033b64","type":"comment","z":"799392fa.734d8c","name":"Check current status comment","info":"","x":176.28570556640625,"y":245.61905336380005,"wires":[]},{"id":"26df5444.6518cc","type":"mqtt in","z":"799392fa.734d8c","name":"DL subscribe","topic":"GIOT-GW/DL/+","qos":"2","broker":"a195d5a1.a0cbf8","x":122.30001831054688,"y":154.06672286987305,"wires":[["69b635c.30f2ccc"]]},{"id":"1887ad3b.f21dc3","type":"mqtt in","z":"799392fa.734d8c","name":"UL subscribe","topic":"GIOT-GW/UL/+","qos":"2","broker":"a195d5a1.a0cbf8","x":103.80020141601562,"y":402.3168081045151,"wires":[["cb08e1c5.bde31","342a3069.1da3f"]]},{"id":"69b635c.30f2ccc","type":"debug","z":"799392fa.734d8c","name":"","active":false,"console":"false","complete":"false","x":332.3001251220703,"y":130.1334056854248,"wires":[]},{"id":"917e42ba.f7169","type":"comment","z":"799392fa.734d8c","name":"Receive DL flow","info":"","x":134.30001068115234,"y":114.53336572647095,"wires":[]},{"id":"bf94b5fe.b93b28","type":"comment","z":"799392fa.734d8c","name":"Receive UL flow","info":"","x":115.80020904541016,"y":353.78345489501953,"wires":[]},{"id":"5bb73bad.143494","type":"mqtt out","z":"799392fa.734d8c","name":"","topic":"","qos":"","retain":"","broker":"a195d5a1.a0cbf8","x":1167.5508308410645,"y":1432.3840970993042,"wires":[]},{"id":"bd96a0b4.6949c","type":"inject","z":"799392fa.734d8c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":204.42509078979492,"y":1601.650330543518,"wires":[["9b7801c1.23322"]]},{"id":"a6c947e.2abe2b8","type":"function","z":"799392fa.734d8c","name":"DL command","func":"// node.warn(msg.payload);\nlet setting =context.global.setting;\nlet msg1 = {\"topic\": msg.topic};\n// node.warn(JSON.stringify(setting));\nlet selectData = context.global.selectData;\nmsg.topic = 'GIOT-GW/DL/' + setting.gwId;\nlet mac = setting.mac;\nif (selectData === undefined) {\n    selectData = 'AA01010100038E';\n}\n\nlet tmp = {\"macAddr\": mac,\"data\": selectData,\"id\":\"1111111111\",\"extra\":{\"port\":1,\"txpara\":\"22\"}};\nmsg.payload = JSON.stringify([tmp]);\nmsg1.payload=\"clean\";\nreturn [msg1, msg];","outputs":"2","noerr":0,"x":784.5005493164062,"y":1351.5842056274414,"wires":[["7267be8e.37b3c","21fa9f86.61e31","a7c5758.fa0c288","fd306b01.6a9808","473c1706.438e08"],["88063a00.bce6d8","5bb73bad.143494","f3f7f9c7.65f208"]]},{"id":"1612579e.1aff98","type":"mosca in","z":"799392fa.734d8c","mqtt_port":1883,"mqtt_ws_port":8080,"name":"","username":"","password":"","dburl":"","x":141.3000030517578,"y":57.06666851043701,"wires":[["9ce9c7d2.e3ed78"]]},{"id":"9ce9c7d2.e3ed78","type":"debug","z":"799392fa.734d8c","name":"","active":false,"console":"false","complete":"false","x":336.30003356933594,"y":57.13333606719971,"wires":[]},{"id":"88063a00.bce6d8","type":"debug","z":"799392fa.734d8c","name":"","active":true,"console":"false","complete":"false","x":1158.8004417419434,"y":1384.0504350662231,"wires":[]},{"id":"e0a25d6c.862cb","type":"ui_slider","z":"799392fa.734d8c","name":"","label":"Adjust light","group":"eacf6a95.bd48d8","order":2,"width":0,"height":0,"passthru":true,"topic":"","min":0,"max":"100","step":"10","x":78.67507553100586,"y":1404.2169036865234,"wires":[["4574dbfc.d482b4","7b2acbb6.548b84","7d6d7119.22737"]]},{"id":"4574dbfc.d482b4","type":"debug","z":"799392fa.734d8c","name":"","active":false,"console":"false","complete":"false","x":253.67514038085938,"y":1405.8835468292236,"wires":[]},{"id":"b00fc008.71754","type":"ui_switch","z":"799392fa.734d8c","name":"","label":"Switch","group":"eacf6a95.bd48d8","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":60.67505645751953,"y":1320.8169708251953,"wires":[["942205a5.3cf768"]]},{"id":"21fa9f86.61e31","type":"function","z":"799392fa.734d8c","name":"response control result","func":"let msg1 = {\"payload\": ''};\nlet msg2 = {\"payload\": ''};\nlet msg3 = {\"payload\": ''};\nlet msg4 = {\"payload\": ''};\n\nif (msg.payload !== 'clean') {\n    let obj = context.global.responseMsg;\n    node.warn('Node response data : ' + obj.data);\n    let data = obj.data;\n    let command = data.substring(2,4);\n    let code = data.substring(4,6);\n    let type = '';\n    // node.warn(typeof(command) + command);\n    // node.warn(typeof(code) + code);\n    if (command === '81') {\n        type = 'Manual switch light or set dimming';\n    } else if (command === '82') {\n        if (code === '01') {\n            type = 'Set or disable keep-Alive interval';\n        } else if (code === '02') {\n            type = 'Set controler time';\n        } else if (code === '03') {\n            type = 'Set automatic lighting';\n        } else if (code === '04') {\n            type = 'Set automatic light dimming value';\n        } else if (code === '05') {\n            type = 'Reset settings or records';\n        }\n    } else if (command === '83') {\n        if (code === '01') {\n            type = 'Query controler status ';\n        } else if (code === '02') {\n            type = 'Query controler time';\n        } else if (code === '03') {\n            type = 'Query controler automatic lighting settings';\n        } \n    }\n    var n = type.indexOf(\"Query\");\n    // node.warn('Query : ' + n);\n    let resultCode = data.substring(6,8);\n    let result = 'OK';\n    if (n !== -1) {\n        result = '';\n    } else if (resultCode !== '00') {\n       result = code; \n    }\n    node.warn(obj);\n    msg1.payload = obj.time;\n    msg2.payload = type;\n    msg3.payload = obj.data;\n    msg4.payload = result;\n}\n\nreturn [msg1, msg2, msg3, msg4];","outputs":"4","noerr":0,"x":878.80029296875,"y":114.40007400512695,"wires":[["b6667f72.ca30a","ad09de26.d52ca","8c784b31.d821b8"],["b4a608a5.c15298","582b20fb.709cc"],["ac9e46a.1d325b8","ca6c1c9a.1a85"],["98f2b8d2.793628","e0b435c1.531488"]]},{"id":"cb08e1c5.bde31","type":"json","z":"799392fa.734d8c","name":"","x":283.8002471923828,"y":381.9834518432617,"wires":[["8332077d.67e308"]]},{"id":"b6667f72.ca30a","type":"debug","z":"799392fa.734d8c","name":"","active":false,"console":"false","complete":"false","x":880.0503921508789,"y":20,"wires":[]},{"id":"7b2acbb6.548b84","type":"function","z":"799392fa.734d8c","name":"","func":"let lighting = msg.payload;\n context.global.lighting = lighting;\nreturn msg;","outputs":1,"noerr":0,"x":241.6750602722168,"y":1365.283543586731,"wires":[[]]},{"id":"942205a5.3cf768","type":"function","z":"799392fa.734d8c","name":"Get mac","func":"let setting = context.global.setting;\n// node.warn(JSON.stringify(setting));\nlet option = msg.payload;\nlet data = 'AA01010100038E';\nif (option) {\n    data = 'AA010101E4E78E';\n}\ncontext.global.selectData = data;\nreturn msg;","outputs":1,"noerr":0,"x":215.6750259399414,"y":1322.2835655212402,"wires":[["a6c947e.2abe2b8"]]},{"id":"7699e9f7.e292b8","type":"comment","z":"799392fa.734d8c","name":"Clean field","info":"","x":982.9430465698242,"y":308.5572261810303,"wires":[]},{"id":"c6a019fd.255118","type":"ui_button","z":"799392fa.734d8c","name":"","group":"eacf6a95.bd48d8","order":4,"width":0,"height":0,"passthru":false,"label":"Set Dimming value","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":105.87498474121094,"y":1509.283302307129,"wires":[["98ec8e96.d8dea"]]},{"id":"98ec8e96.d8dea","type":"function","z":"799392fa.734d8c","name":"Get light","func":"let lighting = context.global.lighting; \n// node.warn('lighting->' + lighting);\nlet data = getData(lighting);\n// node.warn('data : ' + data);\nmsg.payload = data;\ncontext.global.selectData = data;\nreturn msg;\n\nfunction getData(num) {\n    let a0 = 0xAA;\n    let a1 = 0x01;\n    let a2 = 0x01;\n    let a3 = 0x01;\n    let a4 = 128 + num;\n    let tmp = a1 + a2 + a3 + a4 ;\n    let a5 = 0x0FF && tmp;\n    let a6 = 0x8E;\n\n    let test = toStr(a0) + toStr(a1) + toStr(a2) + toStr(a3);\n    test = test + toStr(a4) + toStr(a5) + toStr(a6) ;\n    return test;\n}\n\nfunction toStr(value) {\n    let str = '';\n    if (value < 0x10) {\n        str = '0' + value.toString(16);\n    } else {\n        str = value.toString(16);\n    }\n    return str.toUpperCase();\n}","outputs":1,"noerr":0,"x":250.67500686645508,"y":1496.6168155670166,"wires":[["4a665cf1.74ea44","a6c947e.2abe2b8"]]},{"id":"4a665cf1.74ea44","type":"debug","z":"799392fa.734d8c","name":"","active":false,"console":"false","complete":"false","x":412.67508697509766,"y":1457.5502090454102,"wires":[]},{"id":"8332077d.67e308","type":"function","z":"799392fa.734d8c","name":"Check kind of  response ","func":"let arr = msg.payload;\nlet obj = arr[0];\nlet data = obj.data;\ncontext.global.responseMsg = obj;\nvar buff = new Buffer(data, 'hex');\nmsg.payload = buff.length;\nreturn msg;","outputs":1,"noerr":0,"x":478.80029678344727,"y":383.1167697906494,"wires":[["fc3ec3e6.f99b1","21fa9f86.61e31"]]},{"id":"fc3ec3e6.f99b1","type":"switch","z":"799392fa.734d8c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"13","vt":"str"},{"t":"eq","v":"12","vt":"str"}],"checkall":"true","outputs":2,"x":669.4827728271484,"y":388.6906623840332,"wires":[["fd306b01.6a9808"],["45d203d.6ba4efc"]]},{"id":"cc240a98.9fcab8","type":"comment","z":"799392fa.734d8c","name":"Manual test","info":"","x":206.25000762939453,"y":1550.9168062210083,"wires":[]},{"id":"134d6e8d.1a1111","type":"comment","z":"799392fa.734d8c","name":"Switch light","info":"","x":80,"y":1282.1667261123657,"wires":[]},{"id":"dfeba370.15b7e","type":"comment","z":"799392fa.734d8c","name":"Manual light","info":"","x":75,"y":1453.4167261123657,"wires":[]},{"id":"8bfc4878.0e6d78","type":"function","z":"799392fa.734d8c","name":"DL command","func":"let selectData = 'AA0301048E';\nlet setting =context.global.setting;\nmsg.topic = 'GIOT-GW/DL/' + setting.gwId;\nlet mac = setting.mac;\nlet tmp = {\"macAddr\": mac,\"data\": selectData,\"id\":\"1111111111\",\"extra\":{\"port\":1,\"txpara\":\"22\"}};\nmsg.payload = JSON.stringify([tmp]);\nlet msg1 = {\"payload\": \"clean\"};\nreturn [msg, msg1];","outputs":"2","noerr":0,"x":900.166618347168,"y":272.50008392333984,"wires":[["fd0ea161.c3874","49537ec0.f1ff1","aa967333.bd4e7"],["fd306b01.6a9808"]]},{"id":"fd0ea161.c3874","type":"mqtt out","z":"799392fa.734d8c","name":"","topic":"","qos":"","retain":"","broker":"a195d5a1.a0cbf8","x":1126.416603088379,"y":263.5000228881836,"wires":[]},{"id":"fd306b01.6a9808","type":"function","z":"799392fa.734d8c","name":"response light status","func":"let msg1 = {\"payload\": ''};\nlet msg2 = {\"payload\": ''};\nlet msg3 = {\"payload\": ''};\nlet msg4 = {\"payload\": ''};\nlet msg5 = {\"payload\": ''};\nlet msg6 = {\"payload\": ''};\nlet msg7 = {\"payload\": ''};\nlet msg8 = {\"payload\": ''};\n// node.warn(msg.payload);\nif (msg.payload !== 'clean') {\n    let obj = context.global.responseMsg;\n    let data = obj.data;\n    let buff = new Buffer(data, 'hex');\n    let lightSwitch = (buff[4] & 0x80) ? \"ON\" : \"OFF\";\n    let light = (buff[4] & 0x7F);\n    let voltage = buff[5];\n    let currentStr = data.substring(12,16);\n    let current = parseInt(currentStr,16) / 100;\n    let powerStr = data.substring(16,22);\n    let power = parseInt(powerStr,16) / 100;\n    // node.warn(buff[5]);\n    // node.warn(light);\n    \n    \n    msg1 = {\"payload\": obj.time};\n    msg2 = {\"payload\": obj.data};\n    msg3 = {\"payload\": lightSwitch};\n    msg4 = {\"payload\": light};\n    msg5 = {\"payload\": data.substring(10,12) + ' -> ' + voltage};\n    msg6 = {\"payload\": currentStr + ' -> ' + current};\n    msg7 = {\"payload\": powerStr + ' -> ' + power};\n    if (buff[1] === 241) {\n        let day1 = context.global.aliveStartTime;\n        let day2 = new Date(obj.time);\n        // node.warn(typeof(day1) + ' : ' + day1 + '->' + day1.getTime());\n        // node.warn(typeof(day2) + ' : ' + day2 + '->' + day2.getTime());\n        let result = (day2.getTime() - day1.getTime())/60000;\n        let message = getDateStr(day1)+ '->'+ getDateStr(day2) + ' = '+ result + 'minutes';\n        msg8 = {\"payload\": message};\n        context.global.aliveStartTime = day2;\n        node.warn('Node response Keep-Alive data : ' + data);\n    } else {\n        node.warn('Node response query current status data : ' + data);\n    }\n    \n}\n\nreturn [msg1, msg2, msg3, msg4, msg5, msg6, msg7, msg8];\n\nfunction getDateStr(mDate) {\n    let year = mDate.getFullYear();\n    let month =  getData(mDate.getMonth() + 1);\n    let day = getData(mDate.getDate());\n    let hour = getData(mDate.getHours());\n    let minute = getData(mDate.getMinutes());\n    let second = getData(mDate.getSeconds());\n    /*node.warn(year);\n    node.warn(month);\n    node.warn(day);\n    node.warn(hour);\n    node.warn(minute);\n    node.warn(second);*/\n    let str = year + '-' + month + '-' + day + ' ';\n    str = str + hour + ':' + minute + ':' + second;\n    return str;\n}\n\nfunction getData(data) {\n    if (data < 10) {\n        return '0' + data;\n    } else {\n        return data;\n    }\n}","outputs":"8","noerr":0,"x":954.3755111694336,"y":419.8334655761719,"wires":[["9f559477.0fbf28"],["36d602a9.e8025e"],["b816073e.e61b38"],["3b088392.aac6ac"],["ae9a6725.cecfa8"],["b026944.c286968"],["b454c0ae.76b6c"],["6ffb65d4.aa218c","992cb573.eebd48"]]},{"id":"342a3069.1da3f","type":"debug","z":"799392fa.734d8c","name":"","active":true,"console":"false","complete":"false","x":422.37499237060547,"y":423.8333435058594,"wires":[]},{"id":"9b7801c1.23322","type":"function","z":"799392fa.734d8c","name":"Query light status","func":"let data = 'AA0301048E';\ncontext.global.selectData = data;\nreturn msg;","outputs":1,"noerr":0,"x":512.5000381469727,"y":1575.3334398269653,"wires":[["a6c947e.2abe2b8"]]},{"id":"49537ec0.f1ff1","type":"debug","z":"799392fa.734d8c","name":"","active":false,"console":"false","complete":"false","x":1064.7083854675293,"y":227.49999523162842,"wires":[]},{"id":"cea9b123.a271","type":"delay","z":"799392fa.734d8c","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":745.958366394043,"y":330.2499715089798,"wires":[["8bfc4878.0e6d78"]]},{"id":"17e640f6.e5a94f","type":"ui_button","z":"799392fa.734d8c","name":"","group":"5e1e127d.51574c","order":2,"width":0,"height":0,"passthru":false,"label":"Query Status","color":"","bgcolor":"#be9927","icon":"","payload":"","payloadType":"str","topic":"","x":639.0000915527344,"y":308.38099098205566,"wires":[["8bfc4878.0e6d78"]]},{"id":"ad09de26.d52ca","type":"ui_text","z":"799392fa.734d8c","group":"53871702.4f9878","order":5,"width":0,"height":0,"name":"","label":"Date : ","format":"{{msg.payload}}","layout":"row-left","x":1117.4285736083984,"y":26.000036239624023,"wires":[]},{"id":"c96abd98.8d39e","type":"ui_template","z":"799392fa.734d8c","group":"5e1e127d.51574c","name":"","order":1,"width":0,"height":0,"format":"<div layout=\"row\" layout-align=\"space-between\">\n<p>Verify current light, voltage, current and power ... etc</p>\n\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":103.28582000732422,"y":290.76197242736816,"wires":[[]]},{"id":"ac9e46a.1d325b8","type":"ui_text","z":"799392fa.734d8c","group":"53871702.4f9878","order":7,"width":0,"height":0,"name":"","label":"Data : ","format":"{{msg.payload}}","layout":"row-left","x":1122.4284286499023,"y":130.57143211364746,"wires":[]},{"id":"98f2b8d2.793628","type":"ui_text","z":"799392fa.734d8c","group":"53871702.4f9878","order":8,"width":0,"height":0,"name":"","label":"Result : ","format":"{{msg.payload}}","layout":"row-left","x":1149.285753250122,"y":180.14285469055176,"wires":[]},{"id":"9f559477.0fbf28","type":"ui_text","z":"799392fa.734d8c","group":"5e1e127d.51574c","order":0,"width":0,"height":0,"name":"","label":"Date : ","format":"{{msg.payload}}","layout":"row-left","x":1146.5714645385742,"y":309.8571939468384,"wires":[]},{"id":"36d602a9.e8025e","type":"ui_text","z":"799392fa.734d8c","group":"5e1e127d.51574c","order":0,"width":0,"height":0,"name":"","label":"Data : ","format":"{{msg.payload}}","layout":"row-left","x":1145.142822265625,"y":365.57147693634033,"wires":[]},{"id":"68054baa.424304","type":"comment","z":"799392fa.734d8c","name":"Clean field","info":"","x":832.4286193847656,"y":720.1429233551025,"wires":[]},{"id":"a66d9737.816e08","type":"comment","z":"799392fa.734d8c","name":"Control Response","info":"","x":697.8571624755859,"y":213.33332443237305,"wires":[]},{"id":"fdc2547a.c7b4b8","type":"comment","z":"799392fa.734d8c","name":"Status Response","info":"","x":663.1428375244141,"y":480.47621154785156,"wires":[]},{"id":"b816073e.e61b38","type":"ui_text","z":"799392fa.734d8c","group":"5e1e127d.51574c","order":0,"width":0,"height":0,"name":"","label":"Switch : ","format":"{{msg.payload}}","layout":"row-left","x":1155.1427688598633,"y":411.2857332229614,"wires":[]},{"id":"2e688d2b.11f632","type":"inject","z":"799392fa.734d8c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":579.0000479561942,"y":258.6666761125837,"wires":[["8bfc4878.0e6d78"]]},{"id":"3b088392.aac6ac","type":"ui_text","z":"799392fa.734d8c","group":"5e1e127d.51574c","order":0,"width":0,"height":0,"name":"","label":"Light : ","format":"{{msg.payload}}","layout":"row-left","x":1149.4285354614258,"y":458.42858600616455,"wires":[]},{"id":"7d6d7119.22737","type":"ui_text","z":"799392fa.734d8c","group":"eacf6a95.bd48d8","order":3,"width":0,"height":0,"name":"","label":"Light : ","format":"{{msg.payload}}","layout":"row-left","x":246.58934020996094,"y":1444.4762811660767,"wires":[]},{"id":"ae9a6725.cecfa8","type":"ui_text","z":"799392fa.734d8c","group":"5e1e127d.51574c","order":0,"width":0,"height":0,"name":"","label":"Voltage : ","format":"{{msg.payload}}","layout":"row-left","x":1162.2857131958008,"y":511.7618989944458,"wires":[]},{"id":"b026944.c286968","type":"ui_text","z":"799392fa.734d8c","group":"5e1e127d.51574c","order":0,"width":0,"height":0,"name":"","label":"Current : ","format":"{{msg.payload}}","layout":"row-left","x":1163.7143020629883,"y":558.4285860061646,"wires":[]},{"id":"b454c0ae.76b6c","type":"ui_text","z":"799392fa.734d8c","group":"5e1e127d.51574c","order":0,"width":0,"height":0,"name":"","label":"Power : ","format":"{{msg.payload}}","layout":"row-left","x":1169.4285354614258,"y":604.1428804397583,"wires":[]},{"id":"b88527ac.9f4098","type":"comment","z":"799392fa.734d8c","name":"Query automatic control comment","info":"","x":160.8571319580078,"y":506.1428632736206,"wires":[]},{"id":"c71abaff.843c48","type":"ui_button","z":"799392fa.734d8c","name":"","group":"19efbcc.47af443","order":0,"width":0,"height":0,"passthru":false,"label":"Query automatic control setting","color":"","bgcolor":"#be9927","icon":"","payload":"AA0303068E","payloadType":"str","topic":"query-auto-control-setting","x":154.42857360839844,"y":541.238130569458,"wires":[["85d9f6ea.7496a8","c1b4ba02.9d3a98"]]},{"id":"85d9f6ea.7496a8","type":"function","z":"799392fa.734d8c","name":"set selectData","func":"context.global.selectData = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":433.9999986376081,"y":561.8094738551548,"wires":[["a6c947e.2abe2b8"]]},{"id":"c1b4ba02.9d3a98","type":"debug","z":"799392fa.734d8c","name":"","active":false,"console":"false","complete":"false","x":407.85716247558594,"y":511.5238437652588,"wires":[]},{"id":"7267be8e.37b3c","type":"function","z":"799392fa.734d8c","name":"response auto control setting","func":"\nlet msg1 = {\"payload\": ''};\nlet msg2 = {\"payload\": ''};\nlet msg3 = {\"payload\": ''};\nlet msg4 = {\"payload\": ''};\nlet msg5 = {\"payload\": ''};\nlet msg6 = {\"payload\": ''};\nif (msg.payload !== 'clean') {\n    let obj = context.global.responseMsg;\n    let data = obj.data;\n    node.warn('Node response data : ' + data);\n    let buff = new Buffer(data, 'hex');\n    let statusCode = (buff[4]) ;\n    let status = '00 -> Disable automatic lighting on and off';\n    if (statusCode === 1) {\n        status = '00 -> Enable automatic lighting off';\n    } else if (statusCode === 2) {\n        status = '00 -> Enable automatic lighting on';\n    } else if (statusCode === 3) {\n        status = '00 -> Enable automatic lighting on and off';\n    }\n    let light = buff[5];\n    let onHex = data.substring(12,16);\n    let offHex = data.substring(16,20);\n    let onStr = buff[6] + ':' + toStr(buff[7]);\n    let offStr = buff[8] + ':' + toStr(buff[9]);\n    \n    msg1 = {\"payload\": obj.time};\n    msg2 = {\"payload\": obj.data};\n    msg3 = {\"payload\": status};\n    msg4 = {\"payload\": data.substring(10,12) + ' -> ' + light};\n    msg5 = {\"payload\": onHex + ' -> ' + onStr};\n    msg6 = {\"payload\": offHex + ' -> ' + offStr};\n}\n\n\nreturn [msg1, msg2, msg3, msg4, msg5, msg6];\n\nfunction toStr(value) {\n    let str = '';\n    if (value < 0x10) {\n        str = '0' + value.toString(16);\n    } else {\n        str = value.toString(16);\n    }\n    // node.warn(str);\n    return str.toUpperCase();\n}\n","outputs":"7","noerr":0,"x":1161.1428833007812,"y":774.2857627868652,"wires":[["c051561a.651f08"],["c901ed0f.40bef"],["9bb31fd8.2c828"],["8f59269.973fcd8"],["7c9ab3db.e217ec"],["52047035.f3e36"],[]]},{"id":"c051561a.651f08","type":"ui_text","z":"799392fa.734d8c","group":"19efbcc.47af443","order":0,"width":0,"height":0,"name":"","label":"Date : ","format":"{{msg.payload}}","layout":"row-left","x":1450,"y":624,"wires":[]},{"id":"c901ed0f.40bef","type":"ui_text","z":"799392fa.734d8c","group":"19efbcc.47af443","order":0,"width":0,"height":0,"name":"","label":"Data : ","format":"{{msg.payload}}","layout":"row-left","x":1448.5713577270508,"y":679.714282989502,"wires":[]},{"id":"9bb31fd8.2c828","type":"ui_text","z":"799392fa.734d8c","group":"19efbcc.47af443","order":0,"width":0,"height":0,"name":"","label":"Status : ","format":"{{msg.payload}}","layout":"row-left","x":1458.571304321289,"y":725.428539276123,"wires":[]},{"id":"8f59269.973fcd8","type":"ui_text","z":"799392fa.734d8c","group":"19efbcc.47af443","order":0,"width":0,"height":0,"name":"","label":"Light : ","format":"{{msg.payload}}","layout":"row-left","x":1452.8570709228516,"y":772.5713920593262,"wires":[]},{"id":"7c9ab3db.e217ec","type":"ui_text","z":"799392fa.734d8c","group":"19efbcc.47af443","order":0,"width":0,"height":0,"name":"","label":"Lghting on : ","format":"{{msg.payload}}","layout":"row-left","x":1475.7142486572266,"y":825.9047050476074,"wires":[]},{"id":"52047035.f3e36","type":"ui_text","z":"799392fa.734d8c","group":"19efbcc.47af443","order":0,"width":0,"height":0,"name":"","label":"Lghting off : ","format":"{{msg.payload}}","layout":"row-left","x":1477.142837524414,"y":872.5713920593262,"wires":[]},{"id":"48dff8f9.391ae8","type":"comment","z":"799392fa.734d8c","name":"Clean field","info":"","x":939.4285507202148,"y":1041.4285326004028,"wires":[]},{"id":"a4cfa06d.37b4b","type":"ui_button","z":"799392fa.734d8c","name":"","group":"22a82cf8.6ac864","order":0,"width":0,"height":0,"passthru":false,"label":"Query Controler time","color":"","bgcolor":"#be9927","icon":"","payload":"AA0302058E","payloadType":"str","topic":"","x":121.95228576660156,"y":658.6667385101318,"wires":[["aa01a0e1.8cb65","b5a87369.7e9a"]]},{"id":"aa01a0e1.8cb65","type":"function","z":"799392fa.734d8c","name":"set selectData ","func":"context.global.selectData = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":439.523717880249,"y":686.2380428314209,"wires":[["a6c947e.2abe2b8"]]},{"id":"b5a87369.7e9a","type":"debug","z":"799392fa.734d8c","name":"","active":false,"console":"false","complete":"false","x":420.3809108734131,"y":635.9523773193359,"wires":[]},{"id":"45d203d.6ba4efc","type":"function","z":"799392fa.734d8c","name":"","func":"let obj = context.global.responseMsg;\nlet data = obj.data;\nlet buff = new Buffer(data, 'hex');\nmsg.payload = (buff[2]) ;\nreturn msg;","outputs":1,"noerr":0,"x":652,"y":656,"wires":[["761ca5b6.78cd7c"]]},{"id":"761ca5b6.78cd7c","type":"switch","z":"799392fa.734d8c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"3","vt":"num"},{"t":"eq","v":"2","vt":"str"}],"checkall":"true","outputs":2,"x":848,"y":910,"wires":[["7267be8e.37b3c"],["a7c5758.fa0c288"]]},{"id":"a7c5758.fa0c288","type":"function","z":"799392fa.734d8c","name":"response auto control setting","func":"let msg1 = {\"payload\": ''};\n\nif (msg.payload !== 'clean') {\n    // node.warn('$$$$$$$$$$$$$$');\n    let obj = context.global.responseMsg;\n    let data = obj.data;\n    node.warn('Node response data : ' + data);\n    let buff = new Buffer(data, 'hex');\n    let year = (buff[4]+2000);\n    let month = (buff[5]);\n    let day = (buff[6]) ;\n    let hour = (buff[7]) ;\n    let minute = (buff[8]) ;\n    let second = (buff[9]) ;\n    let time = year + '-' + month + '-' + day + ' ';\n    time = time + hour + ':' + minute + ':' + second;\n    msg1 = {\"payload\": time};\n}\n\n\nreturn msg1;","outputs":"1","noerr":0,"x":1169.9999084472656,"y":980.9999580383301,"wires":[["b0012437.6437f8"]]},{"id":"b0012437.6437f8","type":"ui_text","z":"799392fa.734d8c","group":"22a82cf8.6ac864","order":0,"width":0,"height":0,"name":"","label":"Current time : ","format":"{{msg.payload}}","layout":"row-left","x":1473.9999084472656,"y":985.9999561309814,"wires":[]},{"id":"6ffb65d4.aa218c","type":"ui_text","z":"799392fa.734d8c","group":"5e1e127d.51574c","order":0,"width":0,"height":0,"name":"","label":"Keep-Alive : ","format":"{{msg.payload}}","layout":"row-left","x":1178.0186233520508,"y":652.0248851776123,"wires":[]},{"id":"d214ee91.a3ac1","type":"ui_button","z":"799392fa.734d8c","name":"","group":"d07fd705.2ac8c8","order":2,"width":0,"height":0,"passthru":false,"label":"Setting Keep-Alive","color":"","bgcolor":"","icon":"","payload":"AA0302058E","payloadType":"str","topic":"","x":111.84605026245117,"y":1176.6915740966797,"wires":[["40b50fe3.09fc4"]]},{"id":"40b50fe3.09fc4","type":"function","z":"799392fa.734d8c","name":"set selectData","func":"context.global.lastTime = new Date();\nlet aliveTime = context.global.aliveTime;\ncontext.global.selectData = getData(aliveTime);\nlet newDate = new Date();\nnewDate.setTime(newDate.getTime() + (newDate.getTimezoneOffset() *60*1000));\ncontext.global.aliveStartTime = newDate;\nreturn msg;\n\nfunction getData(num) {\n    let a0 = 0xAA;\n    let a1 = 0x02;\n    let a2 = 0x01;\n    let a3 = 0x02;\n    let a4 = num >> 8;\n    let a5 = num & 0x00FF;\n    let a6 = a1 + a2 + a3 + a4 + a5;\n    let a7 = 0x8E;\n    \n\n    let test = toStr(a0) + toStr(a1) + toStr(a2) + toStr(a3);\n    test = test + toStr(a4) + toStr(a5) + toStr(a6) + toStr(a7);\n    return test;\n}\n\nfunction toStr(value) {\n    let str = '';\n    if (value < 0x10) {\n        str = '0' + value.toString(16);\n    } else {\n        str = value.toString(16);\n    }\n    return str.toUpperCase();\n}\n\n","outputs":1,"noerr":0,"x":442.41747283935547,"y":1180.2627573013306,"wires":[["a6c947e.2abe2b8"]]},{"id":"3cb6d19d.c58c5e","type":"ui_text_input","z":"799392fa.734d8c","name":"","label":"Time (minutes)","group":"d07fd705.2ac8c8","order":1,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":108.7874984741211,"y":1130.0123596191406,"wires":[["ec7ab56b.a3ef48","64542c9f.65ec54"]]},{"id":"ec7ab56b.a3ef48","type":"function","z":"799392fa.734d8c","name":"set alive time","func":"let aliveTime = Number(msg.payload);\nnode.warn('aliveTime : ' + aliveTime);\ncontext.global.aliveTime = aliveTime;\nreturn msg;","outputs":1,"noerr":0,"x":333.7875099182129,"y":1128.887336730957,"wires":[[]]},{"id":"64542c9f.65ec54","type":"debug","z":"799392fa.734d8c","name":"","active":true,"console":"false","complete":"false","x":305.7937240600586,"y":1088.6873989105225,"wires":[]},{"id":"ed2443f8.8eb04","type":"ui_button","z":"799392fa.734d8c","name":"","group":"d07fd705.2ac8c8","order":2,"width":0,"height":0,"passthru":false,"label":"Disable Keep-Alive","color":"","bgcolor":"Gray","icon":"","payload":"AA0201020000058E","payloadType":"str","topic":"","x":125.89372253417969,"y":1235.0248699188232,"wires":[["f43aaf48.f3673"]]},{"id":"f43aaf48.f3673","type":"function","z":"799392fa.734d8c","name":"set selectData","func":"context.global.selectData = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":360.89376068115234,"y":1233.0249156951904,"wires":[["a6c947e.2abe2b8"]]},{"id":"3a636998.24c7d6","type":"ui_toast","z":"799392fa.734d8c","position":"top right","displayTime":"20","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"","x":1522.9123086929321,"y":473.8248586654663,"wires":[]},{"id":"992cb573.eebd48","type":"switch","z":"799392fa.734d8c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"","vt":"str"}],"checkall":"true","outputs":1,"x":1304.7187194824219,"y":474.7124443054199,"wires":[["3a636998.24c7d6"]]},{"id":"daf550f8.5b39f","type":"comment","z":"799392fa.734d8c","name":"Setting Keep-Alive","info":"","x":109.7874984741211,"y":1094.5749416351318,"wires":[]},{"id":"25ad7789.521418","type":"comment","z":"799392fa.734d8c","name":"Query controler time","info":"","x":118.01873779296875,"y":612.0249061584473,"wires":[]},{"id":"6c074119.e511a","type":"ui_text_input","z":"799392fa.734d8c","name":"","label":"Year","group":"e0a6d0d1.23fc5","order":0,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":87.91250610351562,"y":777.024915099144,"wires":[["98385297.3e96d"]]},{"id":"d219ea80.d7a718","type":"ui_text_input","z":"799392fa.734d8c","name":"","label":"Month","group":"e0a6d0d1.23fc5","order":0,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":83.01876068115234,"y":816.0249074697495,"wires":[["45a1cafe.3a7654"]]},{"id":"40fc0d40.e4d4e4","type":"ui_text_input","z":"799392fa.734d8c","name":"","label":"Day","group":"e0a6d0d1.23fc5","order":0,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":86.01876068115234,"y":852.0249074697495,"wires":[["a9fa2405.6eba68"]]},{"id":"a4f70e8d.56e2d","type":"ui_text_input","z":"799392fa.734d8c","name":"","label":"Hours","group":"e0a6d0d1.23fc5","order":0,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":89.01876068115234,"y":887.0249074697495,"wires":[["af5f54c.93014a8"]]},{"id":"65f32ffa.05281","type":"ui_text_input","z":"799392fa.734d8c","name":"","label":"Minutes","group":"e0a6d0d1.23fc5","order":0,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":93.12500762939453,"y":928.0248664617538,"wires":[["d09b092c.1a8448"]]},{"id":"d3dfd5b0.b27508","type":"ui_text_input","z":"799392fa.734d8c","name":"","label":"seconds","group":"e0a6d0d1.23fc5","order":0,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":97.12501525878906,"y":962.0248998403549,"wires":[["3453089.d9549f8"]]},{"id":"98385297.3e96d","type":"function","z":"799392fa.734d8c","name":"set selectYear","func":"context.global.selectYear = Number(msg.payload);\nnode.warn(typeof context.global.selectYear + context.global.selectYear)\nreturn msg;","outputs":1,"noerr":0,"x":266.0187683105469,"y":775.0249074697495,"wires":[[]]},{"id":"45a1cafe.3a7654","type":"function","z":"799392fa.734d8c","name":"set selectMonth","func":"context.global.selectMonth = Number(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":263.0187683105469,"y":810.0249074697495,"wires":[[]]},{"id":"a9fa2405.6eba68","type":"function","z":"799392fa.734d8c","name":"set selectDay","func":"context.global.selectDay = Number(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":265.0187683105469,"y":850.0249074697495,"wires":[[]]},{"id":"af5f54c.93014a8","type":"function","z":"799392fa.734d8c","name":"selectHour","func":"context.global.selectHour = Number(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":259.0187683105469,"y":885.0249074697495,"wires":[[]]},{"id":"d09b092c.1a8448","type":"function","z":"799392fa.734d8c","name":"set selectMinute","func":"context.global.selectMinute = Number(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":280.0187683105469,"y":922.0249074697495,"wires":[[]]},{"id":"3453089.d9549f8","type":"function","z":"799392fa.734d8c","name":"set selectSecond","func":"node.warn('secondes : ' + msg.payload);\ncontext.global.selectSecond = Number(msg.payload);\nnode.warn('context.global.selectSecond : ' + context.global.selectSecond);\nreturn msg;","outputs":1,"noerr":0,"x":278.0187644958496,"y":960.0248883962631,"wires":[[]]},{"id":"2c026c6e.a51de4","type":"ui_button","z":"799392fa.734d8c","name":"","group":"e0a6d0d1.23fc5","order":0,"width":0,"height":0,"passthru":false,"label":"Setting time","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":105.91250610351562,"y":1001.1436589956284,"wires":[["69c09778.20c9c8"]]},{"id":"69c09778.20c9c8","type":"function","z":"799392fa.734d8c","name":"set selectSeconds","func":"if (context.global.selectYear === undefined) {\n    return [null,{\"payload\":\"Year is not defined\"}];\n}\nif (context.global.selectMonth === undefined) {\n    return [null,{\"payload\":\"Month is not defined\"}];\n}\nif (context.global.selectDay === undefined) {\n    return [null,{\"payload\":\"Day is not defined\"}];\n}\nif (context.global.selectHour === undefined) {\n    return [null,{\"payload\":\"Hour is not defined\"}];\n}\nif (context.global.selectMinute === undefined) {\n    return [null,{\"payload\":\"Minute is not defined\"}];\n}\nif (context.global.selectSecond === undefined) {\n    return [null,{\"payload\":\"Second is not defined\"}];\n}\ncontext.global.selectData =  getData();\nnode.warn(context.global.selectData);\nreturn [msg, null];\n\nfunction getData() {\n    let a0 = 0xAA;\n    let a1 = 0x02;\n    let a2 = 0x02;\n    let a3 = 0x06;\n    let a4 = context.global.selectYear - 2000;\n    let a5 = context.global.selectMonth;\n    let a6 = context.global.selectDay;\n    let a7 = context.global.selectHour;\n    let a8 = context.global.selectMinute;\n    let a9 = context.global.selectSecond;\n    \n    let a10 = a1 + a2 + a3 + a4 + a5;\n    a10 = a10 + a6 + a7 + a8 + a9;\n    // node.warn('before a10 :' + a10);\n    a10 = a10 & 0xFF;\n    // node.warn('after a10 :' + a10);\n    let a11 = 0x8E;\n    \n\n    let test = toStr(a0) + toStr(a1) + toStr(a2) + toStr(a3) + toStr(a4) + toStr(a5);\n    test = test + toStr(a6) + toStr(a7) + toStr(a8) + toStr(a9) + toStr(a10) + toStr(a11);\n    return test;\n}\n\nfunction toStr(value) {\n    let str = '';\n    if (value < 0x10) {\n        str = '0' + value.toString(16);\n    } else {\n        str = value.toString(16);\n    }\n    // node.warn(str);\n    return str.toUpperCase();\n}\n","outputs":"2","noerr":0,"x":295.0187759399414,"y":1005.0248069763184,"wires":[["a6c947e.2abe2b8"],["fc1429c.6070dd8"]]},{"id":"2b91039c.4369cc","type":"comment","z":"799392fa.734d8c","name":"Setting current time","info":"","x":128.92495727539062,"y":738.5749034881592,"wires":[]},{"id":"88b38a92.7d7158","type":"comment","z":"799392fa.734d8c","name":"Check Current Status","info":"","x":441.1187515258789,"y":310.57496643066406,"wires":[]},{"id":"fc1429c.6070dd8","type":"ui_toast","z":"799392fa.734d8c","position":"top right","displayTime":"5","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"","x":515.9187316894531,"y":1010.8249788284302,"wires":[]},{"id":"473953c.47f2eac","type":"ui_text_input","z":"799392fa.734d8c","name":"","label":"Hours","group":"2be661c8.23135e","order":0,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":83.01875305175781,"y":1698.0248546600342,"wires":[["a6813d85.a9e6c"]]},{"id":"a6813d85.a9e6c","type":"function","z":"799392fa.734d8c","name":"selectHour","func":"context.global.autoHour = Number(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":253.01876068115234,"y":1696.0248546600342,"wires":[[]]},{"id":"a43c8801.e15f98","type":"ui_text_input","z":"799392fa.734d8c","name":"","label":"Minutes","group":"2be661c8.23135e","order":0,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":87.125,"y":1739.0248136520386,"wires":[["80f11500.705318"]]},{"id":"80f11500.705318","type":"function","z":"799392fa.734d8c","name":"set selectMinute","func":"context.global.autoMinute = Number(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":274.01876068115234,"y":1733.0248546600342,"wires":[[]]},{"id":"89c11299.7a204","type":"comment","z":"799392fa.734d8c","name":"Auto lifgting on & off with time setting","info":"","x":176.9187774658203,"y":1654.7811574935913,"wires":[]},{"id":"b8073422.938c38","type":"ui_button","z":"799392fa.734d8c","name":"","group":"2be661c8.23135e","order":0,"width":0,"height":0,"passthru":false,"label":"Enable Auto Lighting Off","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":141.91876220703125,"y":1784.1437149047852,"wires":[["ea4ba9c8.8ee958"]]},{"id":"6b6d5ac1.70d584","type":"ui_button","z":"799392fa.734d8c","name":"","group":"2be661c8.23135e","order":0,"width":0,"height":0,"passthru":false,"label":"Enable Auto Lighting On","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":137.01876068115234,"y":1831.02490234375,"wires":[["5f00cd5d.11d4f4"]]},{"id":"e0d3ce1b.40198","type":"ui_button","z":"799392fa.734d8c","name":"","group":"2be661c8.23135e","order":0,"width":0,"height":0,"passthru":false,"label":"Disable Auto Light ng Off","color":"","bgcolor":"gray","icon":"","payload":"","payloadType":"str","topic":"","x":137.01876068115234,"y":1872.02490234375,"wires":[["435a76d5.c2ad98"]]},{"id":"7d8359f5.7155e8","type":"ui_button","z":"799392fa.734d8c","name":"","group":"2be661c8.23135e","order":0,"width":0,"height":0,"passthru":false,"label":"Disable Auto Lighting On","color":"","bgcolor":"gray","icon":"","payload":"","payloadType":"str","topic":"","x":141.0187530517578,"y":1917.02490234375,"wires":[["83daa9cb.e65948"]]},{"id":"8fdd301d.440c9","type":"ui_button","z":"799392fa.734d8c","name":"","group":"2be661c8.23135e","order":0,"width":0,"height":0,"passthru":false,"label":"Disable Auto Lighting On & Off","color":"","bgcolor":"gray","icon":"","payload":"","payloadType":"str","topic":"","x":160.0187530517578,"y":1962.02490234375,"wires":[["b5871315.72ac5"]]},{"id":"ea4ba9c8.8ee958","type":"function","z":"799392fa.734d8c","name":"set command","func":"if (context.global.autoHour === undefined) {\n    return [null,{\"payload\":\"Auto lighting : Hour is not defined\"}];\n}\nif (context.global.selectMinute === undefined) {\n    return [null,{\"payload\":\"Auto lighting : Minute is not defined\"}];\n}\n\ncontext.global.selectData =  getData();\nnode.warn(context.global.selectData);\nreturn [msg, null];\n\nfunction getData() {\n    let a0 = 0xAA;//Header\n    let a1 = 0x02;//Command\n    let a2 = 0x03;//Code\n    let a3 = 0x03;//PL\n    let a4 = 0x01;//Praraeter 1\n    let a5 = context.global.autoHour;//Praraeter 2\n    let a6 = context.global.autoMinute;////Praraeter 3\n    \n    let a7 = a1 + a2 + a3 + a4 + a5 + a6;\n    // node.warn('before a7 :' + a7);\n    a10 = a7 & 0xFF;\n    // node.warn('after a7 :' + a7);\n    let a8 = 0x8E;\n    \n\n    let test = toStr(a0) + toStr(a1) + toStr(a2) + toStr(a3) + toStr(a4);\n    test = test + toStr(a5) + toStr(a6) + toStr(a7) + toStr(a8) ;\n    return test;\n}\n\nfunction toStr(value) {\n    let str = '';\n    if (value < 0x10) {\n        str = '0' + value.toString(16);\n    } else {\n        str = value.toString(16);\n    }\n    // node.warn(str);\n    return str.toUpperCase();\n}\n","outputs":"2","noerr":0,"x":366.0187683105469,"y":1782.02490234375,"wires":[["a6c947e.2abe2b8"],["f5aef2bc.ec015"]]},{"id":"f5aef2bc.ec015","type":"ui_toast","z":"799392fa.734d8c","position":"top right","displayTime":"3","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"","x":704.9187316894531,"y":1881.818552017212,"wires":[]},{"id":"5f00cd5d.11d4f4","type":"function","z":"799392fa.734d8c","name":"set command","func":"if (context.global.autoHour === undefined) {\n    return [null,{\"payload\":\"Auto lighting : Hour is not defined\"}];\n}\nif (context.global.selectMinute === undefined) {\n    return [null,{\"payload\":\"Auto lighting : Minute is not defined\"}];\n}\n\ncontext.global.selectData =  getData();\nnode.warn(context.global.selectData);\nreturn [msg, null];\n\nfunction getData() {\n    let a0 = 0xAA;//Header\n    let a1 = 0x02;//Command\n    let a2 = 0x03;//Code\n    let a3 = 0x03;//PL\n    let a4 = 0x02;//Praraeter 1\n    let a5 = context.global.autoHour;//Praraeter 2\n    let a6 = context.global.autoMinute;////Praraeter 3\n    \n    let a7 = a1 + a2 + a3 + a4 + a5 + a6;\n    // node.warn('before a7 :' + a7);\n    a10 = a7 & 0xFF;\n    // node.warn('after a7 :' + a7);\n    let a8 = 0x8E;\n    \n\n    let test = toStr(a0) + toStr(a1) + toStr(a2) + toStr(a3) + toStr(a4);\n    test = test + toStr(a5) + toStr(a6) + toStr(a7) + toStr(a8) ;\n    return test;\n}\n\nfunction toStr(value) {\n    let str = '';\n    if (value < 0x10) {\n        str = '0' + value.toString(16);\n    } else {\n        str = value.toString(16);\n    }\n    // node.warn(str);\n    return str.toUpperCase();\n}\n","outputs":"2","noerr":0,"x":370.0187683105469,"y":1827.02490234375,"wires":[["a6c947e.2abe2b8"],["f5aef2bc.ec015"]]},{"id":"435a76d5.c2ad98","type":"function","z":"799392fa.734d8c","name":"set command","func":"context.global.selectData =  getData();\nnode.warn(context.global.selectData);\nreturn msg;\n\nfunction getData() {\n    let a0 = 0xAA;//Header\n    let a1 = 0x02;//Command\n    let a2 = 0x03;//Code\n    let a3 = 0x3;//PL\n    let a4 = 0xF1;//Praraeter 1\n    let a5 = 0x00;//Praraeter 2\n    let a6 = 0x00;////Praraeter 3\n    \n    let a7 = a1 + a2 + a3 + a4 + a5 + a6;\n    // node.warn('before a7 :' + a7);\n    a10 = a7 & 0xFF;\n    // node.warn('after a7 :' + a7);\n    let a8 = 0x8E;\n    \n\n    let test = toStr(a0) + toStr(a1) + toStr(a2) + toStr(a3) + toStr(a4);\n    test = test + toStr(a5) + toStr(a6) + toStr(a7) + toStr(a8) ;\n    return test;\n}\n\nfunction toStr(value) {\n    let str = '';\n    if (value < 0x10) {\n        str = '0' + value.toString(16);\n    } else {\n        str = value.toString(16);\n    }\n    // node.warn(str);\n    return str.toUpperCase();\n}\n","outputs":"1","noerr":0,"x":367.0187759399414,"y":1878.0248928070068,"wires":[["a6c947e.2abe2b8"]]},{"id":"83daa9cb.e65948","type":"function","z":"799392fa.734d8c","name":"set command","func":"context.global.selectData =  getData();\nnode.warn(context.global.selectData);\nreturn msg;\n\nfunction getData() {\n    let a0 = 0xAA;//Header\n    let a1 = 0x02;//Command\n    let a2 = 0x03;//Code\n    let a3 = 0x03;//PL\n    let a4 = 0xF2;//Praraeter 1\n    let a5 = 0x00;//Praraeter 2\n    let a6 = 0x00;////Praraeter 3\n    \n    let a7 = a1 + a2 + a3 + a4 + a5 + a6;\n    // node.warn('before a7 :' + a7);\n    a10 = a7 & 0xFF;\n    // node.warn('after a7 :' + a7);\n    let a8 = 0x8E;\n    \n\n    let test = toStr(a0) + toStr(a1) + toStr(a2) + toStr(a3) + toStr(a4);\n    test = test + toStr(a5) + toStr(a6) + toStr(a7) + toStr(a8) ;\n    return test;\n}\n\nfunction toStr(value) {\n    let str = '';\n    if (value < 0x10) {\n        str = '0' + value.toString(16);\n    } else {\n        str = value.toString(16);\n    }\n    // node.warn(str);\n    return str.toUpperCase();\n}\n","outputs":"1","noerr":0,"x":379.0187683105469,"y":1920.02490234375,"wires":[["a6c947e.2abe2b8"]]},{"id":"b5871315.72ac5","type":"function","z":"799392fa.734d8c","name":"set command","func":"context.global.selectData =  getData();\nnode.warn(context.global.selectData);\nreturn msg;\n\nfunction getData() {\n    let a0 = 0xAA;//Header\n    let a1 = 0x02;//Command\n    let a2 = 0x03;//Code\n    let a3 = 0x03;//PL\n    let a4 = 0xF3;//Praraeter 1\n    let a5 = 0x00;//Praraeter 2\n    let a6 = 0x00;////Praraeter 3\n    \n    let a7 = a1 + a2 + a3 + a4 + a5 + a6;\n    // node.warn('before a7 :' + a7);\n    a10 = a7 & 0xFF;\n    // node.warn('after a7 :' + a7);\n    let a8 = 0x8E;\n    \n\n    let test = toStr(a0) + toStr(a1) + toStr(a2) + toStr(a3) + toStr(a4);\n    test = test + toStr(a5) + toStr(a6) + toStr(a7) + toStr(a8) ;\n    return test;\n}\n\nfunction toStr(value) {\n    let str = '';\n    if (value < 0x10) {\n        str = '0' + value.toString(16);\n    } else {\n        str = value.toString(16);\n    }\n    // node.warn(str);\n    return str.toUpperCase();\n}\n","outputs":"1","noerr":0,"x":384.0187683105469,"y":1963.02490234375,"wires":[["a6c947e.2abe2b8"]]},{"id":"8c784b31.d821b8","type":"ui_text","z":"799392fa.734d8c","group":"9134b847.e065d8","order":1,"width":0,"height":0,"name":"","label":"Date : ","format":"{{msg.payload}}","layout":"row-left","x":1236.6187782287598,"y":23.0000057220459,"wires":[]},{"id":"ca6c1c9a.1a85","type":"ui_text","z":"799392fa.734d8c","group":"9134b847.e065d8","order":3,"width":0,"height":0,"name":"","label":"Data : ","format":"{{msg.payload}}","layout":"row-left","x":1252.6187744140625,"y":123.02500343322754,"wires":[]},{"id":"e0b435c1.531488","type":"ui_text","z":"799392fa.734d8c","group":"9134b847.e065d8","order":4,"width":0,"height":0,"name":"","label":"Result : ","format":"{{msg.payload}}","layout":"row-left","x":1299.8187255859375,"y":181.02500915527344,"wires":[]},{"id":"473c1706.438e08","type":"debug","z":"799392fa.734d8c","name":"Check clean","active":false,"console":"false","complete":"payload","x":1093.0186767578125,"y":1318.2249755859375,"wires":[]},{"id":"e197c0d9.ae352","type":"ui_slider","z":"799392fa.734d8c","name":"","label":"Adjust light","group":"c4cab8e0.3bcc48","order":2,"width":0,"height":0,"passthru":true,"topic":"","min":0,"max":"100","step":"10","x":107.01876068115234,"y":2079.02490234375,"wires":[["435c152e.6ae58c","9709f58b.4fc528","76129919.03b9a8"]]},{"id":"435c152e.6ae58c","type":"debug","z":"799392fa.734d8c","name":"","active":true,"console":"false","complete":"false","x":405.3521499633789,"y":2077.3583488464355,"wires":[]},{"id":"9709f58b.4fc528","type":"function","z":"799392fa.734d8c","name":"","func":"let lighting = msg.payload;\n context.global.autoLighting = lighting;\nreturn msg;","outputs":1,"noerr":0,"x":270.0187454223633,"y":2040.0915422439575,"wires":[[]]},{"id":"bee37ec8.7d4f3","type":"ui_button","z":"799392fa.734d8c","name":"","group":"c4cab8e0.3bcc48","order":4,"width":0,"height":0,"passthru":false,"label":"Set Dimming","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":114.21866989135742,"y":2184.0913009643555,"wires":[["e64fbd77.10b01"]]},{"id":"e64fbd77.10b01","type":"function","z":"799392fa.734d8c","name":"Get light","func":"let lighting = context.global.autoLighting; \n// node.warn('lighting->' + lighting);\nlet data = getData(lighting);\n// node.warn('data : ' + data);\nmsg.payload = data;\ncontext.global.selectData = data;\nreturn msg;\n\nfunction getData(num) {\n    let a0 = 0xAA;//Header\n    let a1 = 0x02;//Command\n    let a2 = 0x04;//Code\n    let a3 = 0x01;\n    let a4 = num;\n    let tmp = a1 + a2 + a3 + a4 ;\n    let a5 = 0x0FF && tmp;\n    let a6 = 0x8E;\n\n    let test = toStr(a0) + toStr(a1) + toStr(a2) + toStr(a3);\n    test = test + toStr(a4) + toStr(a5) + toStr(a6) ;\n    return test;\n}\n\nfunction toStr(value) {\n    let str = '';\n    if (value < 0x10) {\n        str = '0' + value.toString(16);\n    } else {\n        str = value.toString(16);\n    }\n    return str.toUpperCase();\n}","outputs":1,"noerr":0,"x":284.57423400878906,"y":2182.5359115600586,"wires":[["a6c947e.2abe2b8"]]},{"id":"5f7d6429.4bee7c","type":"comment","z":"799392fa.734d8c","name":"Adjust light","info":"","x":103.34368515014648,"y":2128.2247247695923,"wires":[]},{"id":"76129919.03b9a8","type":"ui_text","z":"799392fa.734d8c","group":"c4cab8e0.3bcc48","order":3,"width":0,"height":0,"name":"","label":"Light : ","format":"{{msg.payload}}","layout":"row-left","x":274.9330253601074,"y":2119.284279823303,"wires":[]},{"id":"f97d38d9.63f068","type":"ui_button","z":"799392fa.734d8c","name":"","group":"57455ffa.c279","order":0,"width":0,"height":0,"passthru":false,"label":"Reset setting","color":"","bgcolor":"#87A980","icon":"","payload":"","payloadType":"str","topic":"","x":113.92500305175781,"y":2288.1435928344727,"wires":[["a5623d31.ac27"]]},{"id":"c3b1f9bf.7dfeb8","type":"comment","z":"799392fa.734d8c","name":"Reset to default","info":"","x":111.91876220703125,"y":2247.5873489379883,"wires":[]},{"id":"a5623d31.ac27","type":"function","z":"799392fa.734d8c","name":"set command","func":"context.global.selectData =  getData();\nnode.warn(context.global.selectData);\nreturn msg;\n\nfunction getData() {\n    let a0 = 0xAA;//Header\n    let a1 = 0x02;//Command\n    let a2 = 0x05;//Code\n    let a3 = 0x01;//PL\n    let a4 = 0x00;//Praraeter 1\n    \n    let a5 = a1 + a2 + a3 + a4;\n    // node.warn('before a7 :' + a7);\n    // node.warn('after a7 :' + a7);\n    let a6 = 0x8E;\n    \n\n    let test = toStr(a0) + toStr(a1) + toStr(a2) + toStr(a3) + toStr(a4);\n    test = test + toStr(a5) + toStr(a6);\n    return test;\n}\n\nfunction toStr(value) {\n    let str = '';\n    if (value < 0x10) {\n        str = '0' + value.toString(16);\n    } else {\n        str = value.toString(16);\n    }\n    // node.warn(str);\n    return str.toUpperCase();\n}\n","outputs":"1","noerr":0,"x":308.0187683105469,"y":2287.024890899658,"wires":[["a6c947e.2abe2b8"]]},{"id":"f6a93de1.35ab1","type":"ui_button","z":"799392fa.734d8c","name":"","group":"57455ffa.c279","order":0,"width":0,"height":0,"passthru":false,"label":"Reset Record","color":"","bgcolor":"#AAAA66","icon":"","payload":"","payloadType":"str","topic":"","x":113.01876068115234,"y":2349.02490234375,"wires":[["b2b9b8b9.74bce8"]]},{"id":"b2b9b8b9.74bce8","type":"function","z":"799392fa.734d8c","name":"set command","func":"context.global.selectData =  getData();\nnode.warn(context.global.selectData);\nreturn msg;\n\nfunction getData() {\n    let a0 = 0xAA;//Header\n    let a1 = 0x02;//Command\n    let a2 = 0x05;//Code\n    let a3 = 0x01;//PL\n    let a4 = 0x01;//Praraeter 1\n    \n    let a5 = a1 + a2 + a3 + a4;\n    // node.warn('before a7 :' + a7);\n    // node.warn('after a7 :' + a7);\n    let a6 = 0x8E;\n    \n\n    let test = toStr(a0) + toStr(a1) + toStr(a2) + toStr(a3) + toStr(a4);\n    test = test + toStr(a5) + toStr(a6);\n    return test;\n}\n\nfunction toStr(value) {\n    let str = '';\n    if (value < 0x10) {\n        str = '0' + value.toString(16);\n    } else {\n        str = value.toString(16);\n    }\n    // node.warn(str);\n    return str.toUpperCase();\n}\n","outputs":"1","noerr":0,"x":319.11252212524414,"y":2350.9061374664307,"wires":[["a6c947e.2abe2b8"]]},{"id":"b4a608a5.c15298","type":"ui_text","z":"799392fa.734d8c","group":"53871702.4f9878","order":6,"width":0,"height":0,"name":"","label":"Type : ","format":"{{msg.payload}}","layout":"row-left","x":1130.8186874389648,"y":81.02499389648438,"wires":[]},{"id":"582b20fb.709cc","type":"ui_text","z":"799392fa.734d8c","group":"9134b847.e065d8","order":2,"width":0,"height":0,"name":"","label":"Type : ","format":"{{msg.payload}}","layout":"row-left","x":1256.8187255859375,"y":76.0250015258789,"wires":[]},{"id":"560311e0.90e7","type":"ui_text","z":"799392fa.734d8c","group":"9bc41ec0.4fb88","order":0,"width":0,"height":0,"name":"","label":"Command","format":"{{msg.payload}}","layout":"row-spread","x":1495.9123077392578,"y":1117.9314155578613,"wires":[]},{"id":"44cb94c9.e974ec","type":"function","z":"799392fa.734d8c","name":"get command","func":"let arr = msg.payload;\nnode.warn(arr);\nlet obj =arr[0];\nnode.warn(obj);\nmsg.payload = obj.data;\nreturn msg;","outputs":1,"noerr":0,"x":1244.112419128418,"y":1109.8875923156738,"wires":[["560311e0.90e7","57b37ccd.c2c684","915e7a08.f146c8"]]},{"id":"57b37ccd.c2c684","type":"debug","z":"799392fa.734d8c","name":"","active":true,"console":"false","complete":"false","x":1479.7250061035156,"y":1057.8999481201172,"wires":[]},{"id":"aa967333.bd4e7","type":"json","z":"799392fa.734d8c","name":"","x":1099.1249389648438,"y":897.3437271118164,"wires":[["44cb94c9.e974ec"]]},{"id":"f3f7f9c7.65f208","type":"json","z":"799392fa.734d8c","name":"","x":1062.1124572753906,"y":1191.3436660766602,"wires":[["44cb94c9.e974ec"]]},{"id":"915e7a08.f146c8","type":"ui_text","z":"799392fa.734d8c","group":"3be479db.371326","order":0,"width":0,"height":0,"name":"","label":"Command","format":"{{msg.payload}}","layout":"row-spread","x":1482.8187255859375,"y":1169.0250244140625,"wires":[]},{"id":"a195d5a1.a0cbf8","type":"mqtt-broker","z":"","broker":"192.168.88.110","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"eacf6a95.bd48d8","type":"ui_group","z":"","name":"Light Control","tab":"b2b80883.f35ec8","order":4,"disp":true,"width":"8","collapse":false},{"id":"5e1e127d.51574c","type":"ui_group","z":"","name":"Check Controler Status","tab":"b2b80883.f35ec8","order":2,"disp":true,"width":"8","collapse":false},{"id":"53871702.4f9878","type":"ui_group","z":"","name":"Node Response","tab":"b2b80883.f35ec8","order":3,"disp":true,"width":"8","collapse":false},{"id":"19efbcc.47af443","type":"ui_group","z":"","name":"Query Auto Control Setting","tab":"380c607.8677da","order":5,"disp":true,"width":"6","collapse":false},{"id":"22a82cf8.6ac864","type":"ui_group","z":"","name":"Query Controler Time","tab":"380c607.8677da","order":6,"disp":true,"width":"6","collapse":false},{"id":"d07fd705.2ac8c8","type":"ui_group","z":"","name":"Set Keep-Alive Interval ","tab":"380c607.8677da","order":8,"disp":true,"width":"6","collapse":false},{"id":"e0a6d0d1.23fc5","type":"ui_group","z":"","name":"Set controler time","tab":"380c607.8677da","order":2,"disp":true,"width":"6","collapse":false},{"id":"2be661c8.23135e","type":"ui_group","z":"","name":"Automatic Lighting On/Off","tab":"380c607.8677da","order":3,"disp":true,"width":"6","collapse":false},{"id":"9134b847.e065d8","type":"ui_group","z":"","name":"Node Response","tab":"380c607.8677da","order":4,"disp":true,"width":"6","collapse":false},{"id":"c4cab8e0.3bcc48","type":"ui_group","z":"","name":"Set Automatic Light Dimming Value","tab":"380c607.8677da","order":7,"disp":true,"width":"6","collapse":false},{"id":"57455ffa.c279","type":"ui_group","z":"","name":"Reset  Settings  Or Records","tab":"380c607.8677da","order":9,"disp":true,"width":"6","collapse":false},{"id":"9bc41ec0.4fb88","type":"ui_group","z":"","name":"DL Command","tab":"b2b80883.f35ec8","order":1,"disp":true,"width":"8","collapse":false},{"id":"3be479db.371326","type":"ui_group","z":"","name":"DL Command","tab":"380c607.8677da","order":1,"disp":true,"width":"6","collapse":false},{"id":"b2b80883.f35ec8","type":"ui_tab","z":"","name":"Control","icon":"dashboard","order":1},{"id":"380c607.8677da","type":"ui_tab","z":"","name":"Automatic Control","icon":"dashboard","order":2}]