public/flow/light1.json
[{"id":"9803e215.a0df3","type":"debug","z":"9c749a30.776c98","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":740,"y":560,"wires":[]},{"id":"7eb5d607.4dfb08","type":"mqtt in","z":"9c749a30.776c98","name":"DL subscribe","topic":"GIOT-GW/DL/+","qos":"2","broker":"5306e945.1c0eb8","x":238.29999542236328,"y":361.7499122619629,"wires":[["ca8578b9.590f08"]]},{"id":"e99c33ef.0b354","type":"mqtt in","z":"9c749a30.776c98","name":"UL subscribe","topic":"GIOT-GW/UL/+","qos":"2","broker":"5306e945.1c0eb8","x":180,"y":700,"wires":[["470198bd.a91718","525c491b.049058"]]},{"id":"ca8578b9.590f08","type":"debug","z":"9c749a30.776c98","name":"","active":true,"console":"false","complete":"false","x":487.30010986328125,"y":359.8166198730469,"wires":[]},{"id":"d264c149.a87ca","type":"comment","z":"9c749a30.776c98","name":"Receive DL flow","info":"","x":250.29998779296875,"y":322.2165551185608,"wires":[]},{"id":"ac1678d6.1ebd08","type":"comment","z":"9c749a30.776c98","name":"Receive UL flow","info":"","x":230.8001708984375,"y":507.4665832519531,"wires":[]},{"id":"c84ecfe4.13729","type":"mqtt out","z":"9c749a30.776c98","name":"","topic":"","qos":"","retain":"","broker":"5306e945.1c0eb8","x":1195.5507469177246,"y":1659.0673637390137,"wires":[]},{"id":"ab205b1a.4ce3d8","type":"function","z":"9c749a30.776c98","name":"DL command","func":"// node.warn(msg.payload);\nlet setting =context.global.setting;\nlet msg1 = {\"topic\": msg.topic};\n// node.warn(JSON.stringify(setting));\nlet selectData = context.global.selectData;\nmsg.topic = 'GIOT-GW/DL/' + setting.gwId;\nlet mac = setting.mac;\nif (selectData === undefined) {\n    selectData = 'AA01010100038E';\n}\n\nlet tmp = {\"macAddr\": mac,\"data\": selectData,\"id\":\"1111111111\",\"extra\":{\"port\":1,\"txpara\":\"22\"}};\nmsg.payload = JSON.stringify([tmp]);\nmsg1.payload=\"clean\";\nreturn [msg1, msg];","outputs":"2","noerr":0,"x":999.5006103515625,"y":1618.267562866211,"wires":[["1edba91e.d50457","d6fd9bf8.883a68","a29cbe6d.462e9","eb26f03b.04b12"],["3356d0a1.ab605","c84ecfe4.13729","bc878d6d.5ea68"]]},{"id":"3356d0a1.ab605","type":"debug","z":"9c749a30.776c98","name":"","active":true,"console":"false","complete":"false","x":1224.8003578186035,"y":1621.7336750030518,"wires":[]},{"id":"784999de.a301a8","type":"ui_slider","z":"9c749a30.776c98","name":"","label":"Adjust light","group":"fe6e8f71.dffc2","order":2,"width":0,"height":0,"passthru":true,"topic":"","min":"10","max":"100","step":"1","x":200.67505645751953,"y":1670.900119304657,"wires":[["cdb0b70c.8e69e8","2ab2f2a9.34702e","4f807f99.e411e"]]},{"id":"cdb0b70c.8e69e8","type":"debug","z":"9c749a30.776c98","name":"","active":true,"console":"false","complete":"false","x":375.67512130737305,"y":1672.5667624473572,"wires":[]},{"id":"a140666f.d60a08","type":"ui_switch","z":"9c749a30.776c98","name":"","label":"Switch","group":"fe6e8f71.dffc2","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":183.67504119873047,"y":1603.5002136230469,"wires":[["f053d03a.a6f21"]]},{"id":"d6fd9bf8.883a68","type":"function","z":"9c749a30.776c98","name":"*response control result","func":"//\n//Reply\t                Header\tSerial Number\tCommand\tCode\tResult\tChecksum\tEnd\n//控制開關燈＆調光回應\tAA\t    00\t            81\t    01\t    00\t    82\t        8E\n\n\nlet msg1 = {\"payload\": ''};\nlet msg2 = {\"payload\": ''};\nlet msg3 = {\"payload\": ''};\nlet msg4 = {\"payload\": ''};\n\nif (msg.payload !== 'clean') {\n    let obj = context.global.responseMsg;\n    // node.warn('Node response data : ' + obj.data);\n    let data = obj.data;\n    let serialNum = data.substring(2,4);\n    let command = data.substring(4,6);\n    let code = data.substring(6,8);\n    let type = '';\n    // node.warn(typeof(command) + command);\n    // node.warn(typeof(code) + code);\n    if (command === '81') { // 控制開關燈＆調光回應\n        \n        if (code === '01') {\n            type = 'Manual switch light or set dimming';\n        } else if (code === '02') {\n            type = 'Manual motor control';\n        }\n    } else if (command === '82') {\n        if (code === '01') {\n            type = 'Set or disable keep-Alive interval';\n        } else if (code === '02') {\n            type = 'Set controler time';\n        } else if (code === '03') {\n            type = 'Set automatic lighting';\n        } else if (code === '04') {\n            type = 'Set automatic light dimming value';\n        } else if (code === '05') {\n            type = 'Reset settings or records';\n        }\n    } else if (command === '83') {\n        if (code === '01') {\n            type = 'Query controler status ';\n        } else if (code === '02') {\n            type = 'Query controller time';\n        } else if (code === '03') {\n            type = 'Query controller automatic lighting settings';\n        } else if (code === '04') {\n            type = 'Query Keep-Alive Interval';\n        } \n    } else if (command === 'f1') {\n        type = 'Notify';\n    }\n    var n = type.indexOf(\"Query\");\n    // node.warn('Query : ' + n);\n    let resultCode = data.substring(8,10).toUpperCase();\n    // node.warn('resultCode : ' + resultCode);\n    let result = '';\n    if (n !== -1) {\n        result = '';\n    } else if (resultCode === '00') {\n       result = '00 : OK'; \n    }  else if (resultCode === 'E!') {\n       result = 'E1 : Invalid Code'; \n    }  else if (resultCode === 'E2') {\n       result = 'E2 : Incorrect PL'; \n    }  else if (resultCode === 'E3') {\n       result = 'E3 : Invalid Parameter'; \n    }  else if (resultCode === 'E4') {\n       result = 'E4 : Incorrect Checksum'; \n    }  else if (resultCode === 'E5') {\n       result = 'E5 : Without End'; \n    } else if (resultCode === 'EF') {\n       result = 'E5 : Others'; \n    }\n    // node.warn(obj);\n    msg1.payload = obj.time;\n    msg2.payload = type;\n    msg3.payload = obj.data + ' -> number : ' + serialNum;\n    msg4.payload = result;\n}\n\nreturn [msg1, msg2, msg3, msg4];","outputs":"4","noerr":0,"x":894.8002777099609,"y":236.08327865600586,"wires":[["566e49d4.16d368","3d11903f.e4f06","94ef3c2b.74da1"],["bfbbc898.824628","cdc53e55.43949"],["7249fa2c.bc4b14","49bed4bf.232d9c"],["bd6042ff.24ae","a4370422.f6e118"]]},{"id":"470198bd.a91718","type":"json","z":"9c749a30.776c98","name":"","x":185.80022430419922,"y":645.6666526794434,"wires":[["6b44aa5a.c72f94"]]},{"id":"566e49d4.16d368","type":"debug","z":"9c749a30.776c98","name":"","active":false,"console":"false","complete":"false","x":985.0503768920898,"y":136.68320846557617,"wires":[]},{"id":"2ab2f2a9.34702e","type":"function","z":"9c749a30.776c98","name":"*save global.lighting","func":"let lighting = msg.payload;\n context.global.lighting = lighting;\nreturn msg;","outputs":1,"noerr":0,"x":413.67504119873047,"y":1631.9667592048645,"wires":[[]]},{"id":"f053d03a.a6f21","type":"function","z":"9c749a30.776c98","name":"#Set Comman","func":"//控制開關燈＆調光\tHeader\tSerial Number\tCommand\tCode\tPL\tParameter\tChecksum\tEnd\n//關燈              AA\t    00             \t01    \t01    \t01\t00\t        03\t        8E\n//開燈\t            AA    \t00\t           \t01\t    01\t  \t01\tE4\t        E7\t        8E\n//調光10%\t        AA\t    00\t           \t01\t    01\t  \t01\t8A\t        8D\t        8E\n\nlet setting = context.global.setting;\n// node.warn(JSON.stringify(setting));\nlet data = getData(msg.payload);\n\ncontext.global.selectData = data;\nreturn msg;\n\nfunction getData(flag) {\n    let serialNum = context.global.serialNum + 1;\n    if (serialNum > 0xEF || context.global.enableSerialNum === false) {\n        serialNum = 0x00;\n    }\n    context.global.serialNum = serialNum;\n    let a0 = 0xAA; // Header\n    let a1 = serialNum; // Serial number\n    //a1 = 0x00;\n    let a2 = 0x01;//Command\n    let a3 = 0x01;//Code\n    let a4 = 0x01;//PL\n    let a5 = 0x00;//Praraeter 1 : 關燈\n    if(flag) {\n        a5 = 0xE4;//Praraeter 1 : 開燈\n    } \n    \n    let a6 = a2 + a3 + a4 + a5 ; //Checksum\n    // node.warn('before a7 :' + a7);\n    a6 = a6 & 0xFF;\n    // node.warn('after a7 :' + a7);\n    let a7 = 0x8E;//End\n\n    let test = toStr(a0) + toStr(a1) + toStr(a2) + toStr(a3) + toStr(a4) + toStr(a5);\n    test = test + toStr(a6) + toStr(a7);\n    return test;\n}\n\nfunction toStr(value) {\n    let str = '';\n    if (value < 0x10) {\n        str = '0' + value.toString(16);\n    } else {\n        str = value.toString(16);\n    }\n    // node.warn(str);\n    return str.toUpperCase();\n}","outputs":1,"noerr":0,"x":361.6749954223633,"y":1595.9666690826416,"wires":[["ebd8da12.ba34a8"]]},{"id":"a69dda3c.857268","type":"comment","z":"9c749a30.776c98","name":"Clean field","info":"","x":997.9430160522461,"y":1380.2405252456665,"wires":[]},{"id":"27af28e0.8c9ea8","type":"ui_button","z":"9c749a30.776c98","name":"","group":"fe6e8f71.dffc2","order":4,"width":0,"height":0,"passthru":false,"label":"Set Dimming value","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":227.8749656677246,"y":1775.9665179252625,"wires":[["3a8f8789.ec0578"]]},{"id":"3a8f8789.ec0578","type":"function","z":"9c749a30.776c98","name":"#Set Command","func":"//控制開關燈＆調光\tHeader\tSerial Number\tCommand\tCode\tPL\tParameter\tChecksum\tEnd\n//關燈              AA\t    00             \t01    \t01    \t01\t00\t        03\t        8E\n//開燈\t            AA    \t00\t           \t01\t    01\t  \t01\tE4\t        E7\t        8E\n//調光10%\t        AA\t    00\t           \t01\t    01\t  \t01\t8A\t        8D\t        8E\nlet lighting = context.global.lighting; \n// node.warn('lighting->' + lighting);\nlet data = getData(lighting);\n// node.warn('data : ' + data);\nmsg.payload = data;\ncontext.global.selectData = data;\nreturn msg;\n\n\nfunction getData(num) {\n    let serialNum = context.global.serialNum + 1;\n    if (serialNum > 0xEF || context.global.enableSerialNum === false) {\n        serialNum = 0x00;\n    }\n    context.global.serialNum = serialNum;\n    let a0 = 0xAA; // Header\n    let a1 = serialNum; // Serial number\n    let a2 = 0x01;//Command\n    let a3 = 0x01;//Code\n    let a4 = 0x01;//PL\n    let a5 = num ;//Praraeter 1 : 調光\n    let a6 = a2 + a3 + a4 + a5 ; //Checksum\n    // node.warn('before a7 :' + a7);\n    a6 = a6 & 0xFF;\n    // node.warn('after a7 :' + a7);\n    let a7 = 0x8E;//End\n\n    let test = toStr(a0) + toStr(a1) + toStr(a2) + toStr(a3) + toStr(a4) + toStr(a5);\n    test = test + toStr(a6) + toStr(a7);\n    return test;\n}\n\nfunction toStr(value) {\n    let str = '';\n    if (value < 0x10) {\n        str = '0' + value.toString(16);\n    } else {\n        str = value.toString(16);\n    }\n    return str.toUpperCase();\n}","outputs":1,"noerr":0,"x":466.674991607666,"y":1776.3000121116638,"wires":[["f5d22a47.bdd658","ebd8da12.ba34a8"]]},{"id":"f5d22a47.bdd658","type":"debug","z":"9c749a30.776c98","name":"","active":false,"console":"false","complete":"false","x":720.675163269043,"y":1774.2333850860596,"wires":[]},{"id":"6b44aa5a.c72f94","type":"function","z":"9c749a30.776c98","name":"Command type","func":"let arr = msg.payload;\nlet obj = arr[0];\nlet mac = obj.macAddr;\nif (mac != '0000000005010c12') {\n    // node.warn(mac + ' drop');\n    return;\n}\nnode.warn(JSON.stringify(arr));\nlet data = obj.data;\ncontext.global.responseMsg = obj;\nlet buff = new Buffer(data, 'hex');\nlet command = buff[2];\n// node.warn(command); \n\nmsg.payload = command;\nreturn msg;","outputs":1,"noerr":0,"x":382.8002700805664,"y":645.7999534606934,"wires":[["115f143f.4a300c","d6fd9bf8.883a68","9803e215.a0df3"]]},{"id":"115f143f.4a300c","type":"switch","z":"9c749a30.776c98","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"131","vt":"str"},{"t":"eq","v":"241","vt":"str"}],"checkall":"true","outputs":2,"x":570.482666015625,"y":690.3738384246826,"wires":[["a48881f.b4b388"],["658a7157.0b88e"]]},{"id":"25c42907.d68496","type":"comment","z":"9c749a30.776c98","name":"重設serial port ","info":"","x":207.2499771118164,"y":1824.5997791290283,"wires":[]},{"id":"dec8798e.39af48","type":"comment","z":"9c749a30.776c98","name":"控制開關燈","info":"","x":201.99998092651367,"y":1548.8499417304993,"wires":[]},{"id":"2237c933.be2ee6","type":"comment","z":"9c749a30.776c98","name":"Manual light","info":"","x":196.99998092651367,"y":1720.0999417304993,"wires":[]},{"id":"7e8f1b88.f67ef4","type":"function","z":"9c749a30.776c98","name":"DL command","func":"let selectData = context.global.selectData;\nlet setting =context.global.setting;\nmsg.topic = 'GIOT-GW/DL/' + setting.gwId;\nlet mac = setting.mac;\nlet tmp = {\"macAddr\": mac,\"data\": selectData,\"id\":\"1111111111\",\"extra\":{\"port\":1,\"txpara\":\"22\"}};\nmsg.payload = JSON.stringify([tmp]);\nlet msg1 = {\"payload\": \"clean\"};\nreturn [msg, msg1];","outputs":"2","noerr":0,"x":456.1664924621582,"y":520.1831402778625,"wires":[["fcf70eb9.c2ed7","ffd0b31b.35c9e","4f5d4faf.fb99c"],["1f1f7ab8.a619e5"]]},{"id":"fcf70eb9.c2ed7","type":"mqtt out","z":"9c749a30.776c98","name":"","topic":"","qos":"","retain":"","broker":"5306e945.1c0eb8","x":857.416576385498,"y":444.18321323394775,"wires":[]},{"id":"1f1f7ab8.a619e5","type":"function","z":"9c749a30.776c98","name":"Query code 01","func":"/*\n回傳路燈狀態\n            Header   Serial Notify Code DL light v1  c1  c2  p1  p2  p3   checksum End   \n                AA\t 00\t    83\t   01\t07\tE4\t 12\t 00\t 64\t 00\t 03\t E8\t   D0\t    8E\n            buff 0   1      2      3    4   5     6   7   8   9   10  11   12       13\n主動通知: Header   Serial Notify Code  DL  light v1  c1  c2  p1  p2  p3  時  分  秒  checksum End  \nKeep-Alive    AA\t00\t    F1\t   01\t0A\tE4\t 12\t 00\t 64\t 00\t 03\t E8\t 08\t 00\t 00\t 49\t      8E\nBoot Up       AA    00\t    F1\t   00\t0A  E4\t 12  00  64  00  03  E8  08  00  00  48\t      8E\nbuff           0     1      2      3    4   5    6   7   8   9   10  11  12  13  14  15       1\n*/\nlet msg1 = {\"payload\": ''};\nlet msg2 = {\"payload\": ''};\nlet msg3 = {\"payload\": ''};\nlet msg4 = {\"payload\": ''};\nlet msg5 = {\"payload\": ''};\nlet msg6 = {\"payload\": ''};\nlet msg7 = {\"payload\": ''};\nlet msg8 = {\"payload\": ''};\n// node.warn(msg.payload);\nif (msg.payload !== 'clean') {\n    let obj = context.global.responseMsg;\n    let data = obj.data;\n    let buff = new Buffer(data, 'hex');\n    let lightSwitch = (buff[5] & 0x80) ? \"ON\" : \"OFF\";\n    let light = (buff[5] & 0x7F);\n    let voltage = buff[6];\n    let currentStr = data.substring(14,18); //buff7~8\n    let current = parseInt(currentStr,16) / 100;\n    let powerStr = data.substring(18,24);   //buff9~11\n    let power = parseInt(powerStr,16) / 100;\n    let timeStr = data.substring(24,30);   //buff12~14\n    /*node.warn('lightSwitch : ' + lightSwitch);\n    node.warn('voltage : ' + voltage);\n    node.warn('current : ' + current);\n    node.warn('power : ' + power);*/\n    \n    msg1 = {\"payload\": obj.time};\n    msg2 = {\"payload\": obj.data};\n    msg3 = {\"payload\": lightSwitch};\n    msg4 = {\"payload\": light};\n    msg5 = {\"payload\": data.substring(10,12) + ' -> ' + voltage};\n    msg6 = {\"payload\": currentStr + ' -> ' + current};\n    msg7 = {\"payload\": powerStr + ' -> ' + power};\n    if (buff[2] === 241) {//Notidy 0xF1\n        let code = buff[3];\n        let message = '';\n        if (code === 0) { //Boot up\n            message = 'Boot Up';\n        } else if (code === 1) {\n            let day1 = context.global.aliveStartTime;\n            let day2 = new Date(obj.time);\n            node.warn(typeof(day1) + ' : ' + day1 + '->' );\n            node.warn(typeof(day2) + ' : ' + day2 + '->' + day2.getTime());\n            let result = (day2.getTime() - day1.getTime())/1000;\n            message = getDateStr(day1)+ '->'+ getDateStr(day2) + ' = '+ result + 'seconds';\n            context.global.aliveStartTime = day2;\n        }\n        msg8 = {\"payload\": message};\n        // node.warn('Node response Keep-Alive data : ' + data);\n    } /* else {\n        node.warn('Node response query current status data : ' + data);\n    }*/\n    \n}\n\nreturn [msg1, msg2, msg3, msg4, msg5, msg6, msg7, msg8];\n\nfunction getDateStr(mDate) {\n    let year = mDate.getFullYear();\n    let month =  getData(mDate.getMonth() + 1);\n    let day = getData(mDate.getDate());\n    let hour = getData(mDate.getHours());\n    let minute = getData(mDate.getMinutes());\n    let second = getData(mDate.getSeconds());\n    /*node.warn(year);\n    node.warn(month);\n    node.warn(day);\n    node.warn(hour);\n    node.warn(minute);\n    node.warn(second);*/\n    let str = year + '-' + month + '-' + day + ' ';\n    str = str + hour + ':' + minute + ':' + second;\n    return str;\n}\n\nfunction getData(data) {\n    if (data < 10) {\n        return '0' + data;\n    } else {\n        return data;\n    }\n}","outputs":"8","noerr":0,"x":1410,"y":380,"wires":[["787f0665.2bd6d8"],["f1a42a71.1fc3b8"],["999cd81e.e237c8"],["ad601351.475e2"],["49f2c0a5.9878e"],["e8e8fae.90be108"],["f951874b.eb6e38"],["6cf8075f.a78578"]]},{"id":"525c491b.049058","type":"debug","z":"9c749a30.776c98","name":"","active":false,"console":"false","complete":"false","x":380,"y":700,"wires":[]},{"id":"ffd0b31b.35c9e","type":"debug","z":"9c749a30.776c98","name":"","active":true,"console":"false","complete":"false","x":875.7082748413086,"y":401.1831912994385,"wires":[]},{"id":"a2860617.9cb2b8","type":"ui_button","z":"9c749a30.776c98","name":"","group":"bea29ae6.721d88","order":2,"width":0,"height":0,"passthru":false,"label":"Query Status","color":"","bgcolor":"#be9927","icon":"","payload":"","payloadType":"str","topic":"","x":229.99996948242188,"y":458.06416606903076,"wires":[["9aebbfcc.16ef1"]]},{"id":"3d11903f.e4f06","type":"ui_text","z":"9c749a30.776c98","group":"c9eb3df6.b1d9","order":5,"width":0,"height":0,"name":"","label":"Date : ","format":"{{msg.payload}}","layout":"row-left","x":1222.4285583496094,"y":142.6832447052002,"wires":[]},{"id":"376484c4.e7d1cc","type":"ui_template","z":"9c749a30.776c98","group":"bea29ae6.721d88","name":"","order":1,"width":0,"height":0,"format":"<div layout=\"row\" layout-align=\"space-between\">\n<p>Verify current light, voltage, current and power ... etc</p>\n\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":221.2857894897461,"y":536.4450960159302,"wires":[[]]},{"id":"7249fa2c.bc4b14","type":"ui_text","z":"9c749a30.776c98","group":"c9eb3df6.b1d9","order":7,"width":0,"height":0,"name":"","label":"Data : ","format":"{{msg.payload}}","layout":"row-left","x":1227.4284133911133,"y":247.25464057922363,"wires":[]},{"id":"bd6042ff.24ae","type":"ui_text","z":"9c749a30.776c98","group":"c9eb3df6.b1d9","order":8,"width":0,"height":0,"name":"","label":"Result : ","format":"{{msg.payload}}","layout":"row-left","x":1254.285737991333,"y":296.82606315612793,"wires":[]},{"id":"787f0665.2bd6d8","type":"ui_text","z":"9c749a30.776c98","group":"bea29ae6.721d88","order":3,"width":0,"height":0,"name":"","label":"Date : ","format":"{{msg.payload}}","layout":"row-left","x":1650,"y":140,"wires":[]},{"id":"f1a42a71.1fc3b8","type":"ui_text","z":"9c749a30.776c98","group":"bea29ae6.721d88","order":4,"width":0,"height":0,"name":"","label":"Data : ","format":"{{msg.payload}}","layout":"row-left","x":1650.5714302062988,"y":177.7142983675003,"wires":[]},{"id":"5f4df1b5.99456","type":"comment","z":"9c749a30.776c98","name":"Control","info":"","x":696.8570976257324,"y":453.0165419578552,"wires":[]},{"id":"999cd81e.e237c8","type":"ui_text","z":"9c749a30.776c98","group":"bea29ae6.721d88","order":5,"width":0,"height":0,"name":"","label":"Switch : ","format":"{{msg.payload}}","layout":"row-left","x":1656.5712814331055,"y":214.42855274677277,"wires":[]},{"id":"adb57bb7.35c2b8","type":"inject","z":"9c749a30.776c98","name":"Manual test","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":418.0000457763672,"y":416.34986877441406,"wires":[["9aebbfcc.16ef1"]]},{"id":"ad601351.475e2","type":"ui_text","z":"9c749a30.776c98","group":"bea29ae6.721d88","order":6,"width":0,"height":0,"name":"","label":"Light : ","format":"{{msg.payload}}","layout":"row-left","x":1643.857048034668,"y":249.57139599323273,"wires":[]},{"id":"4f807f99.e411e","type":"ui_text","z":"9c749a30.776c98","group":"fe6e8f71.dffc2","order":3,"width":0,"height":0,"name":"","label":"Light : ","format":"{{msg.payload}}","layout":"row-left","x":368.5893211364746,"y":1711.1594967842102,"wires":[]},{"id":"49f2c0a5.9878e","type":"ui_text","z":"9c749a30.776c98","group":"bea29ae6.721d88","order":7,"width":0,"height":0,"name":"","label":"Voltage : ","format":"{{msg.payload}}","layout":"row-left","x":1660.714225769043,"y":287.90470707416534,"wires":[]},{"id":"e8e8fae.90be108","type":"ui_text","z":"9c749a30.776c98","group":"bea29ae6.721d88","order":8,"width":0,"height":0,"name":"","label":"Current : ","format":"{{msg.payload}}","layout":"row-left","x":1660.1428184509277,"y":321.57140362262726,"wires":[]},{"id":"f951874b.eb6e38","type":"ui_text","z":"9c749a30.776c98","group":"bea29ae6.721d88","order":9,"width":0,"height":0,"name":"","label":"Power : ","format":"{{msg.payload}}","layout":"row-left","x":1659.8570251464844,"y":356.2856580018997,"wires":[]},{"id":"f0a629e1.aba2f8","type":"comment","z":"9c749a30.776c98","name":"查詢控制器自動開關路燈設定","info":"","x":270.85712814331055,"y":740.8260083198547,"wires":[]},{"id":"728f01e.9fdfe","type":"ui_button","z":"9c749a30.776c98","name":"","group":"913348d8.5153c8","order":0,"width":0,"height":0,"passthru":false,"label":"Query  AUTOMATIC setting","color":"","bgcolor":"#be9927","icon":"","payload":"","payloadType":"str","topic":"query-auto-control-setting","x":281.4285583496094,"y":778.9212007522583,"wires":[["64c46b66.687d34","f0f39ece.23c4a"]]},{"id":"64c46b66.687d34","type":"function","z":"9c749a30.776c98","name":"#set command","func":"// AA                   03      03   06        8E\n// Header Serial Number\tCommand\tCode Checksum  End\n// AA\t  00\t        03\t    03\t 06\t       8E\n\ncontext.global.selectData =  getData();\n// node.warn(context.global.selectData);\nreturn msg;\n\nfunction getData() {\n    let serialNum = context.global.serialNum + 1;\n    if (serialNum > 0xEF || context.global.enableSerialNum === false) {\n        serialNum = 0x00;\n    }\n    context.global.serialNum = serialNum;\n    let a0 = 0xAA; // Header\n    let a1 = serialNum; // Serial number\n    let a2 = 0x03;//Command (查詢控制器自動開關路燈設定)\n    let a3 = 0x03;//Code\n    \n    let a4 = a2 + a3; //Checksum\n    a4 = a4 & 0xFF;\n    let a5 = 0x8E;\n    \n    let test = toStr(a0) + toStr(a1) + toStr(a2) + toStr(a3) + toStr(a4) + toStr(a5);\n    return test;\n}\n\nfunction toStr(value) {\n    let str = '';\n    if (value < 0x10) {\n        str = '0' + value.toString(16);\n    } else {\n        str = value.toString(16);\n    }\n    // node.warn(str);\n    return str.toUpperCase();\n}","outputs":1,"noerr":0,"x":616.9999656677246,"y":782.4926257133484,"wires":[["3e395bae.454334"]]},{"id":"f0f39ece.23c4a","type":"debug","z":"9c749a30.776c98","name":"","active":true,"console":"false","complete":"false","x":537.8571586608887,"y":746.2069888114929,"wires":[]},{"id":"1edba91e.d50457","type":"function","z":"9c749a30.776c98","name":"Query code 03","func":"//Header Serial\tCommand\tCode DL status light 自動開時分秒 自動開時分秒   C   End\n//AA  \t 00\t    83\t    03\t 08\t01\t   64\t 11\t00\t00\t  07  00\t00\t0B\t8E\n\n\nlet msg1 = {\"payload\": ''};\nlet msg2 = {\"payload\": ''};\nlet msg3 = {\"payload\": ''};\nlet msg4 = {\"payload\": ''};\nlet msg5 = {\"payload\": ''};\nlet msg6 = {\"payload\": ''};\nif (msg.payload !== 'clean') {\n    let obj = context.global.responseMsg;\n    let data = obj.data;\n    // node.warn('Node response data : ' + data);\n    let buff = new Buffer(data, 'hex');\n    let statusCode = (buff[5]) ;\n    let status = '00 -> Disable automatic lighting on and off';\n    if (statusCode === 1) {\n        status = '00 -> Enable automatic lighting off';\n    } else if (statusCode === 2) {\n        status = '00 -> Enable automatic lighting on';\n    } else if (statusCode === 3) {\n        status = '00 -> Enable automatic lighting on and off';\n    }\n    let light = buff[6];\n    let onHex = data.substring(14,20);\n    let offHex = data.substring(20,26);\n    let onStr = buff[7] + ':' + toStr(buff[8])  + ':' + toStr(buff[9]);\n    let offStr = buff[10] + ':' + toStr(buff[11]) + ':' + toStr(buff[12]);\n    \n    msg1 = {\"payload\": obj.time};\n    msg2 = {\"payload\": obj.data};\n    msg3 = {\"payload\": status};\n    msg4 = {\"payload\": data.substring(10,12) + ' -> ' + light};\n    msg5 = {\"payload\": onHex + ' -> ' + onStr};\n    msg6 = {\"payload\": offHex + ' -> ' + offStr};\n}\n\n\nreturn [msg1, msg2, msg3, msg4, msg5, msg6];\n\nfunction toStr(value) {\n    let str = '';\n    if (value < 0x10) {\n        str = '0' + value.toString(16);\n    } else {\n        str = value.toString(16);\n    }\n    // node.warn(str);\n    return str.toUpperCase();\n}\n","outputs":"7","noerr":0,"x":1410,"y":540,"wires":[["d1d44f3c.76d76"],["c195a815.3a8118"],["791d6ef0.7cee4"],["fc927580.bc0428"],["7cba1de9.e670c4"],["27bbae8d.cc6d22"],[]]},{"id":"d1d44f3c.76d76","type":"ui_text","z":"9c749a30.776c98","group":"913348d8.5153c8","order":0,"width":0,"height":0,"name":"","label":"Date : ","format":"{{msg.payload}}","layout":"row-left","x":1650,"y":480,"wires":[]},{"id":"c195a815.3a8118","type":"ui_text","z":"9c749a30.776c98","group":"913348d8.5153c8","order":0,"width":0,"height":0,"name":"","label":"Data : ","format":"{{msg.payload}}","layout":"row-left","x":1650,"y":520,"wires":[]},{"id":"791d6ef0.7cee4","type":"ui_text","z":"9c749a30.776c98","group":"913348d8.5153c8","order":0,"width":0,"height":0,"name":"","label":"Status : ","format":"{{msg.payload}}","layout":"row-left","x":1660,"y":560,"wires":[]},{"id":"fc927580.bc0428","type":"ui_text","z":"9c749a30.776c98","group":"913348d8.5153c8","order":0,"width":0,"height":0,"name":"","label":"Light : ","format":"{{msg.payload}}","layout":"row-left","x":1660,"y":600,"wires":[]},{"id":"7cba1de9.e670c4","type":"ui_text","z":"9c749a30.776c98","group":"913348d8.5153c8","order":0,"width":0,"height":0,"name":"","label":"Lghting on : ","format":"{{msg.payload}}","layout":"row-left","x":1680,"y":640,"wires":[]},{"id":"27bbae8d.cc6d22","type":"ui_text","z":"9c749a30.776c98","group":"913348d8.5153c8","order":0,"width":0,"height":0,"name":"","label":"Lghting off : ","format":"{{msg.payload}}","layout":"row-left","x":1680,"y":680,"wires":[]},{"id":"9b530462.c302d8","type":"ui_button","z":"9c749a30.776c98","name":"","group":"22bbd50f.9ff9ba","order":0,"width":0,"height":0,"passthru":false,"label":"Query Controler time","color":"","bgcolor":"#be9927","icon":"","payload":"","payloadType":"str","topic":"","x":252.95229148864746,"y":863.3498358726501,"wires":[["7c3f2e72.7028f","73f174d5.1de80c"]]},{"id":"7c3f2e72.7028f","type":"function","z":"9c749a30.776c98","name":"#set command","func":"// AA                   03      02   05        8E\n// Header Serial Number\tCommand\tCode Checksum  End\n// AA\t  00\t        03\t    02\t 05\t       8E\n\ncontext.global.selectData =  getData();\n//node.warn(context.global.selectData);\nreturn msg;\n\nfunction getData() {\n    let serialNum = context.global.serialNum + 1;\n    if (serialNum > 0xEF || context.global.enableSerialNum === false) {\n        serialNum = 0x00;\n    }\n    context.global.serialNum = serialNum;\n    let a0 = 0xAA; // Header\n    let a1 = serialNum; // Serial number\n    let a2 = 0x03;//Command\n    let a3 = 0x02;//Code (查詢控制器目前時間)\n    \n    let a4 = a2 + a3; //Checksum\n    a4 = a4 & 0xFF;\n    let a5 = 0x8E;\n    \n    let test = toStr(a0) + toStr(a1) + toStr(a2) + toStr(a3) + toStr(a4) + toStr(a5);\n    return test;\n}\n\nfunction toStr(value) {\n    let str = '';\n    if (value < 0x10) {\n        str = '0' + value.toString(16);\n    } else {\n        str = value.toString(16);\n    }\n    // node.warn(str);\n    return str.toUpperCase();\n}","outputs":1,"noerr":0,"x":570.5237236022949,"y":890.9211401939392,"wires":[["3e395bae.454334"]]},{"id":"73f174d5.1de80c","type":"debug","z":"9c749a30.776c98","name":"","active":false,"console":"false","complete":"false","x":551.380916595459,"y":840.6354746818542,"wires":[]},{"id":"eb26f03b.04b12","type":"function","z":"9c749a30.776c98","name":"Query code 02","func":"//Reply\tHeader Serial Command Code DL 年  月  日  時  分  秒  Checksum End\n//    \tAA\t   00\t  83\t  02   06 12  03  01  08  00  00  A9\t    8E\n\nlet msg1 = {\"payload\": ''};\n\nif (msg.payload !== 'clean') {\n    // node.warn('$$$$$$$$$$$$$$');\n    let obj = context.global.responseMsg;\n    let data = obj.data;\n    // node.warn('Node response data : ' + data);\n    let buff = new Buffer(data, 'hex');\n    let year = (buff[5]+2000);\n    let month = (buff[6]);\n    let day = (buff[7]) ;\n    let hour = (buff[8]) ;\n    let minute = (buff[9]) ;\n    let second = (buff[10]) ;\n    let timeStr = data.substring(10, 22);\n    let time = year + '-' + toStr(month) + '-' + toStr(day) + ' ';\n    time = time + toStr(hour) + ':' + toStr(minute) + ':' + toStr(second);\n    let message =timeStr + ' -> ' + time;\n    msg1 = {\"payload\": message};\n}\n\n\nreturn msg1;\n\nfunction toStr(value) {\n    let str = '';\n    if (value < 10) {\n        str = '0' + value;\n    } else {\n        str = value;\n    }\n    // node.warn(str);\n    return str;\n}","outputs":"1","noerr":0,"x":1410,"y":460,"wires":[["ae2b9394.be585"]]},{"id":"ae2b9394.be585","type":"ui_text","z":"9c749a30.776c98","group":"22bbd50f.9ff9ba","order":0,"width":0,"height":0,"name":"","label":"Current time : ","format":"{{msg.payload}}","layout":"row-left","x":1660,"y":440,"wires":[]},{"id":"6cf8075f.a78578","type":"ui_text","z":"9c749a30.776c98","group":"bea29ae6.721d88","order":11,"width":0,"height":0,"name":"","label":"From : ","format":"{{msg.payload}}","layout":"row-left","x":1648.4470100402832,"y":397.1676627397537,"wires":[]},{"id":"71402e4a.3728f","type":"ui_button","z":"9c749a30.776c98","name":"","group":"23ab2cd8.2b3fa4","order":2,"width":0,"height":0,"passthru":false,"label":"Setting Keep-Alive","color":"","bgcolor":"","icon":"","payload":"AA0302058E","payloadType":"str","topic":"","x":230.8460235595703,"y":1432.3746852874756,"wires":[["e076cdbf.e3402"]]},{"id":"e076cdbf.e3402","type":"function","z":"9c749a30.776c98","name":"#set command","func":"//設定Keep-Alive時間間隔 Header Serial Command Code\tPL\tParameter1~3 Checksum End\n//Disable Keep-Alive\t  AA\t00\t   02\t   01\t03\t00\t00\t00\t 06\t      8E\n//設定Keep-Alive為3600秒  AA\t00\t   02\t   01\t03\t00\t0E\t10\t 24\t      8E\n//請求MCU重新開始計數\t  AA\t00\t   02\t   01\t03\tFF\tFF\tFF\t 03\t      8E\n \ncontext.global.lastTime = new Date();\nlet aliveTime = context.global.aliveTime;\n// node.warn(aliveTime);\nlet msg1 ={};\nif (aliveTime < 10 || aliveTime > 86400) {\n    msg1.payload  = 'Keep-Alive times < 10 seconds or > 86400 seconds! please resrt the times';\n    return [msg1, null];\n}\ncontext.global.selectData = getData(aliveTime);\nlet newDate = new Date();\n// newDate.setTime(newDate.getTime() + (newDate.getTimezoneOffset() *60*1000));\ncontext.global.aliveStartTime = newDate;\nreturn [null, msg];\n\nfunction getData(num) {\n    let serialNum = context.global.serialNum + 1;\n    if (serialNum > 0xEF || context.global.enableSerialNum === false) {\n        serialNum = 0x00;\n    }\n    let a0 = 0xAA; // Header\n    let a1 = serialNum; // Serial number\n    let a2 = 0x02; // Command\n    let a3 = 0x01; // Code\n    let a4 = 0x03; // PL\n    let a5 = num >> 16;\n    let a6 = (num & 0x00FF00) >> 8;\n    let a7 = (num & 0x0000FF);\n    let a8 = a2 + a3 + a4 + a5 + a6 + a7;\n    let a9 = 0x8E;\n    /*node.warn(num);\n    node.warn(a5);\n    node.warn(a6);\n    node.warn(a7);*/\n    context.global.serialNum = serialNum;\n\n    let test = toStr(a0) + toStr(a1) + toStr(a2) + toStr(a3) + toStr(a4);\n    test = test + toStr(a5) + toStr(a6) + toStr(a7) + toStr(a8) + toStr(a9);\n    // node.warn(test);\n    return test;\n}\n\nfunction toStr(value) {\n    let str = '';\n    if (value < 0x10) {\n        str = '0' + value.toString(16);\n    } else {\n        str = value.toString(16);\n    }\n    return str.toUpperCase();\n}\n\n","outputs":"2","noerr":0,"x":439.4174499511719,"y":1431.9459743499756,"wires":[["c989123b.f167"],["ebd8da12.ba34a8"]]},{"id":"8f4ab143.88c0a","type":"ui_text_input","z":"9c749a30.776c98","name":"","label":"Time ( 10seconds ~ 86400 seconds)","group":"23ab2cd8.2b3fa4","order":1,"width":0,"height":0,"passthru":true,"mode":"number","delay":300,"topic":"","x":306.78747177124023,"y":1350.6956782341003,"wires":[["7a18479e.c1abe8"]]},{"id":"7a18479e.c1abe8","type":"function","z":"9c749a30.776c98","name":"#set global.aliveTime","func":"let field = msg.payload;\nlet aliveTime = Number(msg.payload);\n// node.warn(typeof field );\ncontext.global.aliveTime = aliveTime;\nreturn msg;","outputs":"1","noerr":0,"x":608.7874183654785,"y":1351.5706553459167,"wires":[["d15a5d5.71aeda"]]},{"id":"d15a5d5.71aeda","type":"debug","z":"9c749a30.776c98","name":"","active":false,"console":"false","complete":"false","x":828.7935791015625,"y":1405.3704886436462,"wires":[]},{"id":"2c3c4ad5.dcdaf6","type":"ui_button","z":"9c749a30.776c98","name":"","group":"23ab2cd8.2b3fa4","order":2,"width":0,"height":0,"passthru":false,"label":"Disable Keep-Alive","color":"","bgcolor":"Gray","icon":"","payload":"","payloadType":"str","topic":"","x":240.89369201660156,"y":1468.707935333252,"wires":[["80fc84c2.cb47c8"]]},{"id":"80fc84c2.cb47c8","type":"function","z":"9c749a30.776c98","name":"#set  command","func":"context.global.selectData = getData();\n\n// AA0201020000058E\nreturn msg;\n\nfunction getData() {\n    let serialNum = context.global.serialNum + 1;\n   if (serialNum > 0xEF || context.global.enableSerialNum === false) {\n        serialNum = 0x00;\n    }\n    context.global.serialNum = serialNum;\n    let a0 = 0xAA; // Header\n    let a1 = serialNum; // Serial number\n    let a2 = 0x02;\n    let a3 = 0x01;\n    let a4 = 0x03;\n    let a5 = 0x00;\n    let a6 = 0x00;\n    let a7 = 0x00;\n    let a8 = a2 + a3 + a4 + a5 + a6 + a7;\n    let a9 = 0x8E;\n    \n\n    let test = toStr(a0) + toStr(a1) + toStr(a2) + toStr(a3) + toStr(a4);\n    test = test + toStr(a5) + toStr(a6) + toStr(a7) + toStr(a8) + toStr(a9);\n    node.warn(test);\n    return test;\n}\n\nfunction toStr(value) {\n    let str = '';\n    if (value < 0x10) {\n        str = '0' + value.toString(16);\n    } else {\n        str = value.toString(16);\n    }\n    return str.toUpperCase();\n}","outputs":1,"noerr":0,"x":441.89378356933594,"y":1467.707935333252,"wires":[["ebd8da12.ba34a8"]]},{"id":"19588273.3cf49e","type":"ui_toast","z":"9c749a30.776c98","position":"top right","displayTime":"20","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"","x":1550,"y":1300,"wires":[]},{"id":"c7007b60.341328","type":"comment","z":"9c749a30.776c98","name":"Setting Keep-Alive","info":"","x":227.78747177124023,"y":1395.2581763267517,"wires":[]},{"id":"6c6ed97a.4f2968","type":"comment","z":"9c749a30.776c98","name":"查詢控制器目前時間","info":"","x":239.01874160766602,"y":825.7079615592957,"wires":[]},{"id":"d0d27b56.7f0948","type":"ui_text_input","z":"9c749a30.776c98","name":"","label":"Year","group":"377c9b94.801474","order":0,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":197.9124870300293,"y":1069.7081055641174,"wires":[["d873bdc6.974d9"]]},{"id":"db405ea5.de428","type":"ui_text_input","z":"9c749a30.776c98","name":"","label":"Month","group":"377c9b94.801474","order":0,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":193.01874160766602,"y":1108.708097934723,"wires":[["5a78e781.40a608"]]},{"id":"30aed5c6.5fc42a","type":"ui_text_input","z":"9c749a30.776c98","name":"","label":"Day","group":"377c9b94.801474","order":0,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":196.01874160766602,"y":1144.708097934723,"wires":[["cbb8ab92.6c3178"]]},{"id":"c7160a21.294218","type":"ui_text_input","z":"9c749a30.776c98","name":"","label":"Hours","group":"377c9b94.801474","order":0,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":199.01874160766602,"y":1179.708097934723,"wires":[["831194e0.966348"]]},{"id":"7f8d2b19.305ff4","type":"ui_text_input","z":"9c749a30.776c98","name":"","label":"Minutes","group":"377c9b94.801474","order":0,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":203.1249885559082,"y":1220.7080569267273,"wires":[["4938d0dd.eb00c"]]},{"id":"c2915bef.26df08","type":"ui_text_input","z":"9c749a30.776c98","name":"","label":"seconds","group":"377c9b94.801474","order":0,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":207.12499618530273,"y":1254.7080903053284,"wires":[["54f7ed1b.9e2db4"]]},{"id":"d873bdc6.974d9","type":"function","z":"9c749a30.776c98","name":"*save global.selectYear","func":"context.global.selectYear = Number(msg.payload);\nnode.warn(typeof context.global.selectYear + context.global.selectYear)\nreturn msg;","outputs":1,"noerr":0,"x":406.01874923706055,"y":1067.708097934723,"wires":[[]]},{"id":"5a78e781.40a608","type":"function","z":"9c749a30.776c98","name":"*save global.selectMonth","func":"context.global.selectMonth = Number(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":413.01874923706055,"y":1102.708097934723,"wires":[[]]},{"id":"cbb8ab92.6c3178","type":"function","z":"9c749a30.776c98","name":"*save global.selectDay","func":"context.global.selectDay = Number(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":405.01874923706055,"y":1142.708097934723,"wires":[[]]},{"id":"831194e0.966348","type":"function","z":"9c749a30.776c98","name":"*save global.selectHour","func":"context.global.selectHour = Number(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":409.01874923706055,"y":1177.708097934723,"wires":[[]]},{"id":"4938d0dd.eb00c","type":"function","z":"9c749a30.776c98","name":"*save global.selectMinute","func":"context.global.selectMinute = Number(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":420.01874923706055,"y":1214.708097934723,"wires":[[]]},{"id":"54f7ed1b.9e2db4","type":"function","z":"9c749a30.776c98","name":"*save global.selectSecond","func":"// node.warn('secondes : ' + msg.payload);\ncontext.global.selectSecond = Number(msg.payload);\nnode.warn('context.global.selectSecond : ' + context.global.selectSecond);\nreturn msg;","outputs":1,"noerr":0,"x":418.0187454223633,"y":1252.7080788612366,"wires":[[]]},{"id":"89d670f5.df2c2","type":"ui_button","z":"9c749a30.776c98","name":"","group":"377c9b94.801474","order":0,"width":0,"height":0,"passthru":false,"label":"Setting time","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":207.91247177124023,"y":1298.8268367052078,"wires":[["e1c98869.28f058"]]},{"id":"e1c98869.28f058","type":"function","z":"9c749a30.776c98","name":"#set command","func":"if (context.global.selectYear === undefined) {\n    return [null,{\"payload\":\"Year is not defined\"}];\n}\nif (context.global.selectMonth === undefined) {\n    return [null,{\"payload\":\"Month is not defined\"}];\n}\nif (context.global.selectDay === undefined) {\n    return [null,{\"payload\":\"Day is not defined\"}];\n}\nif (context.global.selectHour === undefined) {\n    return [null,{\"payload\":\"Hour is not defined\"}];\n}\nif (context.global.selectMinute === undefined) {\n    return [null,{\"payload\":\"Minute is not defined\"}];\n}\nif (context.global.selectSecond === undefined) {\n    return [null,{\"payload\":\"Second is not defined\"}];\n}\ncontext.global.selectData =  getData();\n// node.warn(context.global.selectData);\nreturn [msg, null];\n\nfunction getData() {\n    let serialNum = context.global.serialNum + 1;\n    if (serialNum > 0xEF || context.global.enableSerialNum === false) {\n        serialNum = 0x00;\n    }\n    context.global.serialNum = serialNum;\n    let a0 = 0xAA; // Header\n    let a1 = serialNum; // Serial number\n    let a2 = 0x02;//Command\n    let a3 = 0x02;//Code\n    let a4 = 0x06;//PL\n    let a5 = context.global.selectYear - 2000; //Parameter1\n    let a6 = context.global.selectMonth;       //Parameter2\n    let a7 = context.global.selectDay;         //Parameter3\n    let a8 = context.global.selectHour;        //Parameter4\n    let a9 = context.global.selectMinute;      //Parameter5\n    let a10 = context.global.selectSecond;      //Parameter6\n    \n    let a11 = a2 + a3 + a4 + a5;\n    a11 = a11 + a6 + a7 + a8 + a9 + a10;\n    // node.warn('before a10 :' + a10);\n    a11 = a11 & 0xFF; //Checksum\n    // node.warn('after a10 :' + a10);\n    let a12 = 0x8E;\n\n    let test = toStr(a0) + toStr(a1) + toStr(a2) + toStr(a3) + toStr(a4) + toStr(a5) + toStr(a6);\n    test = test + toStr(a7) + toStr(a8) + toStr(a9) + toStr(a10) + toStr(a11)  + toStr(a12) ;\n    return test;\n}\n\nfunction toStr(value) {\n    let str = '';\n    if (value < 0x10) {\n        str = '0' + value.toString(16);\n    } else {\n        str = value.toString(16);\n    }\n    // node.warn(str);\n    return str.toUpperCase();\n}\n","outputs":"2","noerr":0,"x":397.0187568664551,"y":1299.7079879045486,"wires":[["3e395bae.454334"],["16447f5e.90e8a1"]]},{"id":"6b411458.514e5c","type":"comment","z":"9c749a30.776c98","name":"設定控制器時間","info":"","x":228.9249382019043,"y":1031.2580939531326,"wires":[]},{"id":"50254285.bd4c3c","type":"comment","z":"9c749a30.776c98","name":"查詢路燈狀態","info":"","x":222.11872100830078,"y":418.25805282592773,"wires":[]},{"id":"16447f5e.90e8a1","type":"ui_toast","z":"9c749a30.776c98","position":"top right","displayTime":"5","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"","x":661.9186706542969,"y":1306.508143544197,"wires":[]},{"id":"e886a46f.e34698","type":"ui_text_input","z":"9c749a30.776c98","name":"","label":"Hours","group":"d0b391b7.ee885","order":1,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":201.01873397827148,"y":1953.708134174347,"wires":[["55963b06.680104"]]},{"id":"55963b06.680104","type":"function","z":"9c749a30.776c98","name":"*save global.autoHour","func":"context.global.autoHour = Number(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":411.018741607666,"y":1951.708134174347,"wires":[[]]},{"id":"e9ed34e9.f56b58","type":"ui_text_input","z":"9c749a30.776c98","name":"","label":"Minutes","group":"d0b391b7.ee885","order":2,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":205.12498092651367,"y":1994.7080931663513,"wires":[["ae0d1026.6bc82"]]},{"id":"ae0d1026.6bc82","type":"function","z":"9c749a30.776c98","name":"*save global.autoMinute","func":"context.global.autoMinute = Number(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":412.018741607666,"y":1988.708134174347,"wires":[[]]},{"id":"e360603a.cf77e","type":"comment","z":"9c749a30.776c98","name":"Auto lifgting on & off with time setting","info":"","x":298.918758392334,"y":1915.4643378257751,"wires":[]},{"id":"a67be899.c4fbc8","type":"ui_button","z":"9c749a30.776c98","name":"","group":"d0b391b7.ee885","order":4,"width":0,"height":0,"passthru":false,"label":"Enable Auto Lighting Off","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":251.91874313354492,"y":2082.8268790245056,"wires":[["a52f0663.ddb358"]]},{"id":"6ad6d543.f364fc","type":"ui_button","z":"9c749a30.776c98","name":"","group":"d0b391b7.ee885","order":5,"width":0,"height":0,"passthru":false,"label":"Enable Auto Lighting On","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":247.01874160766602,"y":2129.7080664634705,"wires":[["2b3679b4.781ae6"]]},{"id":"701568c.7ade198","type":"ui_button","z":"9c749a30.776c98","name":"","group":"d0b391b7.ee885","order":6,"width":0,"height":0,"passthru":false,"label":"Disable Auto Light ng Off","color":"","bgcolor":"gray","icon":"","payload":"","payloadType":"str","topic":"","x":247.01874160766602,"y":2170.7080664634705,"wires":[["72468f58.44c5a"]]},{"id":"48c6909f.9a5f4","type":"ui_button","z":"9c749a30.776c98","name":"","group":"d0b391b7.ee885","order":7,"width":0,"height":0,"passthru":false,"label":"Disable Auto Lighting On","color":"","bgcolor":"gray","icon":"","payload":"","payloadType":"str","topic":"","x":251.01873397827148,"y":2215.7080664634705,"wires":[["7e290397.959f3c"]]},{"id":"16fb6f1f.c16ad1","type":"ui_button","z":"9c749a30.776c98","name":"","group":"d0b391b7.ee885","order":8,"width":0,"height":0,"passthru":false,"label":"Disable Auto Lighting On & Off","color":"","bgcolor":"gray","icon":"","payload":"","payloadType":"str","topic":"","x":270.0187339782715,"y":2260.7080664634705,"wires":[["ecd62a42.d1d588"]]},{"id":"a52f0663.ddb358","type":"function","z":"9c749a30.776c98","name":"#set command","func":"/*設定自動開關燈\tHeader\tSerial Number\tCommand\tCode\tPL\t自動 時  分  秒 c   End\n啟動自動關燈，動作時間 07:00\tAA\t00\t    02\t    03\t    04\t01\t 07\t 00\t 00\t11\t8E\n啟動自動開燈，動作時間 17:00\tAA\t00\t    02\t    03\t    04\t02\t 11\t 00\t 00\t1C\t8E\n關閉自動關燈\t                AA\t00\t    02\t    03\t    04\tF1\t 00\t 00\t 00\tFA\t8E\n關閉自動開燈\t                AA\t00\t    02\t    03\t    04\tF2\t 00\t 00\t 00\tFB\t8E\n關閉自動關燈&自動開燈\t        AA\t00\t    02\t    03\t    04\tF3\t 00\t 00\t 00\tFC\t8E\n*/\n\n\nif (context.global.autoHour === undefined) {\n    return [null,{\"payload\":\"Auto lighting : Hours is not defined\"}];\n}\nif (context.global.autoMinute === undefined) {\n    return [null,{\"payload\":\"Auto lighting : Minutes is not defined\"}];\n}\nif (context.global.autoSecond === undefined) {\n    return [null,{\"payload\":\"Auto lighting : Seconds is not defined\"}];\n}\n\ncontext.global.selectData =  getData();\n// node.warn(context.global.selectData);\nreturn [msg, null];\n\nfunction getData() {\n    let serialNum = context.global.serialNum + 1;\n    if (serialNum > 0xEF || context.global.enableSerialNum === false) {\n        serialNum = 0x00;\n    }\n    context.global.serialNum = serialNum;\n    let a0 = 0xAA; // Header\n    let a1 = serialNum; // Serial number\n    let a2 = 0x02;//Command\n    let a3 = 0x03;//Code\n    let a4 = 0x04;//PL\n    let a5 = 0x01;//Praraeter 1 : 啟動自動關燈\n    let a6 = context.global.autoHour;//Praraeter 2\n    let a7 = context.global.autoMinute;////Praraeter 3\n    let a8 = context.global.autoSecond;////Praraeter 4\n    \n    let a9 = a2 + a3 + a4 + a5 + a6 + a7 + a8; //Checksum\n    // node.warn('before a7 :' + a7);\n    a9 = a9 & 0xFF;\n    // node.warn('after a7 :' + a7);\n    let a10 = 0x8E;\n\n    let test = toStr(a0) + toStr(a1) + toStr(a2) + toStr(a3) + toStr(a4) + toStr(a5);\n    test = test + toStr(a6) + toStr(a7) + toStr(a8) + toStr(a9) + toStr(a10);\n    return test;\n}\n\nfunction toStr(value) {\n    let str = '';\n    if (value < 0x10) {\n        str = '0' + value.toString(16);\n    } else {\n        str = value.toString(16);\n    }\n    // node.warn(str);\n    return str.toUpperCase();\n}\n","outputs":"2","noerr":0,"x":476.01874923706055,"y":2080.7080664634705,"wires":[["3c5c9a4.9c31866"],["a4646a4e.98f658"]]},{"id":"a4646a4e.98f658","type":"ui_toast","z":"9c749a30.776c98","position":"top right","displayTime":"3","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"","x":790.9186782836914,"y":2102.501907348633,"wires":[]},{"id":"2b3679b4.781ae6","type":"function","z":"9c749a30.776c98","name":"#set command","func":"/*設定自動開關燈\tHeader\tSerial Number\tCommand\tCode\tPL\t\"Parameter1\n(自動開燈/自動關燈)\"\t\"Parameter2\n(動作時間-時)\"\t\"Parameter3\n(動作時間-分)\"\t\"Parameter4\n(動作時間-秒)\"\tChecksum\tEnd\n啟動自動關燈，動作時間 07:00\tAA\t00\t02\t03\t04\t01\t07\t00\t00\t11\t8E\n啟動自動開燈，動作時間 17:00\tAA\t00\t02\t03\t04\t02\t11\t00\t00\t1C\t8E\n關閉自動關燈\t                AA\t00\t02\t03\t04\tF1\t00\t00\t00\tFA\t8E\n關閉自動開燈\t                AA\t00\t02\t03\t04\tF2\t00\t00\t00\tFB\t8E\n關閉自動關燈&自動開燈\t        AA\t00\t02\t03\t04\tF3\t00\t00\t00\tFC\t8E\n*/\nif (context.global.autoHour === undefined) {\n    return [null,{\"payload\":\"Auto lighting : Hours is not defined\"}];\n}\nif (context.global.autoMinute === undefined) {\n    return [null,{\"payload\":\"Auto lighting : Minutes is not defined\"}];\n}\nif (context.global.autoSecond === undefined) {\n    return [null,{\"payload\":\"Auto lighting : Seconds is not defined\"}];\n}\n\ncontext.global.selectData =  getData();\n// node.warn(context.global.selectData);\nreturn [msg, null];\n\nfunction getData() {\n    let serialNum = context.global.serialNum + 1;\n    if (serialNum > 0xEF || context.global.enableSerialNum === false) {\n        serialNum = 0x00;\n    }\n    context.global.serialNum = serialNum;\n    let a0 = 0xAA; // Header\n    let a1 = serialNum; // Serial number\n    let a2 = 0x02;//Command\n    let a3 = 0x03;//Code\n    let a4 = 0x04;//PL\n    let a5 = 0x02;//Praraeter 1 : 啟動自動開燈\n    let a6 = context.global.autoHour;//Praraeter 2\n    let a7 = context.global.autoMinute;////Praraeter 3\n    let a8 = context.global.autoSecond;////Praraeter 4\n    \n    let a9 = a2 + a3 + a4 + a5 + a6 + a7 + a8; //Checksum\n    // node.warn('before a7 :' + a7);\n    a9 = a9 & 0xFF;\n    // node.warn('after a7 :' + a7);\n    let a10 = 0x8E;\n\n    let test = toStr(a0) + toStr(a1) + toStr(a2) + toStr(a3) + toStr(a4) + toStr(a5);\n    test = test + toStr(a6) + toStr(a7) + toStr(a8) + toStr(a9) + toStr(a10);\n    return test;\n}\n\nfunction toStr(value) {\n    let str = '';\n    if (value < 0x10) {\n        str = '0' + value.toString(16);\n    } else {\n        str = value.toString(16);\n    }\n    // node.warn(str);\n    return str.toUpperCase();\n}\n","outputs":"2","noerr":0,"x":482.01874923706055,"y":2129.708068370819,"wires":[["3c5c9a4.9c31866"],["a4646a4e.98f658"]]},{"id":"72468f58.44c5a","type":"function","z":"9c749a30.776c98","name":"#set command","func":"/*設定自動開關燈\tHeader\tSerial Number\tCommand\tCode\tPL\t\"Parameter1\n(自動開燈/自動關燈)\"\t\"Parameter2\n(動作時間-時)\"\t\"Parameter3\n(動作時間-分)\"\t\"Parameter4\n(動作時間-秒)\"\tChecksum\tEnd\n啟動自動關燈，動作時間 07:00\tAA\t00\t02\t03\t04\t01\t07\t00\t00\t11\t8E\n啟動自動開燈，動作時間 17:00\tAA\t00\t02\t03\t04\t02\t11\t00\t00\t1C\t8E\n關閉自動關燈\t                AA\t00\t02\t03\t04\tF1\t00\t00\t00\tFA\t8E\n關閉自動開燈\t                AA\t00\t02\t03\t04\tF2\t00\t00\t00\tFB\t8E\n關閉自動關燈&自動開燈\t        AA\t00\t02\t03\t04\tF3\t00\t00\t00\tFC\t8E\n*/\ncontext.global.selectData =  getData();\n// node.warn(context.global.selectData);\nreturn msg;\n\nfunction getData() {\n    let serialNum = context.global.serialNum + 1;\n    if (serialNum > 0xEF || context.global.enableSerialNum === false) {\n        serialNum = 0x00;\n    }\n    context.global.serialNum = serialNum;\n    let a0 = 0xAA; // Header\n    let a1 = serialNum; // Serial number\n    let a2 = 0x02;//Command\n    let a3 = 0x03;//Code\n    let a4 = 0x04;//PL\n    let a5 = 0xF1;//Praraeter 1 : 關閉自動關燈\n    let a6 = 0x00;//Praraeter 2\n    let a7 = 0x00;////Praraeter 3\n    let a8 = 0x00;////Praraeter 4\n    \n    let a9 = a2 + a3 + a4 + a5 + a6 + a7 + a8; //Checksum\n    // node.warn('before a7 :' + a7);\n    a9 = a9 & 0xFF;\n    // node.warn('after a7 :' + a7);\n    let a10 = 0x8E;\n\n    let test = toStr(a0) + toStr(a1) + toStr(a2) + toStr(a3) + toStr(a4) + toStr(a5);\n    test = test + toStr(a6) + toStr(a7) + toStr(a8) + toStr(a9) + toStr(a10);\n    return test;\n}\n\nfunction toStr(value) {\n    let str = '';\n    if (value < 0x10) {\n        str = '0' + value.toString(16);\n    } else {\n        str = value.toString(16);\n    }\n    // node.warn(str);\n    return str.toUpperCase();\n}\n","outputs":"1","noerr":0,"x":467.0187568664551,"y":2176.7080569267273,"wires":[["3c5c9a4.9c31866"]]},{"id":"7e290397.959f3c","type":"function","z":"9c749a30.776c98","name":"#set command","func":"/*設定自動開關燈\tHeader\tSerial Number\tCommand\tCode\tPL\t\"Parameter1\n(自動開燈/自動關燈)\"\t\"Parameter2\n(動作時間-時)\"\t\"Parameter3\n(動作時間-分)\"\t\"Parameter4\n(動作時間-秒)\"\tChecksum\tEnd\n啟動自動關燈，動作時間 07:00\tAA\t00\t02\t03\t04\t01\t07\t00\t00\t11\t8E\n啟動自動開燈，動作時間 17:00\tAA\t00\t02\t03\t04\t02\t11\t00\t00\t1C\t8E\n關閉自動關燈\t                AA\t00\t02\t03\t04\tF1\t00\t00\t00\tFA\t8E\n關閉自動開燈\t                AA\t00\t02\t03\t04\tF2\t00\t00\t00\tFB\t8E\n關閉自動關燈&自動開燈\t        AA\t00\t02\t03\t04\tF3\t00\t00\t00\tFC\t8E\n*/\ncontext.global.selectData =  getData();\n// node.warn(context.global.selectData);\nreturn msg;\n\nfunction getData() {\n    let serialNum = context.global.serialNum + 1;\n    if (serialNum > 0xEF || context.global.enableSerialNum === false) {\n        serialNum = 0x00;\n    }\n    context.global.serialNum = serialNum;\n    let a0 = 0xAA; // Header\n    let a1 = serialNum; // Serial number\n    let a2 = 0x02;//Command\n    let a3 = 0x03;//Code\n    let a4 = 0x04;//PL\n    let a5 = 0xF2;//Praraeter 1 : 關閉自動開燈\n    let a6 = 0x00;//Praraeter 2\n    let a7 = 0x00;////Praraeter 3\n    let a8 = 0x00;////Praraeter 4\n    \n    let a9 = a2 + a3 + a4 + a5 + a6 + a7 + a8; //Checksum\n    // node.warn('before a7 :' + a7);\n    a9 = a9 & 0xFF;\n    // node.warn('after a7 :' + a7);\n    let a10 = 0x8E;\n\n    let test = toStr(a0) + toStr(a1) + toStr(a2) + toStr(a3) + toStr(a4) + toStr(a5);\n    test = test + toStr(a6) + toStr(a7) + toStr(a8) + toStr(a9) + toStr(a10);\n    return test;\n}\n\nfunction toStr(value) {\n    let str = '';\n    if (value < 0x10) {\n        str = '0' + value.toString(16);\n    } else {\n        str = value.toString(16);\n    }\n    // node.warn(str);\n    return str.toUpperCase();\n}\n","outputs":"1","noerr":0,"x":489.0187530517578,"y":2218.7080869674683,"wires":[["3c5c9a4.9c31866"]]},{"id":"ecd62a42.d1d588","type":"function","z":"9c749a30.776c98","name":"#set command","func":"/*設定自動開關燈\tHeader\tSerial Number\tCommand\tCode\tPL\t\"Parameter1\n(自動開燈/自動關燈)\"\t\"Parameter2\n(動作時間-時)\"\t\"Parameter3\n(動作時間-分)\"\t\"Parameter4\n(動作時間-秒)\"\tChecksum\tEnd\n啟動自動關燈，動作時間 07:00\tAA\t00\t02\t03\t04\t01\t07\t00\t00\t11\t8E\n啟動自動開燈，動作時間 17:00\tAA\t00\t02\t03\t04\t02\t11\t00\t00\t1C\t8E\n關閉自動關燈\t                AA\t00\t02\t03\t04\tF1\t00\t00\t00\tFA\t8E\n關閉自動開燈\t                AA\t00\t02\t03\t04\tF2\t00\t00\t00\tFB\t8E\n關閉自動關燈&自動開燈\t        AA\t00\t02\t03\t04\tF3\t00\t00\t00\tFC\t8E\n*/\ncontext.global.selectData =  getData();\n// node.warn(context.global.selectData);\nreturn msg;\n\nfunction getData() {\n    let serialNum = context.global.serialNum + 1;\n    if (serialNum > 0xEF || context.global.enableSerialNum === false) {\n        serialNum = 0x00;\n    }\n    context.global.serialNum = serialNum;\n    let a0 = 0xAA; // Header\n    let a1 = serialNum; // Serial number\n    let a2 = 0x02;//Command\n    let a3 = 0x03;//Code\n    let a4 = 0x04;//PL\n    let a5 = 0xF3;//Praraeter 1 : 關閉自動關燈&自動開燈\n    let a6 = 0x00;//Praraeter 2\n    let a7 = 0x00;////Praraeter 3\n    let a8 = 0x00;////Praraeter 4\n    \n    let a9 = a2 + a3 + a4 + a5 + a6 + a7 + a8; //Checksum\n    // node.warn('before a7 :' + a7);\n    a9 = a9 & 0xFF;\n    // node.warn('after a7 :' + a7);\n    let a10 = 0x8E;\n\n    let test = toStr(a0) + toStr(a1) + toStr(a2) + toStr(a3) + toStr(a4) + toStr(a5);\n    test = test + toStr(a6) + toStr(a7) + toStr(a8) + toStr(a9) + toStr(a10);\n    return test;\n}\n\nfunction toStr(value) {\n    let str = '';\n    if (value < 0x10) {\n        str = '0' + value.toString(16);\n    } else {\n        str = value.toString(16);\n    }\n    // node.warn(str);\n    return str.toUpperCase();\n}\n","outputs":"1","noerr":0,"x":494.01874923706055,"y":2261.7080664634705,"wires":[["3c5c9a4.9c31866"]]},{"id":"94ef3c2b.74da1","type":"ui_text","z":"9c749a30.776c98","group":"37aa5b43.a6f3e4","order":1,"width":0,"height":0,"name":"","label":"Date : ","format":"{{msg.payload}}","layout":"row-left","x":1341.6187629699707,"y":139.68321418762207,"wires":[]},{"id":"49bed4bf.232d9c","type":"ui_text","z":"9c749a30.776c98","group":"37aa5b43.a6f3e4","order":3,"width":0,"height":0,"name":"","label":"Data : ","format":"{{msg.payload}}","layout":"row-left","x":1357.6187591552734,"y":239.7082118988037,"wires":[]},{"id":"a4370422.f6e118","type":"ui_text","z":"9c749a30.776c98","group":"37aa5b43.a6f3e4","order":4,"width":0,"height":0,"name":"","label":"Result : ","format":"{{msg.payload}}","layout":"row-left","x":1404.8187103271484,"y":297.7082176208496,"wires":[]},{"id":"a29cbe6d.462e9","type":"debug","z":"9c749a30.776c98","name":"Check clean","active":false,"console":"false","complete":"payload","x":1215.0186576843262,"y":1584.908191204071,"wires":[]},{"id":"712bb923.9195f8","type":"ui_slider","z":"9c749a30.776c98","name":"","label":"Adjust light","group":"8e4d3c4f.5de44","order":2,"width":0,"height":0,"passthru":true,"topic":"","min":"10","max":"100","step":"1","x":228.01872634887695,"y":2341.708219051361,"wires":[["727c3ec1.6a1af","d090321f.7b1fa","be5c161b.6fd8f8"]]},{"id":"727c3ec1.6a1af","type":"debug","z":"9c749a30.776c98","name":"","active":true,"console":"false","complete":"false","x":527.3521308898926,"y":2344.041564464569,"wires":[]},{"id":"d090321f.7b1fa","type":"function","z":"9c749a30.776c98","name":"*save global.autoLighting","func":"let lighting = msg.payload;\ncontext.global.autoLighting = lighting;\nreturn msg;","outputs":1,"noerr":0,"x":462.01872634887695,"y":2306.774757862091,"wires":[[]]},{"id":"78fef451.38a3cc","type":"ui_button","z":"9c749a30.776c98","name":"","group":"8e4d3c4f.5de44","order":4,"width":0,"height":0,"passthru":false,"label":"Set Dimming","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":236.2186508178711,"y":2450.774516582489,"wires":[["7d09f38.d85830c"]]},{"id":"7d09f38.d85830c","type":"function","z":"9c749a30.776c98","name":"#Set command","func":"//設定自動開燈時的調光數值\tHeader\tSerial Number\tCommand\tCode\tPL\tParameter (調光值)\tChecksum\tEnd\n//設定自動開燈調光值=100%\tAA      00\t            02\t    04\t    01\t64\t                6B\t        8E\n\nlet lighting = context.global.autoLighting; \n// node.warn('lighting->' + lighting);\nlet data = getData(lighting);\n// node.warn('data : ' + data);\nmsg.payload = data;\ncontext.global.selectData = data;\nreturn msg;\n\nfunction getData(num) {\n    let serialNum = context.global.serialNum + 1;\n    if (serialNum > 0xEF || context.global.enableSerialNum === false) {\n        serialNum = 0x00;\n    }\n    context.global.serialNum = serialNum;\n    let a0 = 0xAA; // Header\n    let a1 = serialNum; // Serial number\n    let a2 = 0x02;//Command\n    let a3 = 0x04;//Code\n    let a4 = 0x01;//PL\n    let a5 = num; //Parameter\n    let tmp = a2 + a3 + a4 + a5 ;\n    let a6 = 0x0FF && tmp;//checksum\n    let a7 = 0x8E;//End\n\n    let test = toStr(a0) + toStr(a1) + toStr(a2) + toStr(a3);\n    test = test + toStr(a4) + toStr(a5) + toStr(a6)  + toStr(a7);\n    return test;\n}\n\nfunction toStr(value) {\n    let str = '';\n    if (value < 0x10) {\n        str = '0' + value.toString(16);\n    } else {\n        str = value.toString(16);\n    }\n    return str.toUpperCase();\n}","outputs":1,"noerr":0,"x":426.57421493530273,"y":2449.219127178192,"wires":[["3c5c9a4.9c31866"]]},{"id":"92e6298b.b146d8","type":"comment","z":"9c749a30.776c98","name":"Adjust light","info":"","x":225.34366607666016,"y":2394.907940387726,"wires":[]},{"id":"be5c161b.6fd8f8","type":"ui_text","z":"9c749a30.776c98","group":"8e4d3c4f.5de44","order":3,"width":0,"height":0,"name":"","label":"Light : ","format":"{{msg.payload}}","layout":"row-left","x":396.9330062866211,"y":2385.9674954414368,"wires":[]},{"id":"88c3f73e.10c878","type":"ui_button","z":"9c749a30.776c98","name":"","group":"b78fc2be.e4101","order":0,"width":0,"height":0,"passthru":false,"label":"Reset setting","color":"","bgcolor":"#87A980","icon":"","payload":"","payloadType":"str","topic":"","x":235.92498397827148,"y":2554.826808452606,"wires":[["44794b46.f67ef4"]]},{"id":"1305db4d.f87965","type":"comment","z":"9c749a30.776c98","name":"Reset to default","info":"","x":233.91874313354492,"y":2514.270564556122,"wires":[]},{"id":"44794b46.f67ef4","type":"function","z":"9c749a30.776c98","name":"#set comman","func":"//回復設定或清除紀錄\tHeader\tSerial Number\tCommand\tCode\tPL\tParameter\tChecksum\tEnd\n//回復原廠設定值\t    AA\t    00\t            02      05    \t01\t00        \t08        \t8E\n//清除用電紀錄(kWh)\t    AA\t    00\t            02    \t05    \t01\t01        \t09        \t8E\n\ncontext.global.selectData =  getData();\n// node.warn(context.global.selectData);\nreturn msg;\n\nfunction getData() {\n    let serialNum = context.global.serialNum + 1;\n    if (serialNum > 0xEF || context.global.enableSerialNum === false) {\n        serialNum = 0x00;\n    }\n    context.global.serialNum = serialNum;\n    let a0 = 0xAA; // Header\n    let a1 = serialNum; // Serial number\n    let a2 = 0x02;//Command\n    let a3 = 0x05;//Code\n    let a4 = 0x01;//PL\n    let a5 = 0x00;//Praraeter 1(回復原廠預設值) \n    \n    let a6 = a2 + a3 + a4 + a5;\n    // node.warn('before a6 :' + a6);\n    a6 = a6 & 0xFF;\n    let a7 = 0x8E;\n    \n    // node.warn('after a6 :' + a6);\n    let test = toStr(a0) + toStr(a1) + toStr(a2) + toStr(a3) + toStr(a4);\n    test = test + toStr(a5) + toStr(a6) +  toStr(a7);\n    return test;\n}\n\nfunction toStr(value) {\n    let str = '';\n    if (value < 0x10) {\n        str = '0' + value.toString(16);\n    } else {\n        str = value.toString(16);\n    }\n    // node.warn(str);\n    return str.toUpperCase();\n}\n","outputs":"1","noerr":0,"x":430.01874923706055,"y":2553.7081065177917,"wires":[["e07b430.cd419c"]]},{"id":"5097eec2.25daf","type":"ui_button","z":"9c749a30.776c98","name":"","group":"b78fc2be.e4101","order":0,"width":0,"height":0,"passthru":false,"label":"Reset Record","color":"","bgcolor":"#AAAA66","icon":"","payload":"","payloadType":"str","topic":"","x":228.01873016357422,"y":2598.708122253418,"wires":[["c7f2e99a.4f0a28"]]},{"id":"c7f2e99a.4f0a28","type":"function","z":"9c749a30.776c98","name":"#set command","func":"//回復設定或清除紀錄\tHeader\tSerial Number\tCommand\tCode\tPL\tParameter\tChecksum\tEnd\n//回復原廠設定值\t    AA\t    00\t            02      05    \t01\t00        \t08        \t8E\n//清除用電紀錄(kWh)\t    AA\t    00\t            02    \t05    \t01\t01        \t09        \t8E\ncontext.global.selectData =  getData();\n// node.warn(context.global.selectData);\nreturn msg;\n\nfunction getData() {\n    let serialNum = context.global.serialNum + 1;\n    if (serialNum > 0xEF || context.global.enableSerialNum === false) {\n        serialNum = 0x00;\n    }\n    context.global.serialNum = serialNum;\n    let a0 = 0xAA; // Header\n    let a1 = serialNum; // Serial number\n    let a2 = 0x02;//Command\n    let a3 = 0x05;//Code\n    let a4 = 0x01;//PL\n    let a5 = 0x01;//Praraeter 1 (清除用電紀錄)\n    \n    let a6 = a2 + a3 + a4 + a5;\n    // node.warn('before a6 :' + a6);\n    a6 = a6 & 0xFF;\n    let a7 = 0x8E;\n    \n    // node.warn('after a6 :' + a6);\n    let test = toStr(a0) + toStr(a1) + toStr(a2) + toStr(a3) + toStr(a4);\n    test = test + toStr(a5) + toStr(a6) +  toStr(a7);\n    return test;\n}\n\nfunction toStr(value) {\n    let str = '';\n    if (value < 0x10) {\n        str = '0' + value.toString(16);\n    } else {\n        str = value.toString(16);\n    }\n    // node.warn(str);\n    return str.toUpperCase();\n}","outputs":"1","noerr":0,"x":436.11248779296875,"y":2600.589274406433,"wires":[["e07b430.cd419c"]]},{"id":"bfbbc898.824628","type":"ui_text","z":"9c749a30.776c98","group":"c9eb3df6.b1d9","order":6,"width":0,"height":0,"name":"","label":"Type : ","format":"{{msg.payload}}","layout":"row-left","x":1235.8186721801758,"y":197.70820236206055,"wires":[]},{"id":"cdc53e55.43949","type":"ui_text","z":"9c749a30.776c98","group":"37aa5b43.a6f3e4","order":2,"width":0,"height":0,"name":"","label":"Type : ","format":"{{msg.payload}}","layout":"row-left","x":1361.8187103271484,"y":192.70820999145508,"wires":[]},{"id":"9645952b.4cb3c8","type":"function","z":"9c749a30.776c98","name":"get command","func":"let arr = msg.payload;\n// node.warn(arr);\nlet obj =arr[0];\n// node.warn(obj);\nmsg.payload = obj.data + ' -> number : ' +  obj.data.substring(2,4);\nreturn msg;","outputs":1,"noerr":0,"x":1355.1123504638672,"y":1379.57089138031,"wires":[["3c01f12c.1765fe","880fbada.6379b8","858165d5.e065c8"]]},{"id":"3c01f12c.1765fe","type":"debug","z":"9c749a30.776c98","name":"","active":false,"console":"false","complete":"false","x":1593.7249870300293,"y":1342.5831499099731,"wires":[]},{"id":"4f5d4faf.fb99c","type":"json","z":"9c749a30.776c98","name":"","x":1167.1248359680176,"y":1367.0269832611084,"wires":[["9645952b.4cb3c8"]]},{"id":"bc878d6d.5ea68","type":"json","z":"9c749a30.776c98","name":"","x":1168.1124114990234,"y":1410.026891708374,"wires":[["9645952b.4cb3c8"]]},{"id":"c989123b.f167","type":"ui_toast","z":"9c749a30.776c98","position":"top right","displayTime":"10","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"","x":671.9186515808105,"y":1440.320680141449,"wires":[]},{"id":"a134f4a1.1808d8","type":"ui_text_input","z":"9c749a30.776c98","name":"","label":"Seconds","group":"d0b391b7.ee885","order":3,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":209.01874160766602,"y":2029.7081179618835,"wires":[["64a386f5.633518"]]},{"id":"64a386f5.633518","type":"function","z":"9c749a30.776c98","name":"*save global.autoSecond","func":"context.global.autoSecond = Number(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":429.01874923706055,"y":2029.7081179618835,"wires":[[]]},{"id":"9aebbfcc.16ef1","type":"function","z":"9c749a30.776c98","name":"#Set comman","func":"//Header Serial Number\tCommand\tCode\tChecksum\tEnd\n//AA\t 00  \t        03\t    01\t    04\t        8E\n\ncontext.global.selectData =  getData();\n// node.warn(context.global.selectData);\nreturn msg;\n\nfunction getData() {\n    let serialNum = context.global.serialNum + 1;\n    if (serialNum > 0xEF || context.global.enableSerialNum === false) {\n        serialNum = 0x00;\n    }\n    \n    context.global.serialNum = serialNum;\n    let a0 = 0xAA; // Header\n    let a1 = serialNum; // Serial number\n    let a2 = 0x03;//Command\n    let a3 = 0x01;//Code (查詢路燈狀態)\n    \n    let a4 = a2 + a3; //Checksum\n    // node.warn('before a6 :' + a6);\n    a4 = a4 & 0xFF;\n    let a5 = 0x8E;\n    \n    // node.warn('after a6 :' + a6);\n    let test = toStr(a0) + toStr(a1) + toStr(a2) + toStr(a3) + toStr(a4) + toStr(a5);\n    return test;\n}\n\nfunction toStr(value) {\n    let str = '';\n    if (value < 0x10) {\n        str = '0' + value.toString(16);\n    } else {\n        str = value.toString(16);\n    }\n    // node.warn(str);\n    return str.toUpperCase();\n}\n","outputs":1,"noerr":0,"x":511.01876068115234,"y":458.7081422805786,"wires":[["7e8f1b88.f67ef4"]]},{"id":"3bfaa7fc.c61d78","type":"ui_button","z":"9c749a30.776c98","name":"","group":"e236317a.59dbd","order":0,"width":0,"height":0,"passthru":false,"label":"Query Keep-Alive Time","color":"","bgcolor":"#be9927","icon":"","payload":"","payloadType":"str","topic":"","x":256.0187339782715,"y":955.7081246376038,"wires":[["7116a75c.c5d048","7650db74.679a24"]]},{"id":"7116a75c.c5d048","type":"function","z":"9c749a30.776c98","name":"#set command","func":"// Header Serial Number\tCommand\tCode Checksum  End\n// AA\t  00\t        03\t    04\t 07\t       8E\n\ncontext.global.selectData =  getData();\n// node.warn(context.global.selectData);\nmsg.payload = 'clean';\nreturn msg;\n\nfunction getData() {\n    let serialNum = context.global.serialNum + 1;\n    if (serialNum > 0xEF || context.global.enableSerialNum === false) {\n        serialNum = 0x00;\n    }\n    context.global.serialNum = serialNum;\n    let a0 = 0xAA; // Header\n    let a1 = serialNum; // Serial number\n    let a2 = 0x03;//Command\n    let a3 = 0x04;//Code (查詢控制器Keep-Alive設定值)\n    \n    let a4 = a2 + a3; //Checksum\n    a4 = a4 & 0xFF;\n    let a5 = 0x8E;\n    \n    let test = toStr(a0) + toStr(a1) + toStr(a2) + toStr(a3) + toStr(a4) + toStr(a5);\n    return test;\n}\n\nfunction toStr(value) {\n    let str = '';\n    if (value < 0x10) {\n        str = '0' + value.toString(16);\n    } else {\n        str = value.toString(16);\n    }\n    // node.warn(str);\n    return str.toUpperCase();\n}","outputs":1,"noerr":0,"x":544.5901679992676,"y":982.2794127464294,"wires":[["975eb71.b6f2848","3e395bae.454334"]]},{"id":"7650db74.679a24","type":"debug","z":"9c749a30.776c98","name":"","active":false,"console":"false","complete":"false","x":544.4473667144775,"y":942.9938178062439,"wires":[]},{"id":"a60a5a3f.405968","type":"comment","z":"9c749a30.776c98","name":"查詢控制器Keep-Alive設定值","info":"","x":262.0851860046387,"y":918.0663294792175,"wires":[]},{"id":"94dd5ada.c21108","type":"ui_button","z":"9c749a30.776c98","name":"","group":"4c5f3642.a0c608","order":2,"width":0,"height":0,"passthru":false,"label":"Start accumulating Searial Port","color":"","bgcolor":"#008000","icon":"","payload":"true","payloadType":"bool","topic":"","x":429.01874923706055,"y":1824.7084217071533,"wires":[["3d441ef2.d340f2"]]},{"id":"3d441ef2.d340f2","type":"function","z":"9c749a30.776c98","name":"*save global.enableSerialNum","func":"context.global.enableSerialNum = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":741.9185638427734,"y":1841.358081817627,"wires":[[]]},{"id":"4c2091e.af8757","type":"ui_button","z":"9c749a30.776c98","name":"","group":"4c5f3642.a0c608","order":2,"width":0,"height":0,"passthru":false,"label":"Stop accumulating and  Reset zeros","color":"","bgcolor":"#669999","icon":"","payload":"false","payloadType":"bool","topic":"","x":436.01874923706055,"y":1865.7081260681152,"wires":[["3d441ef2.d340f2"]]},{"id":"dc9b9de0.fe499","type":"comment","z":"9c749a30.776c98","name":"Query 83","info":"","x":680,"y":600,"wires":[]},{"id":"a48881f.b4b388","type":"function","z":"9c749a30.776c98","name":"query code type","func":"let obj = context.global.responseMsg;\nlet data = obj.data;\nlet buff = new Buffer(data, 'hex');\nlet code = buff[3];\nmsg.payload = code;\n// node.warn(code); \nreturn msg;","outputs":1,"noerr":0,"x":670,"y":640,"wires":[["6b6fb37e.e0cd3c"]]},{"id":"6b6fb37e.e0cd3c","type":"switch","z":"9c749a30.776c98","name":"Query code","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"str"},{"t":"eq","v":"3","vt":"str"},{"t":"eq","v":"4","vt":"str"},{"t":"eq","v":"17","vt":"str"},{"t":"eq","v":"18","vt":"str"},{"t":"eq","v":"19","vt":"str"}],"checkall":"true","repair":false,"outputs":7,"x":870,"y":680,"wires":[["1f1f7ab8.a619e5"],["eb26f03b.04b12"],["1edba91e.d50457"],["975eb71.b6f2848"],["82b371c3.85075"],["8e7f1ffe.557fe"],["d887043f.c244a8"]]},{"id":"1b601a89.d28015","type":"comment","z":"9c749a30.776c98","name":"回傳路燈狀態","info":"","x":1420.418701171875,"y":420.708215713501,"wires":[]},{"id":"abee41fa.fc06f","type":"comment","z":"9c749a30.776c98","name":"回傳控制器目前時間","info":"","x":1733.847454071045,"y":417.1678887605667,"wires":[]},{"id":"f3e91124.fbcdb","type":"comment","z":"9c749a30.776c98","name":"Clean field","info":"","x":872.6187133789062,"y":521.708215713501,"wires":[]},{"id":"9bfa6f.4b60b59","type":"comment","z":"9c749a30.776c98","name":"回傳控制器自動開關路燈設定","info":"","x":1430,"y":620,"wires":[]},{"id":"658a7157.0b88e","type":"function","z":"9c749a30.776c98","name":"notify code type","func":"let obj = context.global.responseMsg;\nlet data = obj.data;\nlet buff = new Buffer(data, 'hex');\nlet code = buff[3];\nmsg.payload = code;\n//node.warn(code); \nreturn msg;","outputs":1,"noerr":0,"x":830,"y":1040,"wires":[["84125622.758428"]]},{"id":"da41b113.4f4b4","type":"comment","z":"9c749a30.776c98","name":"主動通知訊息 F1","info":"","x":850.4187545776367,"y":951.7080974578857,"wires":[]},{"id":"84125622.758428","type":"switch","z":"9c749a30.776c98","name":"notify code ","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"2","vt":"num"},{"t":"eq","v":"2","vt":"str"}],"checkall":"true","outputs":2,"x":1050,"y":1280,"wires":[["1f1f7ab8.a619e5","bfcdd549.8061f8"],["bfcdd549.8061f8"]]},{"id":"975eb71.b6f2848","type":"function","z":"9c749a30.776c98","name":"#Query code 04","func":"/*\nReply\tHeader\tSerial Number\tCommand\tCode\t\"DL\n(Data Length)\"\t\"Data1(MSB)\n(Keep-Alive設定值)\"\t\"Data1\n(Keep-Alive設定值)\"\t\"Data1(LSB)\n(Keep-Alive設定值)\"\tChecksum\tEnd\n回傳控制器Keep-Alive設定值\tAA\t00\t83\t04\t03\t00\t0E\t10\tA8\t8E\n*/\nlet msg1 = {\"payload\": ''};\n\nif (msg.payload !== 'clean') {\n    // node.warn('$$$$$$$$$$$$$$');\n    let obj = context.global.responseMsg;\n    let data = obj.data;\n    // node.warn('Node response data : ' + data);\n    let buff = new Buffer(data, 'hex');\n    let timeStr = data.substring(10,16);\n    let time = parseInt(timeStr,16) + ' seconds';\n    // node.warn('timeStr : ' + timeStr);\n    // node.warn('time : ' + time);\n    let message = timeStr + ' -> ' + time;\n    msg1 = {\"payload\": message};\n}\n\n\nreturn msg1;","outputs":"1","noerr":0,"x":1410,"y":660,"wires":[["72edce29.ccd8b"]]},{"id":"72edce29.ccd8b","type":"ui_text","z":"9c749a30.776c98","group":"e236317a.59dbd","order":0,"width":0,"height":0,"name":"","label":"Interval : ","format":"{{msg.payload}}","layout":"row-left","x":1660,"y":720,"wires":[]},{"id":"8d92e7be.532f18","type":"comment","z":"9c749a30.776c98","name":"回傳控制器Keep-Alive設定值","info":"","x":1410,"y":700,"wires":[]},{"id":"bfcdd549.8061f8","type":"function","z":"9c749a30.776c98","name":"notify parser","func":"/*\n             Header Serial Notify Code DL  動作 時  分  秒 調光 checksum End\n自動關燈通知\tAA\t00\t   F1\t  02   05\t01\t07\t00\t00\t64\t64\t     8E\n自動開燈通知\tAA\t00\t   F1\t  02   05\t02\t11\t00\t00\t64\t6F\t     8E\n\n主動通知: Header   Serial Notify Code  DL  light v1  c1  c2  p1  p2  p3  時  分  秒  checksum End  \nKeep-Alive    AA\t00\t    F1\t   01\t0A\tE4\t 12\t 00\t 64\t 00\t 03\t E8\t 08\t 00\t 00\t 49\t      8E\nBoot Up       AA    00\t    F1\t   00\t0A  E4\t 12  00  64  00  03  E8  08  00  00  48\t      8E\nbuff           0     1      2      3    4   5    6   7   8   9   10  11  12  13  14  15       16\n*/\nlet msg1 = {\"payload\": ''};\nlet msg2 = {\"payload\": ''};\nlet msg3 = {\"payload\": ''};\n\nif (msg.payload !== 'clean') {\n    // node.warn('$$$$$$$$$$$$$$');\n    let obj = context.global.responseMsg;\n    let data = obj.data;\n    // node.warn('Node response data : ' + data);\n    let buff = new Buffer(data, 'hex');\n    let content = '';\n    let code = buff[3];\n    let action = buff[5];\n    let hours;\n    let minutes;\n    let seconds;\n    let light = buff[9];\n    let timeStr;\n    \n    // node.warn(typeof code +code);\n    if (code === 2) {\n        if (action === 1) {\n            content = 'Automatically turn off lights';\n        } else if (action === 2) {\n            content = 'Automatic lighting, brightness is '+ light;\n        }\n        hours = buff[6];\n        minutes = buff[7];\n        seconds = buff[8];\n        timeStr = data.substring(12,18);\n    } else {\n        if (code === 0) {\n            content = 'Boot up';\n        } else if (code === 1) {\n            content = 'keep-Alive';\n        }\n        hours = buff[12];\n        minutes = buff[13];\n        seconds = buff[14];\n        timeStr = data.substring(24,30);\n    }\n    let time=  timeStr + ' -> ' +hours + ':' + minutes + ':' + seconds;\n    let notify = 'Time: ' + time + '<br>' + content;\n    /*node.warn('time : ' + time);\n    node.warn('content : ' + content);\n    node.warn('notify : ' + notify);*/\n    msg1.payload = time;\n    msg2.payload = content;\n    msg3.payload = notify;\n}\n\n\nreturn [msg1, msg2, msg3];","outputs":"3","noerr":0,"x":1280,"y":1280,"wires":[["a24f04d.254d3f8"],["8231c969.86bde8"],["19588273.3cf49e"]]},{"id":"a24f04d.254d3f8","type":"ui_text","z":"9c749a30.776c98","group":"3ea7965f.1e991a","order":0,"width":0,"height":0,"name":"","label":"Time:","format":"{{msg.payload}}","layout":"row-left","x":1513.7073211669922,"y":1218.200029373169,"wires":[]},{"id":"8231c969.86bde8","type":"ui_text","z":"9c749a30.776c98","group":"3ea7965f.1e991a","order":0,"width":0,"height":0,"name":"","label":"Notify :","format":"{{msg.payload}}","layout":"row-left","x":1511.5072746276855,"y":1259.2001247406006,"wires":[]},{"id":"57eb8c44.4c0164","type":"comment","z":"9c749a30.776c98","name":"Keep-Alive& Boot up 通知","info":"","x":1088.5248947143555,"y":1014.2706260681152,"wires":[]},{"id":"f0c6d62d.c09c88","type":"comment","z":"9c749a30.776c98","name":"自動關燈/開燈通知","info":"","x":1040,"y":1140,"wires":[]},{"id":"a882f593.42ca18","type":"inject","z":"9c749a30.776c98","name":"手動測試UL MQTT","topic":"","payload":"3","payloadType":"num","repeat":"","crontab":"","once":false,"x":219.91250610351562,"y":586.0707035064697,"wires":[["5299d8b9.8c9df8"]]},{"id":"5299d8b9.8c9df8","type":"function","z":"9c749a30.776c98","name":"Switch test data","func":"if(msg.payload === 0) { //Boot up\n    msg.payload = [{\"channel\":923125000, \"sf\":10, \"time\":\"2018-06-26T02:04:40\", \"gwip\":\"10.8.20.3\", \"gwid\":\"00001c497b48dc21\", \"repeater\":\"00000000ffffffff\", \"systype\":20, \"rssi\":-34.0, \"snr\":19.5, \"snr_max\":39.5, \"snr_min\":9.5, \"macAddr\":\"00000000140112b4\", \"data\":\"aa00f1000a007b0001000000151b34db8e\", \"frameCnt\":1, \"fport\":2}];\n} else if(msg.payload === 1) { //Keep-alive\n    msg.payload = [{\"channel\":923125000, \"sf\":10, \"time\":\"2018-06-27T08:43:15\", \"gwip\":\"10.8.20.3\", \"gwid\":\"00001c497b48dc21\", \"repeater\":\"00000000ffffffff\", \"systype\":20, \"rssi\":-40.0, \"snr\":22.0, \"snr_max\":33.3, \"snr_min\":14.5, \"macAddr\":\"00000000140112a1\", \"data\":\"aa00f1010ae47b00090000000f3234d98e\", \"frameCnt\":9, \"fport\":2}];\n} else if(msg.payload === 2) { //自動關燈通知\n    msg.payload = [{\"channel\":923125000, \"sf\":10, \"time\":\"2018-06-27T08:43:15\", \"gwip\":\"10.8.20.3\", \"gwid\":\"00001c497b48dc21\", \"repeater\":\"00000000ffffffff\", \"systype\":20, \"rssi\":-40.0, \"snr\":22.0, \"snr_max\":33.3, \"snr_min\":14.5, \"macAddr\":\"00000000140112a1\", \"data\":\"aa00f102050107000064648e\", \"frameCnt\":9, \"fport\":2}];\n} else if(msg.payload === 3) { //自動開燈通知\n    msg.payload = [{\"channel\":923125000, \"sf\":10, \"time\":\"2018-06-27T08:43:15\", \"gwip\":\"10.8.20.3\", \"gwid\":\"00001c497b48dc21\", \"repeater\":\"00000000ffffffff\", \"systype\":20, \"rssi\":-40.0, \"snr\":22.0, \"snr_max\":33.3, \"snr_min\":14.5, \"macAddr\":\"00000000140112a1\", \"data\":\"aa00f1020502110000646f8e\", \"frameCnt\":9, \"fport\":2}];\n} \nreturn msg;","outputs":1,"noerr":0,"x":429.9249496459961,"y":578.1706876754761,"wires":[["6b44aa5a.c72f94","9803e215.a0df3"]]},{"id":"ff923cda.c488f","type":"ui_button","z":"9c749a30.776c98","name":"","group":"ee18ce0d.e1a4d","order":0,"width":0,"height":0,"passthru":false,"label":"Send Command","color":"","bgcolor":"#8533ff","icon":"","payload":"","payloadType":"str","topic":"","x":217.01873016357422,"y":2742.7080116271973,"wires":[["d23769ae.8b7058"]]},{"id":"d23769ae.8b7058","type":"function","z":"9c749a30.776c98","name":"#set command","func":"context.global.selectData =  context.global.manualCommand;\n// node.warn(context.global.selectData);\nreturn msg;\n","outputs":"1","noerr":0,"x":488.1250228881836,"y":2743.589178085327,"wires":[["e07b430.cd419c"]]},{"id":"f23cbc4b.53c85","type":"function","z":"9c749a30.776c98","name":"*save global.manualCommand","func":"context.global.manualCommand = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":451.0000305175781,"y":2696.7079181671143,"wires":[["e07b430.cd419c"]]},{"id":"2e6f9bf2.526784","type":"ui_text_input","z":"9c749a30.776c98","name":"","label":"Command:","group":"ee18ce0d.e1a4d","order":1,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":199.9999771118164,"y":2696.7080211639404,"wires":[["f23cbc4b.53c85"]]},{"id":"880fbada.6379b8","type":"ui_text_input","z":"9c749a30.776c98","name":"","label":"Command:","group":"14e3fa7.315a906","order":1,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":1584.2188110351562,"y":1384.707986831665,"wires":[[]]},{"id":"858165d5.e065c8","type":"ui_text_input","z":"9c749a30.776c98","name":"","label":"Command:","group":"a41bf8e5.5f2a08","order":1,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":1578.21875,"y":1423.7081241607666,"wires":[[]]},{"id":"7068732a.81beac","type":"function","z":"9c749a30.776c98","name":"#set  command","func":"//Header\tSerial \tCommand\tCode PL\tP1\tP2\tP3\tChecksum  End\n//AA\t    00\t    02\t    01\t 03\tFF\tFF\tFF\t03\t      8E\ncontext.global.selectData = getData();\n\n// AA0201020000058E\nreturn msg;\n\nfunction getData() {\n    let serialNum = context.global.serialNum + 1;\n   if (serialNum > 0xEF || context.global.enableSerialNum === false) {\n        serialNum = 0x00;\n    }\n    context.global.serialNum = serialNum;\n    let a0 = 0xAA; // Header\n    let a1 = serialNum; // Serial number\n    let a2 = 0x02;\n    let a3 = 0x01;\n    let a4 = 0x03;\n    let a5 = 0xFF;\n    let a6 = 0xFF;\n    let a7 = 0xFF;\n    let a8 = a2 + a3 + a4 + a5 + a6 + a7;\n    a8 = a8 & 0xFF\n    let a9 = 0x8E;\n    \n\n    let test = toStr(a0) + toStr(a1) + toStr(a2) + toStr(a3) + toStr(a4);\n    test = test + toStr(a5) + toStr(a6) + toStr(a7) + toStr(a8) + toStr(a9);\n    // node.warn(test);\n    return test;\n}\n\nfunction toStr(value) {\n    let str = '';\n    if (value < 0x10) {\n        str = '0' + value.toString(16);\n    } else {\n        str = value.toString(16);\n    }\n    return str.toUpperCase();\n}","outputs":1,"noerr":0,"x":528.0187835693359,"y":1505.7081050872803,"wires":[["ebd8da12.ba34a8"]]},{"id":"75ef231d.ba2b4c","type":"ui_button","z":"9c749a30.776c98","name":"","group":"23ab2cd8.2b3fa4","order":2,"width":0,"height":0,"passthru":false,"label":"RESET KEEP-ALIVE ACCOUNT ","color":"","bgcolor":"#008000","icon":"","payload":"","payloadType":"str","topic":"","x":282.0186767578125,"y":1506.7081241607666,"wires":[["7068732a.81beac"]]},{"id":"8436f0ff.8d01d","type":"ui_button","z":"9c749a30.776c98","name":"","group":"b269945f.1d1318","order":0,"width":0,"height":0,"passthru":false,"label":"Send Command","color":"","bgcolor":"#8533ff","icon":"","payload":"","payloadType":"str","topic":"","x":221.01874542236328,"y":2834.3081760406494,"wires":[["c678202.cd3d5e"]]},{"id":"c678202.cd3d5e","type":"function","z":"9c749a30.776c98","name":"#set command","func":"context.global.selectData =  context.global.manualCommand2;\n// node.warn(context.global.selectData);\nreturn msg;\n","outputs":"1","noerr":0,"x":478.1250305175781,"y":2847.189465522766,"wires":[["e07b430.cd419c"]]},{"id":"48f32d7c.672534","type":"function","z":"9c749a30.776c98","name":"*save global.manualCommand2","func":"context.global.manualCommand2 = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":455.0000457763672,"y":2788.3080825805664,"wires":[["e07b430.cd419c"]]},{"id":"1468b82a.a642e8","type":"ui_text_input","z":"9c749a30.776c98","name":"","label":"Command:","group":"b269945f.1d1318","order":1,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":203.99999237060547,"y":2788.3081855773926,"wires":[["48f32d7c.672534"]]},{"id":"9446e067.f695f","type":"comment","z":"9c749a30.776c98","name":"手動輸下命令","info":"","x":203.0187530517578,"y":2661.9080518484116,"wires":[]},{"id":"edc46d32.f3181","type":"inject","z":"9c749a30.776c98","name":"","topic":"","payload":"[{\"channel\":922875000, \"sf\":9, \"time\":\"2018-09-06T05:11:23\", \"gwip\":\"120.101.31.230\", \"gwid\":\"00001c497b5eeefb\", \"repeater\":\"00000000ffffffff\", \"systype\":5, \"rssi\":-51.0, \"snr\":24.5, \"snr_max\":32.0, \"snr_min\":17.0, \"macAddr\":\"000000001400031a\", \"data\":\"aa03810100858e \", \"frameCnt\":31355, \"fport\":1}]","payloadType":"str","repeat":"","crontab":"","once":false,"x":227.8984375,"y":243.6089916229248,"wires":[["3b9b4dc8.7fcf72"]]},{"id":"3b9b4dc8.7fcf72","type":"mqtt out","z":"9c749a30.776c98","name":"","topic":"GIOT-GW/UL/00001c497b43214b","qos":"","retain":"","broker":"5306e945.1c0eb8","x":544.88671875,"y":244.24570846557617,"wires":[]},{"id":"1e0cc19f.7bf9de","type":"link in","z":"9c749a30.776c98","name":"DL_COMMAND","links":["e07b430.cd419c","3c5c9a4.9c31866","ebd8da12.ba34a8","3e395bae.454334","b5e8d7b9.96c318"],"x":852.0833759307861,"y":1616.645332813263,"wires":[["ab205b1a.4ce3d8"]]},{"id":"e07b430.cd419c","type":"link out","z":"9c749a30.776c98","name":"","links":["1e0cc19f.7bf9de"],"x":798.0833492279053,"y":2730.235445022583,"wires":[]},{"id":"3c5c9a4.9c31866","type":"link out","z":"9c749a30.776c98","name":"","links":["1e0cc19f.7bf9de"],"x":726.0799102783203,"y":2209.224880218506,"wires":[]},{"id":"ebd8da12.ba34a8","type":"link out","z":"9c749a30.776c98","name":"","links":["1e0cc19f.7bf9de"],"x":700.8334503173828,"y":1516.0165853500366,"wires":[]},{"id":"3e395bae.454334","type":"link out","z":"9c749a30.776c98","name":"","links":["1e0cc19f.7bf9de"],"x":761.8334522247314,"y":1104.3499851226807,"wires":[]},{"id":"d73f20f5.e7a5f","type":"comment","z":"9c749a30.776c98","name":"TO DL_COMMAND","info":"","x":795.8333549499512,"y":1153.0165214538574,"wires":[]},{"id":"af175fa4.5c27e","type":"comment","z":"9c749a30.776c98","name":"TO DL_COMMAND","info":"","x":780.6666870117188,"y":1480.3498344421387,"wires":[]},{"id":"cdc14bc2.291178","type":"comment","z":"9c749a30.776c98","name":"TO DL_COMMAND","info":"","x":805.6666870117188,"y":2166.683208465576,"wires":[]},{"id":"dac146c5.19e448","type":"comment","z":"9c749a30.776c98","name":"TO DL_COMMAND","info":"","x":735.6666870117188,"y":2505.683208465576,"wires":[]},{"id":"e9542f3d.650bd","type":"ui_button","z":"9c749a30.776c98","name":"","group":"fe6e8f71.dffc2","order":6,"width":0,"height":0,"passthru":false,"label":"STOP","color":"","bgcolor":"#e63900","icon":"","payload":"0","payloadType":"num","topic":"","x":189,"y":2921.683208465576,"wires":[["d6249b92.4de4d8"]]},{"id":"d6249b92.4de4d8","type":"function","z":"9c749a30.776c98","name":"#Set command","func":"//控制捲揚機(馬達)\tHeader\tSerial Number\tCommand\tCode\tPL\tP1  p2\tChecksum\tEnd\n//捲揚停            AA\t    00             \t01    \t02    \t02\t01\t00      06\t    8E\n//捲揚降\t        AA    \t00\t           \t01\t    02\t  \t02\t01  01\t    07\t    8E\n//捲揚升\t        AA\t    00\t           \t01\t    02\t  \t02\t01\t02      08\t    8E\n\nlet setting = context.global.setting;\n// node.warn(JSON.stringify(setting));\nlet data = getData(msg.payload);\n\ncontext.global.selectData = data;\nreturn msg;\n\nfunction getData(flag) {\n    let serialNum = context.global.serialNum + 1;\n    if (serialNum > 0xEF || context.global.enableSerialNum === false) {\n        serialNum = 0x00;\n    }\n    context.global.serialNum = serialNum;\n    let a0 = 0xAA; // Header\n    let a1 = serialNum; // Serial number\n    //a1 = 0x00;\n    let a2 = 0x01;//Command\n    let a3 = 0x02;//Code\n    let a4 = 0x02;//PL\n    let a5 = 0x01;//Praraeter 1 : 控制捲揚機\n    let a6;//Praraeter 2\n    if(flag === 0) {\n        a6 = 0x00;//Praraeter 1 : 捲揚停\n    } else if(flag === 1) {\n        a6 = 0x01;//Praraeter 1 : 捲揚降\n    } else if(flag === 2) {\n        a6 = 0x02;//Praraeter 1 : 捲揚升\n    }\n    \n    let a7 = a2 + a3 + a4 + a5 + a6; //Checksum\n    node.warn('before a7 :' + a7);\n    let a8 = 0x8E;//End\n\n    let test = toStr(a0) + toStr(a1) + toStr(a2) + toStr(a3) + toStr(a4) + toStr(a5);\n    test = test + toStr(a6) + toStr(a7) + toStr(a8);\n    return test;\n}\n\nfunction toStr(value) {\n    let str = '';\n    if (value < 0x10) {\n        str = '0' + value.toString(16);\n    } else {\n        str = value.toString(16);\n    }\n    // node.warn(str);\n    return str.toUpperCase();\n}","outputs":1,"noerr":0,"x":423,"y":2923.349956512451,"wires":[["e07b430.cd419c"]]},{"id":"dbe0d7e5.d71ff8","type":"ui_button","z":"9c749a30.776c98","name":"","group":"fe6e8f71.dffc2","order":7,"width":0,"height":0,"passthru":false,"label":"DOWN","color":"","bgcolor":"#3333ff","icon":"","payload":"1","payloadType":"num","topic":"","x":188,"y":2988.016460418701,"wires":[["d6249b92.4de4d8"]]},{"id":"3c04a03.9b2c56","type":"ui_button","z":"9c749a30.776c98","name":"","group":"fe6e8f71.dffc2","order":5,"width":0,"height":0,"passthru":false,"label":"UP","color":"","bgcolor":"#ff9900","icon":"","payload":"2","payloadType":"num","topic":"","x":192,"y":3047.016460418701,"wires":[["d6249b92.4de4d8"]]},{"id":"bba73aa9.14ef78","type":"ui_button","z":"9c749a30.776c98","name":"","group":"8faf6427.907218","order":1,"width":0,"height":0,"passthru":false,"label":"SET Confog Command","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":180,"y":3120,"wires":[["97ffe486.cdc388"]]},{"id":"b7e831fc.833ae","type":"function","z":"9c749a30.776c98","name":"#Set command","func":"\nlet setting = context.global.setting;\n// node.warn(JSON.stringify(setting));\nlet data = getData(msg.payload);\nnode.warn('data : ' + data);\n\ncontext.global.selectData = data;\nreturn msg;\n\nfunction getData(flag) {\n    let serialNum = context.global.serialNum + 1;\n    if (serialNum > 0xEF || context.global.enableSerialNum === false) {\n        serialNum = 0x00;\n    }\n    context.global.serialNum = serialNum;\n    let a0 = 0xAA; // Header\n    let a1 = serialNum; // Serial number\n    //a1 = 0x00;\n    let a2 = 0x02;//Command\n    let a3 = 0x07;//Code\n    let a4 = 0x0D;//PL\n    let a5 = Number(context.global.config.index);//Praraeter 1 : index\n    let a6 = Number(context.global.config.dates.month);//Praraeter 2 月\n    let a7 = Number(context.global.config.dates.day);  //Praraeter 3 日\n    let a8 = Number(context.global.config.dates.enable);  //Praraeter 4 enable\n    //Trigger1 setting\n    let t1_1 = (Number(context.global.config.triggers.t1.type) & 0x0F) << 4;\n    let t1_2 = (Number(context.global.config.triggers.t1.priority) & 0x01) << 1;\n    let t1_3 = (Number(context.global.config.triggers.t1.enable) & 0x01);\n    let a9 = t1_1 + t1_2 + t1_3;//Praraeter 5 trigger 1 condition 感測溫度/允許觸發/一般等級\n    let a10 = 255;\n    let a11 = 255;\n    if(context.global.config.triggers.t1.lower !== '') {\n        a10 = Number(context.global.config.triggers.t1.lower);//Praraeter13 lower trigger value \n    }\n    if(context.global.config.triggers.t1.higher !== '') {\n        a11 = Number(context.global.config.triggers.t1.higher);//Praraeter14 higher trigger value \n    }\n    //Trigger2 setting\n    let t2_1 = (Number(context.global.config.triggers.t2.type) & 0x0F) << 4;\n    let t2_2 = (Number(context.global.config.triggers.t2.priority) & 0x01) << 1;\n    let t2_3 = (Number(context.global.config.triggers.t2.enable) & 0x01);\n    let a12 = t2_1 + t2_2 + t2_3;//Praraeter8 trigger 2 condition 感測濕度/允許觸發/一般等級\n    let a13 = 255;\n    let a14 = 255;\n    if(context.global.config.triggers.t2.lower !== '') {\n        a13 = Number(context.global.config.triggers.t2.lower);//Praraeter13 lower trigger value \n    }\n    if(context.global.config.triggers.t2.higher !== '') {\n        a14 = Number(context.global.config.triggers.t2.higher);//Praraeter14 higher trigger value \n    }\n    //Trigger3 setting\n    let t3_1 = (Number(context.global.config.triggers.t3.type) & 0x0F) << 4;\n    let t3_2 = (Number(context.global.config.triggers.t3.priority) & 0x01) << 1;\n    let t3_3 = (Number(context.global.config.triggers.t3.enable) & 0x01);\n    let a15 = t3_1 + t3_2 + t3_3;//Praraeter 5 trigger 1 condition 感測光照/允許觸發/最高優先\n    let a16 = 255;\n    let a17 = 255;\n    if(context.global.config.triggers.t3.lower !== '') {\n        a16 = Number(context.global.config.triggers.t3.lower);//Praraeter6 lower trigger value \n    }\n    if(context.global.config.triggers.t3.higher !== '') {\n        a17 = Number(context.global.config.triggers.t3.higher);//Praraeter7 higher trigger value \n    }\n    \n    let a18 = a2 + a3 + a4 + a5 + a6 + a7 + a8 + a9 + a10 ; //Checksum\n    a18 = a18 + a11 + a12 + a13 + a14 + a15 + a16 + a17;\n    node.warn('before a18 :' + a18);\n    a18 = a18 & 0xFF;\n    node.warn('after a18 :' + a18);\n    \n    let a19 = 0x8E;//End\n\n    let test = toStr(a0) + toStr(a1) + toStr(a2) + toStr(a3) + toStr(a4) + toStr(a5) + toStr(a6) + toStr(a7) + toStr(a8) + toStr(a9) ;\n    test = test + toStr(a10) + toStr(a11) + toStr(a12) + toStr(a13) + toStr(a14) + toStr(a15) + toStr(a16) + toStr(a17) + toStr(a18) + toStr(a19);\n    return test;\n}\n\nfunction toStr(value) {\n    let str = '';\n    if (value < 0x10) {\n        str = '0' + value.toString(16);\n    } else {\n        str = value.toString(16);\n    }\n    // node.warn(str);\n    return str.toUpperCase();\n}","outputs":1,"noerr":0,"x":670,"y":3140,"wires":[["b5e8d7b9.96c318"]]},{"id":"94a7e118.3ee3c","type":"ui_button","z":"9c749a30.776c98","name":"","group":"8faf6427.907218","order":3,"width":0,"height":0,"passthru":false,"label":"Query Trigger config","color":"","bgcolor":"#be9927","icon":"","payload":"","payloadType":"str","topic":"","x":190,"y":3220,"wires":[["f1d0d6f7.d3b148"]]},{"id":"f1d0d6f7.d3b148","type":"function","z":"9c749a30.776c98","name":"#set command","func":"// AA                   03      02   05        8E\n// Header Serial Number\tCommand\tCode Checksum  End\n// AA\t  00\t        03\t    02\t 05\t       8E\n\ncontext.global.selectData =  getData();\n//node.warn(context.global.selectData);\nreturn msg;\n\nfunction getData() {\n    let serialNum = context.global.serialNum + 1;\n    if (serialNum > 0xEF || context.global.enableSerialNum === false) {\n        serialNum = 0x00;\n    }\n    serialNum = 0x00;\n    context.global.serialNum = serialNum;\n    let a0 = 0xAA; // Header\n    let a1 = serialNum; // Serial number\n    let a2 = 0x03;//Command\n    let a3 = 0x12;//Code (查詢控制配置)\n    let a4 = 0x01;//PL\n    let a5 = Number(context.global.config.index);//P1 - schdule index\n    let a6 = a2 + a3 + a4 + a5; //Checksum\n    a6 = a6 & 0xFF;\n    let a7 = 0x8E;\n    \n    let test = toStr(a0) + toStr(a1) + toStr(a2) + toStr(a3) + toStr(a4) + toStr(a5) + toStr(a6) + toStr(a7);\n    return test;\n}\n\nfunction toStr(value) {\n    let str = '';\n    if (value < 0x10) {\n        str = '0' + value.toString(16);\n    } else {\n        str = value.toString(16);\n    }\n    // node.warn(str);\n    return str.toUpperCase();\n}","outputs":1,"noerr":0,"x":490,"y":3220,"wires":[["b5e8d7b9.96c318","ef361fff.368","da4a7e76.f0a0f"]]},{"id":"82b371c3.85075","type":"function","z":"9c749a30.776c98","name":"Query code 0x11","func":"\nreturn msg;","outputs":1,"noerr":0,"x":1430,"y":800,"wires":[[]]},{"id":"8e7f1ffe.557fe","type":"function","z":"9c749a30.776c98","name":"Query code 0x12","func":"\nreturn msg;","outputs":1,"noerr":0,"x":1430,"y":960,"wires":[["13f4fdb9.a81e92"]]},{"id":"d887043f.c244a8","type":"function","z":"9c749a30.776c98","name":"Query code 0x13","func":"\nreturn msg;","outputs":1,"noerr":0,"x":1450,"y":1120,"wires":[[]]},{"id":"b5e8d7b9.96c318","type":"link out","z":"9c749a30.776c98","name":"","links":["1e0cc19f.7bf9de"],"x":895,"y":3140,"wires":[]},{"id":"ef361fff.368","type":"debug","z":"9c749a30.776c98","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":720,"y":3260,"wires":[]},{"id":"344f9545.e211fa","type":"ui_text_input","z":"9c749a30.776c98","name":"index","label":"index","group":"9d868193.3344c","order":0,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":530,"y":3340,"wires":[["917f37c1.8dc098"]]},{"id":"4697a4fb.8d2a3c","type":"function","z":"9c749a30.776c98","name":"","func":"\nvar msg1 = {};\nvar msg2 = {};\nvar msg3 = {};\nvar msg4 = {};\nvar msg5 = {};\nvar msg6 = {};\nvar msg7 = {};\nvar msg8 = {};\nvar msg9 = {};\nvar msg10 = {};\nvar msg11 = {};\nvar msg12 = {};\nvar msg13 = {};\nvar msg14 = {};\nvar msg15 = {};\nvar msg16 = {};\nvar msg17 = {};\nvar msg18 = {};\nvar msg19 = {};\nif(msg.payload === 'clean') {\n    msg1.payload = '';\n    msg2.payload = '';\n    msg3.payload = '';\n    msg4.payload = false;\n    msg5.payload = '';\n    msg6.payload = '';\n    msg7.payload = false;\n    msg8.payload = '';\n    msg9.payload = '';\n    msg10.payload = '';\n    msg11.payload = '';\n    msg12.payload = false;\n    msg13.payload = '';\n    msg14.payload = '';\n    msg15.payload = '';\n    msg16.payload = '';\n    msg17.payload = false;\n    msg18.payload = '';\n    msg19.payload = '';\n} else {\n    let obj = context.global.responseMsg;\n    let data = obj.data;\n    // node.warn('Node response data : ' + data);\n    let buff = new Buffer(data, 'hex');\n    msg1.payload = String(buff[5]) ;\n    node.warn('msg1.payload : ' + msg1.payload);\n    msg2.payload = buff[6] ;\n    msg3.payload = buff[7] ;\n    if(buff[8] === 0) {\n        msg4.payload = false;\n    } else {\n        msg4.payload = true;\n    }\n    msg5.payload = (buff[9] & 0xF0) >> 4  ;\n    msg6.payload = (buff[9] & 0x01) ;\n    if( ((buff[9] & 0x02) >> 1) === 0) {\n        msg7.payload = false;\n    } else {\n        msg7.payload = true;\n    }\n    msg8.payload =  buff[10] ;\n    msg9.payload =  buff[11] ;\n    msg10.payload = (buff[12] & 0xF0) >> 4  ;\n    msg11.payload = (buff[12] & 0x01) ;\n    if( ((buff[12] & 0x02) >> 1) === 0) {\n        msg12.payload = false;\n    } else {\n        msg12.payload = true;\n    }\n    msg13.payload =  buff[13] ;\n    msg14.payload =  buff[14] ;\n    msg15.payload = (buff[15] & 0xF0) >> 4  ;\n    msg16.payload = (buff[15] & 0x01) ;\n    if( ((buff[15] & 0x02) >> 1) === 0) {\n        msg17.payload = false;\n    } else {\n        msg17.payload = true;\n    }\n    msg18.payload =  buff[16] ;\n    msg19.payload =  buff[17] ;\n}\n\n\n\nreturn [msg1, msg2, msg3, msg4, msg5, msg6,msg7, msg8, msg9, msg10, msg11, msg12, msg13, msg14, msg15, msg16,msg17, msg18, msg19];","outputs":19,"noerr":0,"x":370,"y":3500,"wires":[["344f9545.e211fa"],["76dde28e.69b3bc"],["b16ec950.26aca8"],["c091c491.686d68"],["9ec71956.2edbe8"],["36623eb9.0bb742"],["9c08760c.28de58"],["b3ce4a55.20d528"],["38560af1.7dd4d6"],["6d178d60.1d7394"],["8176600b.b7c8e"],["285ef21b.b19eae"],["69d89ce1.9d7f84"],["304aaf51.4b423"],["8f4b77d1.466988"],["238ac5f.d48573a"],["2909594b.58b0a6"],["24b25986.fa28e6"],["1a54ec6b.66e174"]]},{"id":"76dde28e.69b3bc","type":"ui_text_input","z":"9c749a30.776c98","name":"月份","label":"月份","group":"9d868193.3344c","order":0,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":530,"y":3380,"wires":[["5382422e.ce58ac"]]},{"id":"b16ec950.26aca8","type":"ui_text_input","z":"9c749a30.776c98","name":"日期","label":"日期","group":"9d868193.3344c","order":0,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":530,"y":3420,"wires":[["683a831e.f69bec"]]},{"id":"36623eb9.0bb742","type":"ui_text_input","z":"9c749a30.776c98","name":"優先等級 1","label":"優先等級","group":"4d922a56.1e5b54","order":3,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":550,"y":3540,"wires":[["c5fb30ef.9d20c"]]},{"id":"c091c491.686d68","type":"ui_switch","z":"9c749a30.776c98","name":"啟用","label":"啟用","group":"9d868193.3344c","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":530,"y":3460,"wires":[["a6c45128.b234e"]]},{"id":"b3ce4a55.20d528","type":"ui_text_input","z":"9c749a30.776c98","name":"低於觸發設定值反向觸發 1","label":"低於觸發設定值反向觸發","group":"4d922a56.1e5b54","order":4,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":610,"y":3620,"wires":[["849ba4fb.ef14a8"]]},{"id":"38560af1.7dd4d6","type":"ui_text_input","z":"9c749a30.776c98","name":"高於觸發設定值觸發 1","label":"高於觸發設定值觸發","group":"4d922a56.1e5b54","order":5,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":590,"y":3660,"wires":[["504bf5ef.804ddc"]]},{"id":"917f37c1.8dc098","type":"function","z":"9c749a30.776c98","name":"save context.global.config.index","func":"var index = (msg.payload);\nif(context.global.config === undefined || context.global.config === null){\n    context.global.config = {};\n}\ncontext.global.config.index = index;\nmsg.payload = \"context.global.config.index : \" + context.global.config.index;\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":3340,"wires":[["928e2a35.4a6208"]]},{"id":"5382422e.ce58ac","type":"function","z":"9c749a30.776c98","name":"save context.global.config.dates.month","func":"var month = (msg.payload);\nif(context.global.config === undefined || context.global.config === null){\n    context.global.config = {};\n}\nif(context.global.config.dates === undefined || context.global.config.dates === null){\n    context.global.config.dates = {};\n}\ncontext.global.config.dates.month = month;\nmsg.payload = \"context.global.config.dates.month : \" + context.global.config.dates.month;\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":3380,"wires":[[]]},{"id":"683a831e.f69bec","type":"function","z":"9c749a30.776c98","name":"save context.global.config.dates.day","func":"var day = (msg.payload);\nif(context.global.config === undefined || context.global.config === null){\n    context.global.config = {};\n}\nif(context.global.config.dates === undefined || context.global.config.dates === null){\n    context.global.config.dates = {};\n}\ncontext.global.config.dates.day = day;\nmsg.payload = \"context.global.config.dates.day : \" + context.global.config.dates.day;\nreturn msg;","outputs":1,"noerr":0,"x":840,"y":3420,"wires":[[]]},{"id":"a6c45128.b234e","type":"function","z":"9c749a30.776c98","name":"save context.global.config.dates.enable","func":"var enable = (msg.payload);\nif(context.global.config === undefined || context.global.config === null){\n    context.global.config = {};\n}\nif(context.global.config.dates === undefined || context.global.config.dates === null){\n    context.global.config.dates = {};\n}\ncontext.global.config.dates.enable = enable;\nmsg.payload = \"context.global.config.dates.enable : \" + context.global.config.dates.enable;\nreturn msg;","outputs":1,"noerr":0,"x":860,"y":3460,"wires":[[]]},{"id":"aa1de206.87c13","type":"function","z":"9c749a30.776c98","name":"context.global.config.triggers.t1.type ","func":"var type = (msg.payload);\nif(context.global.config === undefined || context.global.config === null){\n    context.global.config = {};\n}\nif(context.global.config.triggers === undefined || context.global.config.triggers === null){\n    context.global.config.triggers = {};\n}\nif(context.global.config.triggers.t1 === undefined || context.global.config.triggers.t1 === null){\n    context.global.config.triggers.t1 = {};\n}\ncontext.global.config.triggers.t1.type = type;\nmsg.payload = \"context.global.config.triggers.t1.type : \" + context.global.config.triggers.t1.type;\nreturn msg;","outputs":1,"noerr":0,"x":840,"y":3500,"wires":[[]]},{"id":"9ec71956.2edbe8","type":"ui_dropdown","z":"9c749a30.776c98","name":"觸發類型 1","label":"","place":"觸發類型","group":"4d922a56.1e5b54","order":2,"width":0,"height":0,"passthru":true,"options":[{"label":"未設定","value":0,"type":"num"},{"label":"溫度","value":"1","type":"str"},{"label":"濕度","value":"2","type":"str"},{"label":"酸鹼度","value":"3","type":"str"},{"label":"雨量","value":"4","type":"str"},{"label":"光照","value":"5","type":"str"}],"payload":"","topic":"","x":550,"y":3500,"wires":[["aa1de206.87c13"]]},{"id":"c5fb30ef.9d20c","type":"function","z":"9c749a30.776c98","name":"context.global.config.triggers.t1.priority","func":"var priority = (msg.payload);\nif(context.global.config === undefined || context.global.config === null){\n    context.global.config = {};\n}\nif(context.global.config.triggers === undefined || context.global.config.triggers === null){\n    context.global.config.triggers = {};\n}\nif(context.global.config.triggers.t1 === undefined || context.global.config.triggers.t1 === null){\n    context.global.config.triggers.t1 = {};\n}\ncontext.global.config.triggers.t1.priority = priority;\nmsg.payload = \"context.global.config.triggers.t1.priority : \" + context.global.config.triggers.t1.priority;\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":3540,"wires":[[]]},{"id":"9c08760c.28de58","type":"ui_switch","z":"9c749a30.776c98","name":"","label":"是否觸發","group":"4d922a56.1e5b54","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":570,"y":3580,"wires":[["dcd68b44.e7b278"]]},{"id":"dcd68b44.e7b278","type":"function","z":"9c749a30.776c98","name":"save context.global.config.triggers.t1.enable","func":"\nif(context.global.config === undefined || context.global.config === null){\n    context.global.config = {};\n}\nif(context.global.config.triggers === undefined || context.global.config.triggers === null){\n    context.global.config.triggers = {};\n}\nif(context.global.config.triggers.t1 === undefined || context.global.config.triggers.t1 === null){\n    context.global.config.triggers.t1 = {};\n}\nvar enable = 0;\nif(msg.payload) {\n     enable = 1;\n}\ncontext.global.config.triggers.t1.enable = enable;\nmsg.payload = \"context.global.config.triggers.t1.enable : \" + context.global.config.triggers.t1.enable;\nreturn msg;","outputs":1,"noerr":0,"x":890,"y":3580,"wires":[[]]},{"id":"849ba4fb.ef14a8","type":"function","z":"9c749a30.776c98","name":"save context.global.config.triggers.t1.lower","func":"var lower = (msg.payload);\nif(context.global.config === undefined || context.global.config === null){\n    context.global.config = {};\n}\nif(context.global.config.triggers === undefined || context.global.config.triggers === null){\n    context.global.config.triggers = {};\n}\nif(context.global.config.triggers.t1 === undefined || context.global.config.triggers.t1 === null){\n    context.global.config.triggers.t1 = {};\n}\ncontext.global.config.triggers.t1.lower = lower;\nmsg.payload = \"context.global.config.triggers.t1.lower : \" + context.global.config.triggers.t1.lower;\nreturn msg;","outputs":1,"noerr":0,"x":970,"y":3620,"wires":[[]]},{"id":"504bf5ef.804ddc","type":"function","z":"9c749a30.776c98","name":"save context.global.config.triggers.t1.higher","func":"var higher = (msg.payload);\nif(context.global.config === undefined || context.global.config === null){\n    context.global.config = {};\n}\nif(context.global.config.triggers === undefined || context.global.config.triggers === null){\n    context.global.config.triggers = {};\n}\nif(context.global.config.triggers.t1 === undefined || context.global.config.triggers.t1 === null){\n    context.global.config.triggers.t1 = {};\n}\ncontext.global.config.triggers.t1.higher = higher;\nmsg.payload = \"context.global.config.triggers.t1.higher : \" + context.global.config.triggers.t1.higher;\nreturn msg;","outputs":1,"noerr":0,"x":910,"y":3660,"wires":[[]]},{"id":"8176600b.b7c8e","type":"ui_text_input","z":"9c749a30.776c98","name":"優先等級 1","label":"優先等級","group":"1b28e548.30ddeb","order":3,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":550,"y":3740,"wires":[["8e529d13.69fd3"]]},{"id":"69d89ce1.9d7f84","type":"ui_text_input","z":"9c749a30.776c98","name":"低於觸發設定值反向觸發 1","label":"低於觸發設定值反向觸發","group":"1b28e548.30ddeb","order":4,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":610,"y":3820,"wires":[["c7a04619.c895f8"]]},{"id":"304aaf51.4b423","type":"ui_text_input","z":"9c749a30.776c98","name":"高於觸發設定值觸發 1","label":"高於觸發設定值觸發","group":"1b28e548.30ddeb","order":5,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":590,"y":3860,"wires":[["18c65258.d73bbe"]]},{"id":"69eaef47.49349","type":"function","z":"9c749a30.776c98","name":"context.global.config.triggers.t2.type ","func":"var type = (msg.payload);\nif(context.global.config === undefined || context.global.config === null){\n    context.global.config = {};\n}\nif(context.global.config.triggers === undefined || context.global.config.triggers === null){\n    context.global.config.triggers = {};\n}\nif(context.global.config.triggers.t2 === undefined || context.global.config.triggers.t2 === null){\n    context.global.config.triggers.t2 = {};\n}\ncontext.global.config.triggers.t2.type = type;\nmsg.payload = \"context.global.config.triggers.t2.type : \" + context.global.config.triggers.t2.type;\nreturn msg;","outputs":1,"noerr":0,"x":840,"y":3700,"wires":[[]]},{"id":"6d178d60.1d7394","type":"ui_dropdown","z":"9c749a30.776c98","name":"觸發類型2","label":"","place":"觸發類型","group":"1b28e548.30ddeb","order":2,"width":0,"height":0,"passthru":true,"options":[{"label":"未設定","value":0,"type":"num"},{"label":"溫度","value":"1","type":"str"},{"label":"濕度","value":"2","type":"str"},{"label":"酸鹼度","value":"3","type":"str"},{"label":"雨量","value":"4","type":"str"},{"label":"光照","value":"5","type":"str"}],"payload":"","topic":"","x":550,"y":3700,"wires":[["69eaef47.49349"]]},{"id":"8e529d13.69fd3","type":"function","z":"9c749a30.776c98","name":"context.global.config.triggers.t2.priority","func":"var priority = (msg.payload);\nif(context.global.config === undefined || context.global.config === null){\n    context.global.config = {};\n}\nif(context.global.config.triggers === undefined || context.global.config.triggers === null){\n    context.global.config.triggers = {};\n}\nif(context.global.config.triggers.t2 === undefined || context.global.config.triggers.t2 === null){\n    context.global.config.triggers.t2 = {};\n}\ncontext.global.config.triggers.t2.priority = priority;\nmsg.payload = \"context.global.config.triggers.t2.priority : \" + context.global.config.triggers.t2.priority;\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":3740,"wires":[[]]},{"id":"285ef21b.b19eae","type":"ui_switch","z":"9c749a30.776c98","name":"","label":"是否觸發","group":"1b28e548.30ddeb","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":570,"y":3780,"wires":[["ff4c1cc0.01267"]]},{"id":"ff4c1cc0.01267","type":"function","z":"9c749a30.776c98","name":"save context.global.config.triggers.t2.enable","func":"\nif(context.global.config === undefined || context.global.config === null){\n    context.global.config = {};\n}\nif(context.global.config.triggers === undefined || context.global.config.triggers === null){\n    context.global.config.triggers = {};\n}\nif(context.global.config.triggers.t2 === undefined || context.global.config.triggers.t2 === null){\n    context.global.config.triggers.t2 = {};\n}\nvar enable = 0;\nif(msg.payload) {\n     enable = 1;\n}\ncontext.global.config.triggers.t2.enable = enable;\nmsg.payload = \"context.global.config.triggers.t2.enable : \" + context.global.config.triggers.t2.enable;\nreturn msg;","outputs":1,"noerr":0,"x":890,"y":3780,"wires":[[]]},{"id":"c7a04619.c895f8","type":"function","z":"9c749a30.776c98","name":"save context.global.config.triggers.t2.lower","func":"var lower = (msg.payload);\nif(context.global.config === undefined || context.global.config === null){\n    context.global.config = {};\n}\nif(context.global.config.triggers === undefined || context.global.config.triggers === null){\n    context.global.config.triggers = {};\n}\nif(context.global.config.triggers.t2 === undefined || context.global.config.triggers.t2 === null){\n    context.global.config.triggers.t2 = {};\n}\ncontext.global.config.triggers.t2.lower = lower;\nmsg.payload = \"context.global.config.triggers.t2.lower : \" + context.global.config.triggers.t2.lowe;\nreturn msg;","outputs":1,"noerr":0,"x":950,"y":3820,"wires":[[]]},{"id":"18c65258.d73bbe","type":"function","z":"9c749a30.776c98","name":"save context.global.config.triggers.t2.higher","func":"var higher = (msg.payload);\nif(context.global.config === undefined || context.global.config === null){\n    context.global.config = {};\n}\nif(context.global.config.triggers === undefined || context.global.config.triggers === null){\n    context.global.config.triggers = {};\n}\nif(context.global.config.triggers.t2 === undefined || context.global.config.triggers.t2 === null){\n    context.global.config.triggers.t2 = {};\n}\ncontext.global.config.triggers.t2.higher = higher;\nmsg.payload = \"context.global.config.triggers.t2.higher : \" + context.global.config.triggers.t2.higher;\nreturn msg;","outputs":1,"noerr":0,"x":910,"y":3860,"wires":[[]]},{"id":"238ac5f.d48573a","type":"ui_text_input","z":"9c749a30.776c98","name":"優先等級 1","label":"優先等級","group":"e4e2f5c7.4b3c98","order":3,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":550,"y":3940,"wires":[["ceb6709d.1ca01"]]},{"id":"1a54ec6b.66e174","type":"ui_text_input","z":"9c749a30.776c98","name":"高於觸發設定值觸發 1","label":"高於觸發設定值觸發","group":"e4e2f5c7.4b3c98","order":5,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":590,"y":4060,"wires":[["7fc0e536.a2c0dc"]]},{"id":"90d1ab50.349dd8","type":"function","z":"9c749a30.776c98","name":"save context.global.config.triggers.t3.type","func":"var type = (msg.payload);\nif(context.global.config === undefined || context.global.config === null){\n    context.global.config = {};\n}\nif(context.global.config.triggers === undefined || context.global.config.triggers === null){\n    context.global.config.triggers = {};\n}\nif(context.global.config.triggers.t3 === undefined || context.global.config.triggers.t3 === null){\n    context.global.config.triggers.t3 = {};\n}\ncontext.global.config.triggers.t3.type = type;\nmsg.payload = \"context.global.config.triggers.t3.type : \" + context.global.config.triggers.t3.type;\nreturn msg;","outputs":1,"noerr":0,"x":860,"y":3900,"wires":[[]]},{"id":"8f4b77d1.466988","type":"ui_dropdown","z":"9c749a30.776c98","name":"觸發類型 1","label":"","place":"觸發類型","group":"e4e2f5c7.4b3c98","order":2,"width":0,"height":0,"passthru":true,"options":[{"label":"未設定","value":0,"type":"num"},{"label":"溫度","value":"1","type":"str"},{"label":"濕度","value":"2","type":"str"},{"label":"酸鹼度","value":"3","type":"str"},{"label":"雨量","value":"4","type":"str"},{"label":"光照","value":"5","type":"str"}],"payload":"","topic":"","x":550,"y":3900,"wires":[["90d1ab50.349dd8"]]},{"id":"ceb6709d.1ca01","type":"function","z":"9c749a30.776c98","name":"save context.global.config.triggers.t3.priority","func":"var priority = (msg.payload);\nif(context.global.config === undefined || context.global.config === null){\n    context.global.config = {};\n}\nif(context.global.config.triggers === undefined || context.global.config.triggers === null){\n    context.global.config.triggers = {};\n}\nif(context.global.config.triggers.t3 === undefined || context.global.config.triggers.t3 === null){\n    context.global.config.triggers.t3 = {};\n}\ncontext.global.config.triggers.t3.priority = priority;\nmsg.payload = \"context.global.config.triggers.t3.priority : \" + context.global.config.triggers.t3.priority;\nreturn msg;","outputs":1,"noerr":0,"x":870,"y":3940,"wires":[[]]},{"id":"2909594b.58b0a6","type":"ui_switch","z":"9c749a30.776c98","name":"","label":"是否觸發","group":"e4e2f5c7.4b3c98","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":570,"y":3980,"wires":[["1d34dc78.0b65a4"]]},{"id":"1d34dc78.0b65a4","type":"function","z":"9c749a30.776c98","name":"save context.global.config.triggers.t3.enable","func":"\nif(context.global.config === undefined || context.global.config === null){\n    context.global.config = {};\n}\nif(context.global.config.triggers === undefined || context.global.config.triggers === null){\n    context.global.config.triggers = {};\n}\nif(context.global.config.triggers.t3 === undefined || context.global.config.triggers.t3 === null){\n    context.global.config.triggers.t3 = {};\n}\nvar enable = 0;\nif(msg.payload) {\n     enable = 1;\n}\ncontext.global.config.triggers.t3.enable = enable;\nmsg.payload = \"context.global.config.triggers.t3.enable : \" + context.global.config.triggers.t3.enable;\nreturn msg;","outputs":1,"noerr":0,"x":890,"y":3980,"wires":[[]]},{"id":"c707f661.f83d28","type":"function","z":"9c749a30.776c98","name":"save context.global.config.triggers.t3.lower","func":"var lower = (msg.payload);\nif(context.global.config === undefined || context.global.config === null){\n    context.global.config = {};\n}\nif(context.global.config.triggers === undefined || context.global.config.triggers === null){\n    context.global.config.triggers = {};\n}\nif(context.global.config.triggers.t3 === undefined || context.global.config.triggers.t3 === null){\n    context.global.config.triggers.t3 = {};\n}\ncontext.global.config.triggers.t3.lower = lower;\nmsg.payload = \"context.global.config.triggers.t3.lower : \" + context.global.config.triggers.t3.lower;\nreturn msg;","outputs":1,"noerr":0,"x":910,"y":4020,"wires":[[]]},{"id":"7fc0e536.a2c0dc","type":"function","z":"9c749a30.776c98","name":"save context.global.config.triggers.t3.higher","func":"var higher =(msg.payload);\nif(context.global.config === undefined || context.global.config === null){\n    context.global.config = {};\n}\nif(context.global.config.triggers === undefined || context.global.config.triggers === null){\n    context.global.config.triggers = {};\n}\nif(context.global.config.triggers.t3 === undefined || context.global.config.triggers.t3 === null){\n    context.global.config.triggers.t3 = {};\n}\ncontext.global.config.triggers.t3.higher = higher;\nmsg.payload = \"context.global.config.triggers.t3.higher : \" + context.global.config.triggers.t3.higher;\nreturn msg;","outputs":1,"noerr":0,"x":910,"y":4060,"wires":[[]]},{"id":"365f998d.60fb76","type":"ui_text_input","z":"9c749a30.776c98","name":"","label":"輸入查詢Index","group":"8faf6427.907218","order":2,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":170,"y":3180,"wires":[["5d80e740.b275d8"]]},{"id":"5d80e740.b275d8","type":"function","z":"9c749a30.776c98","name":"save context.global.config.index","func":"var index = msg.payload;\nif(context.global.config === undefined || context.global.config === null){\n    context.global.config = {};\n}\ncontext.global.config.index = index;\nnode.warn(\"context.global.config.index : \" + context.global.config.index);\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":3180,"wires":[[]]},{"id":"97ffe486.cdc388","type":"function","z":"9c749a30.776c98","name":"","func":"var msg1 = {};\nif(context.global.config === undefined || context.global.config === null){\n    context.global.config = {};\n    msg1.payload = \"尚未設定觸發配置\";\n} else if(context.global.config.dates === undefined || context.global.config.dates === null){\n    context.global.config.dates = {};\n    msg1.payload = \"尚未設定觸發日期配置\";\n} else if(context.global.config.triggers === undefined || context.global.config.triggers === null){\n    context.global.config.triggers = {};\n    msg1.payload = \"尚未設定觸發\";\n} else if(context.global.config.triggers.t1 === undefined || context.global.config.triggers.t1 === null){\n   context.global.config.triggers.t1 = {};\n    msg1.payload = \"尚未設定第一組觸發\";\n}  else if(context.global.config.triggers.t2 === undefined || context.global.config.triggers.t2 === null){\n   context.global.config.triggers.t1 = {};\n    msg1.payload = \"尚未設定第二組觸發\";\n}  else if(context.global.config.triggers.t2 === undefined || context.global.config.triggers.t2 === null){\n   context.global.config.triggers.t1 = {};\n    msg1.payload = \"尚未設定第三組觸發\";\n}  else if(context.global.config.index === ''){\n    msg1.payload = \"尚未設定觸發排程index\";\n} else if(context.global.config.dates.month === ''){\n    msg1.payload = \"尚未設定觸發月份\";\n} else if(context.global.config.dates.day === ''){\n    msg1.payload = \"尚未設定觸發日期\";\n}  else if(context.global.config.dates.day === ''){\n    msg1.payload = \"尚未設定是否啟用\";\n} else {\n    msg1 = null;\n}\n\nreturn [msg1, msg];","outputs":2,"noerr":0,"x":390,"y":3120,"wires":[["f12c31d1.f3fa4"],["b7e831fc.833ae","899be3d7.e89f"]]},{"id":"f12c31d1.f3fa4","type":"ui_toast","z":"9c749a30.776c98","position":"top right","displayTime":"3","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"","x":530,"y":3020,"wires":[]},{"id":"6e00e6b5.a79fd8","type":"link in","z":"9c749a30.776c98","name":"查詢觸發","links":["13f4fdb9.a81e92","4a805a59.7ce8f4"],"x":180,"y":3500,"wires":[["4697a4fb.8d2a3c"]]},{"id":"13f4fdb9.a81e92","type":"link out","z":"9c749a30.776c98","name":"","links":["6e00e6b5.a79fd8"],"x":1660,"y":960,"wires":[]},{"id":"24b25986.fa28e6","type":"ui_text_input","z":"9c749a30.776c98","name":"低於觸發設定值觸發 1","label":"低於觸發設定值反向觸發","group":"e4e2f5c7.4b3c98","order":4,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":590,"y":4020,"wires":[["c707f661.f83d28"]]},{"id":"da4a7e76.f0a0f","type":"function","z":"9c749a30.776c98","name":"clean set","func":"msg.payload = 'clean';\nreturn msg;","outputs":1,"noerr":0,"x":870,"y":3220,"wires":[["4a805a59.7ce8f4"]]},{"id":"4a805a59.7ce8f4","type":"link out","z":"9c749a30.776c98","name":"","links":["6e00e6b5.a79fd8"],"x":995,"y":3220,"wires":[]},{"id":"928e2a35.4a6208","type":"debug","z":"9c749a30.776c98","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1080,"y":3320,"wires":[]},{"id":"6dfd0b17.d80124","type":"inject","z":"9c749a30.776c98","name":"","topic":"","payload":"clean","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":3420,"wires":[["4697a4fb.8d2a3c"]]},{"id":"899be3d7.e89f","type":"function","z":"9c749a30.776c98","name":"SET Confog Command","func":"\nlet setting = context.global.setting;\n// node.warn(JSON.stringify(setting));\nlet data = getData(msg.payload);\n\ncontext.global.selectData = data;\nreturn msg;\n\nfunction getData(flag) {\n    let serialNum = context.global.serialNum + 1;\n    if (serialNum > 0xEF || context.global.enableSerialNum === false) {\n        serialNum = 0x00;\n    }\n    context.global.serialNum = serialNum;\n    let a0 = 0xAA; // Header\n    let a1 = serialNum; // Serial number\n    //a1 = 0x00;\n    let a2 = 0x02;//Command\n    let a3 = 0x07;//Code\n    let a4 = 0x0D;//PL\n    let a5 = 0x00;//Praraeter 1 : index\n    let a6 = 0x08;//Praraeter 2 9月\n    let a7 = 0x01;//Praraeter 3 20日\n    let a8 = 0x01;//Praraeter 4 enable\n    //Trigger1 setting\n    let a9 = 0x13;//Praraeter 5 trigger 1 condition 感測溫度/允許觸發/一般等級\n    let a10 = 0x19;//Praraeter6 lower trigger value :低於25觸發回復原本狀態\n    let a11 = 0x1E;//Praraeter7 higher trigger value :高於30觸發更新狀態\n    //Trigger2 setting\n    let a12 = 0x23;//Praraeter8 trigger 2 condition 感測濕度/允許觸發/一般等級\n    let a13 = 0x32;//Praraeter6 lower trigger value :低於50觸發回復原本狀態\n    let a14 = 0x46;//Praraeter7 higher trigger value :高於70觸發更新狀態\n    //Trigger3 setting\n    let a15 = 0x51;//Praraeter 5 trigger 1 condition 感測光照/允許觸發/最高優先\n    let a16 = 0x14;//Praraeter6 lower trigger value :低於(20*10) = 200 觸發回復原本狀態\n    let a17 = 0xFF;//Praraeter7 higher trigger value :高於(60*10) = 600 觸發更新狀態\n    \n    \n    let a18 = a2 + a3 + a4 + a5 + a6 + a7 + a8 + a9 + a10 ; //Checksum\n    a18 = a18 + a11 + a12 + a13 + a14 + a15 + a16 + a17;\n    //node.warn('before a18 :' + a18);\n    a18 = a18 & 0xFF;\n    //node.warn('after a18 :' + a18);\n    \n    let a19 = 0x8E;//End\n\n    let test = toStr(a0) + toStr(a1) + toStr(a2) + toStr(a3) + toStr(a4) + toStr(a5) + toStr(a6) + toStr(a7) + toStr(a8) + toStr(a9) ;\n    test = test + toStr(a10) + toStr(a11) + toStr(a12) + toStr(a13) + toStr(a14) + toStr(a15) + toStr(a16) + toStr(a17) + toStr(a18) + toStr(a19);\n    return test;\n}\n\nfunction toStr(value) {\n    let str = '';\n    if (value < 0x10) {\n        str = '0' + value.toString(16);\n    } else {\n        str = value.toString(16);\n    }\n    // node.warn(str);\n    return str.toUpperCase();\n}","outputs":1,"noerr":0,"x":700,"y":3080,"wires":[[]]},{"id":"5306e945.1c0eb8","type":"mqtt-broker","z":"","name":"花蓮農業","broker":"161.202.32.59","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"fe6e8f71.dffc2","type":"ui_group","z":"","name":"Light Control","tab":"64535146.286eb","order":3,"disp":true,"width":"6","collapse":false},{"id":"bea29ae6.721d88","type":"ui_group","z":"","name":"Query Controler Status","tab":"64535146.286eb","order":5,"disp":true,"width":"8","collapse":false},{"id":"c9eb3df6.b1d9","type":"ui_group","z":"","name":"Node Response","tab":"64535146.286eb","order":4,"disp":true,"width":"6","collapse":false},{"id":"913348d8.5153c8","type":"ui_group","z":"","name":"Query Automatic Switch Setting","tab":"12ab3b3d.040d65","order":5,"disp":true,"width":"6","collapse":false},{"id":"22bbd50f.9ff9ba","type":"ui_group","z":"","name":"Query Controller Time","tab":"12ab3b3d.040d65","order":6,"disp":true,"width":"6","collapse":false},{"id":"23ab2cd8.2b3fa4","type":"ui_group","z":"","name":"Set Keep-Alive Interval ","tab":"64535146.286eb","order":8,"disp":true,"width":"6","collapse":false},{"id":"377c9b94.801474","type":"ui_group","z":"","name":"Set controller time","tab":"12ab3b3d.040d65","order":2,"disp":true,"width":"6","collapse":false},{"id":"d0b391b7.ee885","type":"ui_group","z":"","name":"Automatic Lighting On/Off","tab":"12ab3b3d.040d65","order":3,"disp":true,"width":"6","collapse":false},{"id":"37aa5b43.a6f3e4","type":"ui_group","z":"","name":"Node Response","tab":"12ab3b3d.040d65","order":4,"disp":true,"width":"6","collapse":false},{"id":"8e4d3c4f.5de44","type":"ui_group","z":"","name":"Set Automatic Light Dimming Value","tab":"12ab3b3d.040d65","order":7,"disp":true,"width":"6","collapse":false},{"id":"b78fc2be.e4101","type":"ui_group","z":"","name":"Reset  Settings  Or Records","tab":"12ab3b3d.040d65","order":8,"disp":true,"width":"6","collapse":false},{"id":"e236317a.59dbd","type":"ui_group","z":"","name":"Query Keep-Alive Time","tab":"64535146.286eb","order":6,"disp":true,"width":"6","collapse":false},{"id":"4c5f3642.a0c608","type":"ui_group","z":"","name":"Reset Serial Port ","tab":"64535146.286eb","order":7,"disp":true,"width":"6","collapse":false},{"id":"3ea7965f.1e991a","type":"ui_group","z":"","name":"Notify ","tab":"64535146.286eb","order":2,"disp":true,"width":"8","collapse":false},{"id":"ee18ce0d.e1a4d","type":"ui_group","z":"","name":"Manual  DL Command","tab":"64535146.286eb","order":9,"disp":true,"width":"6","collapse":false},{"id":"14e3fa7.315a906","type":"ui_group","z":"","name":"DL Command","tab":"64535146.286eb","order":1,"disp":true,"width":"6","collapse":false},{"id":"a41bf8e5.5f2a08","type":"ui_group","z":"","name":"DL Command","tab":"12ab3b3d.040d65","order":1,"disp":true,"width":"6","collapse":false},{"id":"b269945f.1d1318","type":"ui_group","z":"","name":"Manual DL Command","tab":"12ab3b3d.040d65","order":10,"disp":true,"width":"6","collapse":false},{"id":"8faf6427.907218","type":"ui_group","z":"","name":"Command","tab":"c281729c.53193","order":4,"disp":true,"width":"6","collapse":false},{"id":"9d868193.3344c","type":"ui_group","z":"","name":"Config","tab":"c281729c.53193","order":5,"disp":true,"width":"6","collapse":false},{"id":"4d922a56.1e5b54","type":"ui_group","z":"","name":"Trigger 1 ","tab":"c281729c.53193","order":1,"disp":true,"width":"6","collapse":false},{"id":"1b28e548.30ddeb","type":"ui_group","z":"","name":"Trigger 2","tab":"c281729c.53193","order":2,"disp":true,"width":"6","collapse":false},{"id":"e4e2f5c7.4b3c98","type":"ui_group","z":"","name":"Trigger3","tab":"c281729c.53193","order":3,"disp":true,"width":"6","collapse":false},{"id":"64535146.286eb","type":"ui_tab","z":"","name":"Control","icon":"dashboard","order":1},{"id":"12ab3b3d.040d65","type":"ui_tab","z":"","name":"Automatic Control","icon":"dashboard","order":2},{"id":"c281729c.53193","type":"ui_tab","z":"","name":"trigger","icon":"dashboard","order":4}]