public/flow/port.json
[{"id":"57eab774.a9b618","type":"ui_text_input","z":"980ee0f3.f59ae","name":"","label":"","group":"e920aa35.67c0e8","order":0,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":308.0173645019531,"y":66.01041412353516,"wires":[["85389f6b.8a8a9"]]},{"id":"aac4a933.5e6288","type":"ui_text_input","z":"980ee0f3.f59ae","name":"","label":"","group":"20104fa8.e683b","order":0,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":314.7172317504883,"y":118.210280418396,"wires":[["ffabd5ba.0b2bc8"]]},{"id":"85389f6b.8a8a9","type":"function","z":"980ee0f3.f59ae","name":"context.global.fwMac","func":"context.global.fwMac = msg.payload;\nnode.warn(context.global.fwMac);\nreturn;","outputs":1,"noerr":0,"x":531.0173492431641,"y":67.01044750213623,"wires":[[]]},{"id":"ffabd5ba.0b2bc8","type":"function","z":"980ee0f3.f59ae","name":"context.global.fwPIN","func":"context.global.fwPIN = msg.payload;\nnode.warn(context.global.fwPIN);\nreturn;","outputs":1,"noerr":0,"x":530.1173400878906,"y":118.35419178009033,"wires":[[]]},{"id":"abe3f39d.e6be1","type":"comment","z":"980ee0f3.f59ae","name":"輸入MAC&PIN","info":"","x":156.51121520996094,"y":69.57293605804443,"wires":[]},{"id":"9cc3b1ec.7afc4","type":"inject","z":"980ee0f3.f59ae","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":157.01736450195312,"y":196.01041412353516,"wires":[["bccb0668.354218"]]},{"id":"bccb0668.354218","type":"function","z":"980ee0f3.f59ae","name":"","func":"let work = context.global.work;\nwork.getPortList(function(err, ports){\n    var arr = [];\n    ports.forEach(function(port) {\n        // node.warn(port.comName);\n        arr.push(port.comName);\n    });\n    node.send({payload:arr, options:arr});\n});\n","outputs":1,"noerr":0,"x":323.0173645019531,"y":208.01041412353516,"wires":[["dc6e7a8f.488de8","3c83894c.ec0326"]]},{"id":"dc6e7a8f.488de8","type":"debug","z":"980ee0f3.f59ae","name":"","active":false,"console":"false","complete":"false","x":512.0173645019531,"y":218.01041412353516,"wires":[]},{"id":"837b72c9.2203f","type":"ui_button","z":"980ee0f3.f59ae","name":"","group":"18c65bc8.476014","order":0,"width":0,"height":0,"passthru":false,"label":"查詢通訊埠","color":"","bgcolor":"#be9927","icon":"","payload":"","payloadType":"str","topic":"","x":144.01736450195312,"y":240.01041412353516,"wires":[["bccb0668.354218"]]},{"id":"13c94f16.608561","type":"debug","z":"980ee0f3.f59ae","name":"","active":false,"console":"false","complete":"false","x":424.0173645019531,"y":270.01041412353516,"wires":[]},{"id":"3c83894c.ec0326","type":"ui_template","z":"980ee0f3.f59ae","group":"18c65bc8.476014","name":"","order":0,"width":0,"height":0,"format":"<script>\nvar value = \"hello world\";\n// or overwrite value in your callback function ...\nthis.scope.action = function(event) { \n    var selectBox = document.getElementById(\"selectBox\");\n    var selectedValue = selectBox.options[selectBox.selectedIndex].value;\n    return selectedValue.trim(); \n}\n</script>\n<div style=\"width:200px;height:50px\">\n    選擇通訊埠\n    \n    <select id=\"selectBox\" ng-click=\"send({payload:action($this)})\">\n        <option ng-repeat=\"item in msg.payload\" [value]=\"item\" >\n          {{item}}\n        </option>\n    </select>\n</div>","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":159.01736450195312,"y":311.01041412353516,"wires":[["13c94f16.608561","66814e7a.310d5"]]},{"id":"66814e7a.310d5","type":"function","z":"980ee0f3.f59ae","name":"","func":"context.global.com = msg.payload;\nreturn null;\n","outputs":1,"noerr":0,"x":379.0173645019531,"y":313.01041412353516,"wires":[[]]},{"id":"aa055afa.fdea88","type":"ui_button","z":"980ee0f3.f59ae","name":"","group":"18c65bc8.476014","order":0,"width":0,"height":0,"passthru":false,"label":"開啟通訊埠","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":151.01736450195312,"y":377.01041412353516,"wires":[["127b2017.dc2fb","41509211.bd54ec"]]},{"id":"b18f311b.ec00b","type":"debug","z":"980ee0f3.f59ae","name":"","active":false,"console":"false","complete":"false","x":546.0173645019531,"y":317.01041412353516,"wires":[]},{"id":"127b2017.dc2fb","type":"function","z":"980ee0f3.f59ae","name":"","func":"var com = context.global.com;\nif (com === undefined || com === null || com.length ===0) {\n    return [null, {payload:'尚未選擇通訊埠!!!'}];\n}\nlet work = context.global.work;\nnode.warn('連線: ' + com);\nwork.connectionPort(com, function(myPort){\n    \n    /*myPort.on('data', function(data) {\n        //console.log(data);\n        let str = '';\n        //let hex = '';\n        for(let i=0; i < data.length; ++i) {\n            //hex = hex + data[i] + ' ';\n            str = str +String.fromCharCode(data[i]);\n        }\n        \n        node.warn(str);\n        node.send([{payload:str}, null]);\n    });*/\n    \n    myPort.on('close', function(){\n        //node.warn('關閉');\n        node.send([null, {payload:'關閉'}]);\n        // reconnectDevice();\n    });\n    \n    myPort.on('error', function (err) {\n        //node.warn(err);\n        //console.error(\"error\", err);\n        // reconnectDevice();\n        node.send([null, {payload:err}]);\n    });\n    \n    myPort.on('disconnected', function (err) {\n        //node.warn('COM PORT斷線');\n        // reconnectDevice();\n        node.send([null, {payload:'斷線'}]);\n    });\n    \n});","outputs":"2","noerr":0,"x":319.0173645019531,"y":379.01041412353516,"wires":[["b18f311b.ec00b"],["76b7025d.35cddc","c5ddf345.dc232","ed1a701e.eb94c","baf7da75.11aa68"]]},{"id":"76b7025d.35cddc","type":"ui_text","z":"980ee0f3.f59ae","group":"18c65bc8.476014","order":0,"width":0,"height":0,"name":"","label":"通訊埠狀態 :","format":"{{msg.payload}}","layout":"row-spread","x":545.0173721313477,"y":427.01041984558105,"wires":[]},{"id":"c5ddf345.dc232","type":"debug","z":"980ee0f3.f59ae","name":"","active":false,"console":"false","complete":"payload","x":544.0173645019531,"y":465.0104160308838,"wires":[]},{"id":"41509211.bd54ec","type":"function","z":"980ee0f3.f59ae","name":"","func":"msg ={payload:'開啟'};\nreturn msg;","outputs":1,"noerr":0,"x":313.0173645019531,"y":435.01041412353516,"wires":[["76b7025d.35cddc"]]},{"id":"6ad2a018.ef63c","type":"function","z":"980ee0f3.f59ae","name":"","func":"context.global.testCmd = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":326.0173645019531,"y":578.0104141235352,"wires":[[]]},{"id":"1206c62f.e7b8fa","type":"ui_text_input","z":"980ee0f3.f59ae","name":"","label":"","group":"","order":0,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":131.01736450195312,"y":577.0104141235352,"wires":[["6ad2a018.ef63c"]]},{"id":"1f38def8.c404a1","type":"ui_button","z":"980ee0f3.f59ae","name":"","group":"","order":0,"width":0,"height":0,"passthru":false,"label":"AT Command","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":151.01736450195312,"y":625.0104141235352,"wires":[["d8f5f9e8.4dfff8","dda26421.6117c8"]]},{"id":"d8f5f9e8.4dfff8","type":"function","z":"980ee0f3.f59ae","name":"","func":"let testCmd = context.global.testCmd;\ntestCmd = testCmd + '\\r\\n';\nlet work = context.global.work;\n\nwork.sendCommand(testCmd, function(err){\n    if(err){\n        node.warn(err);\n    }\n})\n\nmsg.payload = testCmd;\nreturn msg;","outputs":1,"noerr":0,"x":336.0173645019531,"y":627.0104141235352,"wires":[["a778e021.2a40c"]]},{"id":"a778e021.2a40c","type":"debug","z":"980ee0f3.f59ae","name":"","active":true,"console":"false","complete":"false","x":513.0173645019531,"y":631.0104141235352,"wires":[]},{"id":"dda26421.6117c8","type":"delay","z":"980ee0f3.f59ae","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":314.0173645019531,"y":688.0104141235352,"wires":[["d126233e.52cf6"]]},{"id":"d126233e.52cf6","type":"function","z":"980ee0f3.f59ae","name":"","func":"let work = context.global.work;\nmsg.payload = work.getCheck();\nreturn msg;","outputs":1,"noerr":0,"x":479.0173645019531,"y":691.0104141235352,"wires":[["b4925774.163ac8"]]},{"id":"b4925774.163ac8","type":"ui_text","z":"980ee0f3.f59ae","group":"18c65bc8.476014","order":0,"width":0,"height":0,"name":"","label":"回應:","format":"{{msg.payload}}","layout":"row-spread","x":624.0173645019531,"y":689.0104141235352,"wires":[]},{"id":"ed1a701e.eb94c","type":"switch","z":"980ee0f3.f59ae","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"關閉","vt":"str"}],"checkall":"true","outputs":1,"x":437.0173645019531,"y":505.01041412353516,"wires":[["23878be3.a05dc4"]]},{"id":"23878be3.a05dc4","type":"function","z":"980ee0f3.f59ae","name":"清除顯示","func":"msg.payload = '';\nreturn msg;","outputs":1,"noerr":0,"x":543.0173645019531,"y":586.0104141235352,"wires":[["b4925774.163ac8"]]},{"id":"ce210b32.3e47a8","type":"comment","z":"980ee0f3.f59ae","name":"手動測試","info":"","x":125.01736450195312,"y":539.0104141235352,"wires":[]},{"id":"75a96ba5.1052b4","type":"ui_button","z":"980ee0f3.f59ae","name":"","group":"b6ce277e.db4f08","order":0,"width":0,"height":0,"passthru":false,"label":"自動完成寫入MAC & PIN","color":"","bgcolor":"#008000","icon":"","payload":"","payloadType":"str","topic":"","x":153.01736450195312,"y":747.0104141235352,"wires":[["70dece78.19ed8"]]},{"id":"29f2410d.57192e","type":"debug","z":"980ee0f3.f59ae","name":"","active":true,"console":"false","complete":"false","x":407.0173645019531,"y":806.0104141235352,"wires":[]},{"id":"70dece78.19ed8","type":"function","z":"980ee0f3.f59ae","name":"MAC & PIN檢查","func":"node.warn('mac:' + context.global.fwMac);\nif(context.global.fwMac === undefined || context.global.fwMac.length === 0) {\n    return [{payload:'MAC尚未輸入'}, null];\n} else if(context.global.fwMac.length !== 8) {\n    return [{payload:'MAC輸入長度須等於8'}, null];\n}\n\nif(context.global.fwPIN === undefined || context.global.fwPIN.length === 0) {\n    return [{payload:'PIN尚未輸入'}, null];\n} else if(context.global.fwPIN.length !== 4) {\n    return [{payload:'PIN輸入長度須等於4'}, null];\n}\n\nlet work = context.global.work;\nif( !work.isOpen()){\n    return [{payload:'尚未開啟通訊埠'}, null];\n}\nreturn [null, msg];","outputs":"2","noerr":0,"x":144.01736450195312,"y":802.0104141235352,"wires":[["29f2410d.57192e","5dca03e4.c164fc"],["747880ee.f4656"]]},{"id":"5dca03e4.c164fc","type":"ui_toast","z":"980ee0f3.f59ae","position":"top right","displayTime":"3","highlight":"5","outputs":0,"ok":"OK","cancel":"","topic":"","name":"","x":430.0173645019531,"y":769.0104141235352,"wires":[]},{"id":"747880ee.f4656","type":"function","z":"980ee0f3.f59ae","name":"設定 Admin command","func":"msg.payload = 'AT+GADM=1,$id@uh#e9';\nreturn msg;","outputs":1,"noerr":0,"x":332.0173645019531,"y":891.0104141235352,"wires":[["a757b21d.2590e","2c174781.6bf1c8","82c20b2a.1c6558"]]},{"id":"a757b21d.2590e","type":"function","z":"980ee0f3.f59ae","name":"send Command","func":"let testCmd = msg.payload + '\\r\\n';\nlet work = context.global.work;\n\nwork.sendCommand(testCmd, function(err){\n    if(err){\n        node.warn(err);\n    }\n})\n\nmsg.payload = testCmd;\nreturn msg;","outputs":1,"noerr":0,"x":623.0173645019531,"y":890.0104141235352,"wires":[[]]},{"id":"2c174781.6bf1c8","type":"link out","z":"980ee0f3.f59ae","name":"","links":["800a7bec.6e2528"],"x":587.0173645019531,"y":1052.0104141235352,"wires":[]},{"id":"800a7bec.6e2528","type":"link in","z":"980ee0f3.f59ae","name":"回應結果","links":["2c174781.6bf1c8"],"x":138.01736450195312,"y":688.0104141235352,"wires":[["dda26421.6117c8"]]},{"id":"ad66855b.fdc918","type":"function","z":"980ee0f3.f59ae","name":"設定 PIN Command","func":"msg.payload = 'AT+GPIN=' + context.global.fwPIN;\nreturn msg;","outputs":1,"noerr":0,"x":316.0173645019531,"y":938.0104141235352,"wires":[["a757b21d.2590e","2c174781.6bf1c8","c0cb55d4.a8ade8"]]},{"id":"a1155b60.900628","type":"function","z":"980ee0f3.f59ae","name":"設定MAC Command","func":"msg.payload = 'AT+GGMD=\"'+ context.global.fwMac +'\",\"GLN0165100000\"';\nreturn msg;","outputs":1,"noerr":0,"x":328.0173645019531,"y":979.0104141235352,"wires":[["2c174781.6bf1c8","a757b21d.2590e","56b0f6de.73d7b8"]]},{"id":"db08662a.6e26a8","type":"function","z":"980ee0f3.f59ae","name":"設定 KEY Command","func":"msg.payload = 'AT+GKEY=E4653B32142F9CB7C28D3BF5784E5754,E4653B32142F9CB7C28D3BF5784E5754';\nreturn msg;","outputs":1,"noerr":0,"x":327.0173645019531,"y":1016.0104141235352,"wires":[["2c174781.6bf1c8","a757b21d.2590e","bfb8bdc5.9bf4a"]]},{"id":"72c671b9.292d5","type":"function","z":"980ee0f3.f59ae","name":"AT&W Command","func":"msg.payload = 'AT&W';\nreturn msg;","outputs":1,"noerr":0,"x":325.0173645019531,"y":1055.0104141235352,"wires":[["2c174781.6bf1c8","a757b21d.2590e","616c5f5d.c6d1f"]]},{"id":"b01327d2.741f98","type":"function","z":"980ee0f3.f59ae","name":"ATZ  Command","func":"msg.payload = 'ATZ';\nreturn msg;","outputs":1,"noerr":0,"x":316.0173645019531,"y":1094.0104141235352,"wires":[["2c174781.6bf1c8","a757b21d.2590e","6e446156.54383"]]},{"id":"82c20b2a.1c6558","type":"delay","z":"980ee0f3.f59ae","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":123.01736450195312,"y":940.0104141235352,"wires":[["ad66855b.fdc918"]]},{"id":"c0cb55d4.a8ade8","type":"delay","z":"980ee0f3.f59ae","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":123.01736450195312,"y":978.0104141235352,"wires":[["a1155b60.900628"]]},{"id":"56b0f6de.73d7b8","type":"delay","z":"980ee0f3.f59ae","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":123.01736450195312,"y":1015.0104141235352,"wires":[["db08662a.6e26a8"]]},{"id":"330231cd.6c25be","type":"function","z":"980ee0f3.f59ae","name":"查詢 PIN Command","func":"msg.payload = 'AT+GPIN?';\nreturn msg;","outputs":1,"noerr":0,"x":324.0173645019531,"y":1136.0104141235352,"wires":[["a757b21d.2590e","2c174781.6bf1c8","163eb96a.6ca3d7"]]},{"id":"bfb8bdc5.9bf4a","type":"delay","z":"980ee0f3.f59ae","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":123.01736450195312,"y":1053.0104141235352,"wires":[["72c671b9.292d5"]]},{"id":"616c5f5d.c6d1f","type":"delay","z":"980ee0f3.f59ae","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":124.01736450195312,"y":1093.0104141235352,"wires":[["b01327d2.741f98"]]},{"id":"6e446156.54383","type":"delay","z":"980ee0f3.f59ae","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":126.01736450195312,"y":1136.0104141235352,"wires":[["330231cd.6c25be"]]},{"id":"b9d32157.b2f5e","type":"function","z":"980ee0f3.f59ae","name":"查詢 MAC Command","func":"msg.payload = 'AT+GGMD?';\nreturn msg;","outputs":1,"noerr":0,"x":345.0173645019531,"y":1177.0104141235352,"wires":[["2c174781.6bf1c8","a757b21d.2590e","b7ee34b9.81bb28"]]},{"id":"163eb96a.6ca3d7","type":"delay","z":"980ee0f3.f59ae","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":124.01736450195312,"y":1176.0104141235352,"wires":[["b9d32157.b2f5e"]]},{"id":"b7ee34b9.81bb28","type":"delay","z":"980ee0f3.f59ae","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":128.01736450195312,"y":1221.0104141235352,"wires":[["8a69d74c.753328"]]},{"id":"8a69d74c.753328","type":"function","z":"980ee0f3.f59ae","name":"","func":"let work = context.global.work;\nvar result = work.getResult();\nnode.warn(result);\nmsg.payload = 'MAC & PIN寫入完成'\nif(result.mac !== context.global.fwMac) {\n    msg.payload = 'MAC設定出現錯誤';\n}\nif(result.pin !== context.global.fwPIN) {\n    msg.payload = 'PIN設定出現錯誤';\n}\nreturn msg;","outputs":1,"noerr":0,"x":298.0173645019531,"y":1225.0104141235352,"wires":[["2faa1539.22b94a","b4925774.163ac8"]]},{"id":"2faa1539.22b94a","type":"ui_toast","z":"980ee0f3.f59ae","position":"top right","displayTime":"3","highlight":"5","outputs":0,"ok":"OK","cancel":"","topic":"","name":"","x":505.0173645019531,"y":1239.0104141235352,"wires":[]},{"id":"baf7da75.11aa68","type":"ui_toast","z":"980ee0f3.f59ae","position":"top right","displayTime":"3","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"","x":537.0764312744141,"y":383.7083511352539,"wires":[]},{"id":"e920aa35.67c0e8","type":"ui_group","z":"","name":"MAC","tab":"4c06bf5b.6e0c6","order":2,"disp":true,"width":"8","collapse":false},{"id":"20104fa8.e683b","type":"ui_group","z":"","name":"PIN","tab":"4c06bf5b.6e0c6","order":3,"disp":true,"width":"8","collapse":false},{"id":"18c65bc8.476014","type":"ui_group","z":"","name":"通訊埠設定","tab":"4c06bf5b.6e0c6","order":1,"disp":true,"width":"8","collapse":false},{"id":"b6ce277e.db4f08","type":"ui_group","z":"","name":"自動寫入","tab":"4c06bf5b.6e0c6","order":5,"disp":true,"width":"8","collapse":false},{"id":"4c06bf5b.6e0c6","type":"ui_tab","z":"","name":"寫入MAC&PIN","icon":"dashboard","order":1}]